n8n/workflows/Check Service Health.json
{
  "name": "Check Service Health",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "container_name"
            },
            {
              "name": "port_number"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -160,
        -32
      ],
      "id": "bda1bfbc-0451-4648-8075-a632378bf7a8",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e29ee0e0-4b79-4967-b9ca-46bd5178b370",
              "leftValue": "={{ $json.ok }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        864,
        -160
      ],
      "id": "71d0ad89-bab2-45fe-922a-19ffd47a7844",
      "name": "Container Ok?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1821cd89-062d-494f-84b2-057fd682634c",
              "leftValue": "={{ $now }}",
              "rightValue": "={{ $('Set Start Time').item.json.started_at.toDateTime().plus(5, 'minutes') }}",
              "operator": {
                "type": "dateTime",
                "operation": "before"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1232,
        -48
      ],
      "id": "1351ed43-e566-49e8-9569-3eaf2acdd61a",
      "name": "< 5 min?"
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1392,
        80
      ],
      "id": "62ec0823-8310-4657-a88b-c3a3f4fbe3df",
      "name": "Wait 15s",
      "webhookId": "146924f7-680b-42b3-ad97-274d4a8fcca7"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8b05d290-61e8-487b-959c-d78adab05f1e",
              "name": "status",
              "value": 200,
              "type": "number"
            },
            {
              "id": "1f5df720-462d-4ae1-9c52-e6ae72e2bdb6",
              "name": "service",
              "value": "={{ $('When Executed by Another Workflow').item.json.container_name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1456,
        -256
      ],
      "id": "ab63ef1b-84bc-4030-bb93-ea68a93dbe5e",
      "name": "Return 200"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6830507c-3dca-4ead-9d6d-37b6f8da1476",
              "name": "status",
              "value": 500,
              "type": "number"
            },
            {
              "id": "dab49cf7-c9be-4edc-8a53-f13d98b045f4",
              "name": "service",
              "value": "={{ $('When Executed by Another Workflow').item.json.container_name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1456,
        -96
      ],
      "id": "4e133b66-21be-4116-b743-841ba92d0807",
      "name": "Return 500"
    },
    {
      "parameters": {
        "url": "=http://{{ $('When Executed by Another Workflow').item.json.container_name }}:{{ $('When Executed by Another Workflow').item.json.port_number }}/health",
        "options": {
          "timeout": 5000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        384,
        -192
      ],
      "id": "3312615c-4e35-4288-846e-883033553e02",
      "name": "Health Check"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "71e8b072-6c09-46db-8a54-205653220079",
              "name": "started_at",
              "value": "={{ $now }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        160,
        -80
      ],
      "id": "8802719a-d6ca-48c6-b70b-2f78f78c4b6d",
      "name": "Set Start Time"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "container_name": "dbt_runner",
          "port_number": "8080"
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Set Start Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Container Ok?": {
      "main": [
        [
          {
            "node": "Return 200",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "< 5 min?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "< 5 min?": {
      "main": [
        [
          {
            "node": "Wait 15s",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return 500",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 15s": {
      "main": [
        [
          {
            "node": "Health Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Health Check": {
      "main": [
        [
          {
            "node": "Container Ok?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Start Time": {
      "main": [
        [
          {
            "node": "Health Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "9ed5814e-9855-417f-97f1-5df3b18ea4f6",
  "meta": {
    "instanceId": "6819133d7d7a8c3c6c728508316cdaac6420c5bbe2de9a1439bbb952efe61179"
  },
  "id": "5LVLf3b01e5HnDMoslGZJ",
  "tags": []
}