n8n/workflows/Cleanup Artifacts.json
{
  "name": "Cleanup Artifacts",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 2,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1648,
        1344
      ],
      "id": "a3ac94fa-e324-432e-823a-de917f15fd81",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Terminate runs stuck in 'running' for more than 2 hours\nUPDATE runs\nSET status = 'terminated'\nWHERE status = 'running'\n  AND started_at < now() - interval '2 hours';\n\n-- Reset artifact_processing records stuck in 'processing' for more than 15 minutes\nUPDATE artifact_processing\nSET status = 'retry',\n    message = 'Reset from stale processing state by cleanup job'\nWHERE status = 'processing'\n  AND processed_at < now() - interval '15 minutes';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1440,
        1344
      ],
      "id": "16d488d4-59e2-4347-814a-46dea56da67e",
      "name": "Pipeline Maintenance",
      "credentials": {
        "postgres": {
          "id": "l8Ecbn62FzXCDkF9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT ra.artifact_id, ra.filepath\nFROM raw_artifacts ra\nWHERE ra.deleted_at IS NULL\n  AND ra.filepath IS NOT NULL\n  AND (\n    -- ok: delete after 15 days\n    EXISTS (\n      SELECT 1 FROM artifact_processing ap\n      WHERE ap.artifact_id = ra.artifact_id\n        AND ap.status = 'ok'\n        AND ra.fetched_at < now() - interval '15 days'\n    )\n    OR\n    -- skip (no ok): delete immediately\n    (\n      EXISTS (\n        SELECT 1 FROM artifact_processing ap\n        WHERE ap.artifact_id = ra.artifact_id AND ap.status = 'skip'\n      )\n      AND NOT EXISTS (\n        SELECT 1 FROM artifact_processing ap\n        WHERE ap.artifact_id = ra.artifact_id AND ap.status = 'ok'\n      )\n    )\n    OR\n    -- retry (no ok): delete after 30 days\n    (\n      EXISTS (\n        SELECT 1 FROM artifact_processing ap\n        WHERE ap.artifact_id = ra.artifact_id AND ap.status = 'retry'\n      )\n      AND NOT EXISTS (\n        SELECT 1 FROM artifact_processing ap\n        WHERE ap.artifact_id = ra.artifact_id AND ap.status = 'ok'\n      )\n      AND ra.fetched_at < now() - interval '30 days'\n    )\n  )\nLIMIT 200000;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1232,
        1344
      ],
      "id": "9e14840e-fea7-4527-84c8-487a400bda77",
      "name": "Get Candidates1",
      "credentials": {
        "postgres": {
          "id": "l8Ecbn62FzXCDkF9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "artifacts",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -1024,
        1344
      ],
      "id": "3d40e8b9-fcb9-4d85-bf3c-8a778fe8d986",
      "name": "Aggregate Rows"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a1b2c3d4-0001-0001-0001-000000000010",
              "leftValue": "={{ $json.artifacts.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -816,
        1344
      ],
      "id": "2f08c0aa-a3fb-43ca-ac36-8d239f722fca",
      "name": "Any Candidates?1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://cartracker-scraper:8000/cleanup/artifacts",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"artifacts\": {{ JSON.stringify($json.artifacts.map(r => ({ artifact_id: r.artifact_id, filepath: r.filepath }))) }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -608,
        1248
      ],
      "id": "2a2e9bc1-44ef-4c20-9974-6559c69d62e6",
      "name": "Call Cleanup API1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "results",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -400,
        1248
      ],
      "id": "1c6adc1d-d802-4631-93ea-636a36dfb0c6",
      "name": "Split Results1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "a1b2c3d4-0001-0001-0001-000000000011",
              "leftValue": "={{ $json.deleted }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -192,
        1248
      ],
      "id": "3a9d3e31-df00-443e-9307-8ea0d32d6dc3",
      "name": "Was Deleted?1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE raw_artifacts\nSET deleted_at = now()\nWHERE artifact_id = {{ $json.artifact_id }};",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        16,
        1136
      ],
      "id": "a9be451c-5799-4601-b0d1-a979dfd06b13",
      "name": "Mark Deleted1",
      "credentials": {
        "postgres": {
          "id": "l8Ecbn62FzXCDkF9",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Pipeline Maintenance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pipeline Maintenance": {
      "main": [
        [
          {
            "node": "Get Candidates1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Candidates1": {
      "main": [
        [
          {
            "node": "Aggregate Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Rows": {
      "main": [
        [
          {
            "node": "Any Candidates?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Any Candidates?1": {
      "main": [
        [
          {
            "node": "Call Cleanup API1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Cleanup API1": {
      "main": [
        [
          {
            "node": "Split Results1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Results1": {
      "main": [
        [
          {
            "node": "Was Deleted?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Was Deleted?1": {
      "main": [
        [
          {
            "node": "Mark Deleted1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "a59f13e8-b738-4af3-a877-c495a5102a53",
  "meta": {
    "instanceId": "6819133d7d7a8c3c6c728508316cdaac6420c5bbe2de9a1439bbb952efe61179"
  },
  "id": "yvi0fCeO61X9-hL_w9I5Y",
  "tags": []
}