n8n/workflows/Cleanup Parquet.json
{
  "name": "Cleanup Parquet",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 3
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -80,
        -48
      ],
      "id": "9b28bf38-1dda-47dd-8140-18153f5f4fed",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "QrtISF4STFcsa2bug83s4",
          "mode": "list",
          "cachedResultUrl": "/workflow/QrtISF4STFcsa2bug83s4",
          "cachedResultName": "Check Deploy Intent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "parent_workflow_name": "={{ $workflow.name }}",
            "parent_workflow_id": "={{ $execution.id }}",
            "parent_workflow_timestamp": "={{ $now }}",
            "parent_workflow_status": "started"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "parent_workflow_name",
              "displayName": "parent_workflow_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "parent_workflow_id",
              "displayName": "parent_workflow_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "parent_workflow_timestamp",
              "displayName": "parent_workflow_timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "parent_workflow_status",
              "displayName": "parent_workflow_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        96,
        -48
      ],
      "id": "94d9c4aa-e15d-4706-bbf6-fdde59c96d37",
      "name": "Call 'Check Deploy Intent'"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "p3a4b5c6-d7e8-f9a0-b1c2-d3e4f5a6b7c8",
              "leftValue": "={{ $json.can_deploy }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        272,
        -48
      ],
      "id": "e04a327f-35d4-47d6-8aeb-7922c1b54721",
      "name": "Can Deploy?"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT DISTINCT\n  EXTRACT(YEAR FROM archived_at)::int  AS year,\n  EXTRACT(MONTH FROM archived_at)::int AS month\nFROM raw_artifacts\nWHERE archived_at IS NOT NULL\n  AND deleted_at IS NULL\n  AND archived_at < now() - interval '28 days'\nORDER BY year, month;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        448,
        -48
      ],
      "id": "3aa52250-10a4-469b-a895-d339b653cf54",
      "name": "Get Expired Months",
      "credentials": {
        "postgres": {
          "id": "l8Ecbn62FzXCDkF9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "months",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        624,
        -48
      ],
      "id": "7417931c-b0d7-4893-973c-fda6b52c480f",
      "name": "Aggregate Months"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "p7a8b9c0-d1e2-f3a4-b5c6-d7e8f9a0b1c2",
              "leftValue": "={{ $json.months.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        800,
        -48
      ],
      "id": "ba3bff81-e98e-4cdd-bf9d-d25549079ef0",
      "name": "Any Expired Months?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://archiver:8001/cleanup/parquet",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"paths\": {{ JSON.stringify($json.months.map(m => `bronze/html/year=${m.year}/month=${m.month}/`)) }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1008,
        -144
      ],
      "id": "a4ec6e72-a602-4357-bb70-4298cb33df5e",
      "name": "Call Cleanup Parquet API"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE raw_artifacts\nSET deleted_at = now()\nWHERE archived_at IS NOT NULL\n  AND deleted_at IS NULL\n  AND archived_at < now() - interval '28 days';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1216,
        -144
      ],
      "id": "0c1545ca-9281-474a-8428-ee6dc42e1fda",
      "name": "Mark Parquet Deleted",
      "credentials": {
        "postgres": {
          "id": "l8Ecbn62FzXCDkF9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "QaFnwxOQopzO-wVjL64dl",
          "mode": "list",
          "cachedResultUrl": "/workflow/QaFnwxOQopzO-wVjL64dl",
          "cachedResultName": "Update n8n Runs Table"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "parent_workflow_id": "={{ $execution.id }}",
            "parent_workflow_name": "={{ $workflow.name }}",
            "parent_workflow_timestamp": "={{ $now }}",
            "parent_workflow_status": "completed"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "parent_workflow_name",
              "displayName": "parent_workflow_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "parent_workflow_id",
              "displayName": "parent_workflow_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "parent_workflow_timestamp",
              "displayName": "parent_workflow_timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "parent_workflow_status",
              "displayName": "parent_workflow_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1424,
        -144
      ],
      "id": "3d9ab688-39e8-4b1a-88a7-a629ece93e55",
      "name": "Call 'Update n8n Runs Table'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "QaFnwxOQopzO-wVjL64dl",
          "mode": "list",
          "cachedResultUrl": "/workflow/QaFnwxOQopzO-wVjL64dl",
          "cachedResultName": "Update n8n Runs Table"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "parent_workflow_id": "={{ $execution.id }}",
            "parent_workflow_name": "={{ $workflow.name }}",
            "parent_workflow_timestamp": "={{ $now }}",
            "parent_workflow_status": "completed"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "parent_workflow_name",
              "displayName": "parent_workflow_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "parent_workflow_id",
              "displayName": "parent_workflow_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "parent_workflow_timestamp",
              "displayName": "parent_workflow_timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "parent_workflow_status",
              "displayName": "parent_workflow_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1008,
        48
      ],
      "id": "51a56085-3a15-414d-a4da-67f0e8018bfa",
      "name": "Call 'Update n8n Runs Table'1"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Call 'Check Deploy Intent'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Check Deploy Intent'": {
      "main": [
        [
          {
            "node": "Can Deploy?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Can Deploy?": {
      "main": [
        [
          {
            "node": "Get Expired Months",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Expired Months": {
      "main": [
        [
          {
            "node": "Aggregate Months",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Months": {
      "main": [
        [
          {
            "node": "Any Expired Months?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Any Expired Months?": {
      "main": [
        [
          {
            "node": "Call Cleanup Parquet API",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'Update n8n Runs Table'1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Cleanup Parquet API": {
      "main": [
        [
          {
            "node": "Mark Parquet Deleted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Parquet Deleted": {
      "main": [
        [
          {
            "node": "Call 'Update n8n Runs Table'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "85295808-ae33-44da-be12-f480068a7c3c",
  "meta": {
    "instanceId": "6819133d7d7a8c3c6c728508316cdaac6420c5bbe2de9a1439bbb952efe61179"
  },
  "id": "jvEn294314DC3anz9oE5Q",
  "tags": []
}