n8n/workflows/Cleanup Artifacts.json
{
  "name": "Cleanup Artifacts",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1136,
        2016
      ],
      "id": "9cff085f-a72d-44e5-91fe-cf21b8988576",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Terminate runs stuck in 'running' for more than 2 hours\nUPDATE runs\nSET status = 'terminated'\nWHERE status = 'running'\n  AND started_at < now() - interval '2 hours';\n\n-- Reset artifact_processing records stuck in 'processing' for more than 15 minutes\nUPDATE artifact_processing\nSET status = 'retry',\n    message = 'Reset from stale processing state by cleanup job'\nWHERE status = 'processing'\n  AND processed_at < now() - interval '15 minutes';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -544,
        2016
      ],
      "id": "5383b158-081f-4c09-a377-50fc70e99b17",
      "name": "Pipeline Maintenance",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "l8Ecbn62FzXCDkF9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT ra.artifact_id, ra.filepath\nFROM raw_artifacts ra\nWHERE ra.deleted_at IS NULL\n  AND ra.filepath IS NOT NULL\n  AND (\n    -- ok: delete after 48 hours\n    EXISTS (\n      SELECT 1 FROM artifact_processing ap\n      WHERE ap.artifact_id = ra.artifact_id\n        AND ap.status = 'ok'\n        AND ra.fetched_at < now() - interval '48 hours'\n    )\n    OR\n    -- skip (no ok): delete immediately\n    (\n      EXISTS (\n        SELECT 1 FROM artifact_processing ap\n        WHERE ap.artifact_id = ra.artifact_id AND ap.status = 'skip'\n      )\n      AND NOT EXISTS (\n        SELECT 1 FROM artifact_processing ap\n        WHERE ap.artifact_id = ra.artifact_id AND ap.status = 'ok'\n      )\n    )\n    OR\n    -- retry (no ok): delete after 7 days\n    (\n      EXISTS (\n        SELECT 1 FROM artifact_processing ap\n        WHERE ap.artifact_id = ra.artifact_id AND ap.status = 'retry'\n      )\n      AND NOT EXISTS (\n        SELECT 1 FROM artifact_processing ap\n        WHERE ap.artifact_id = ra.artifact_id AND ap.status = 'ok'\n      )\n      AND ra.fetched_at < now() - interval '7 days'\n    )\n  )\nLIMIT 10000;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -368,
        2016
      ],
      "id": "6a67303a-775b-477a-a8e5-5f87d9d58e50",
      "name": "Get Candidates1",
      "credentials": {
        "postgres": {
          "id": "l8Ecbn62FzXCDkF9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "artifacts",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -192,
        2016
      ],
      "id": "6b70f888-1bd1-4592-8e2c-7e9b1988ae66",
      "name": "Aggregate Rows"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a1b2c3d4-0001-0001-0001-000000000010",
              "leftValue": "={{ $json.artifacts.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        16,
        2016
      ],
      "id": "c9cd22b4-42b5-453d-a90c-52b665e2b15b",
      "name": "Any Candidates?1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://archiver:8001/archive/artifacts",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"artifacts\": {{ JSON.stringify($json.artifacts.map(r => ({ artifact_id: r.artifact_id, filepath: r.filepath }))) }}\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        224,
        1920
      ],
      "id": "f7214d5c-c2e6-480e-b593-262c99f2f33c",
      "name": "Call Archive API"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://archiver:8001/cleanup/artifacts",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"artifacts\": {{ JSON.stringify((() => { const archivedIds = new Set($json.results.filter(r => r.archived).map(r => String(r.artifact_id))); return $('Any Candidates?1').first().json.artifacts.filter(c => archivedIds.has(String(c.artifact_id))).map(c => ({ artifact_id: c.artifact_id, filepath: c.filepath })); })()) }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        432,
        1920
      ],
      "id": "c0dd2bd0-ade5-4fe3-85b9-2caf1bfceb05",
      "name": "Call Cleanup API1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "results",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        640,
        1920
      ],
      "id": "868d058e-2cf3-46f1-8e71-e1e932304c5e",
      "name": "Split Results1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "a1b2c3d4-0001-0001-0001-000000000011",
              "leftValue": "={{ $json.deleted }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        848,
        1920
      ],
      "id": "391d761c-350c-4852-b3e2-7470bd5cd192",
      "name": "Was Deleted?1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE raw_artifacts\nSET deleted_at = now()\nWHERE artifact_id = {{ $json.artifact_id }};",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1056,
        1808
      ],
      "id": "433eaa8e-be86-44c0-bc2a-bc0554a35535",
      "name": "Mark Deleted1",
      "credentials": {
        "postgres": {
          "id": "l8Ecbn62FzXCDkF9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "QrtISF4STFcsa2bug83s4",
          "mode": "list",
          "cachedResultUrl": "/workflow/QrtISF4STFcsa2bug83s4",
          "cachedResultName": "Check Deploy Intent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "parent_workflow_name": "={{ $workflow.name }}",
            "parent_workflow_id": "={{ $execution.id }}",
            "parent_workflow_timestamp": "={{ $now }}",
            "parent_workflow_status": "started"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "parent_workflow_name",
              "displayName": "parent_workflow_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "parent_workflow_id",
              "displayName": "parent_workflow_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "parent_workflow_timestamp",
              "displayName": "parent_workflow_timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "parent_workflow_status",
              "displayName": "parent_workflow_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -960,
        2016
      ],
      "id": "c9bb3441-0047-41de-8d05-0830a8676f0a",
      "name": "Call 'Check Deploy Intent'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "QaFnwxOQopzO-wVjL64dl",
          "mode": "list",
          "cachedResultUrl": "/workflow/QaFnwxOQopzO-wVjL64dl",
          "cachedResultName": "Update n8n Runs Table"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "parent_workflow_id": "={{ $execution.id }}",
            "parent_workflow_name": "={{ $workflow.name }}",
            "parent_workflow_timestamp": "={{ $now }}",
            "parent_workflow_status": "completed"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "parent_workflow_name",
              "displayName": "parent_workflow_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "parent_workflow_id",
              "displayName": "parent_workflow_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "parent_workflow_timestamp",
              "displayName": "parent_workflow_timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "parent_workflow_status",
              "displayName": "parent_workflow_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        224,
        2112
      ],
      "id": "e10148f9-0d08-4a14-b3be-784f17fee51c",
      "name": "Call 'Update n8n Runs Table'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "QaFnwxOQopzO-wVjL64dl",
          "mode": "list",
          "cachedResultUrl": "/workflow/QaFnwxOQopzO-wVjL64dl",
          "cachedResultName": "Update n8n Runs Table"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "parent_workflow_id": "={{ $execution.id }}",
            "parent_workflow_timestamp": "={{ $now }}",
            "parent_workflow_name": "={{ $workflow.name }}",
            "parent_workflow_status": "completed"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "parent_workflow_name",
              "displayName": "parent_workflow_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "parent_workflow_id",
              "displayName": "parent_workflow_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "parent_workflow_timestamp",
              "displayName": "parent_workflow_timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "parent_workflow_status",
              "displayName": "parent_workflow_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1088,
        2000
      ],
      "id": "6faf32d3-2a1a-458a-8c5e-f72527cf0122",
      "name": "Call 'Update n8n Runs Table'1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "QaFnwxOQopzO-wVjL64dl",
          "mode": "list",
          "cachedResultUrl": "/workflow/QaFnwxOQopzO-wVjL64dl",
          "cachedResultName": "Update n8n Runs Table"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "parent_workflow_id": "={{ $execution.id }}",
            "parent_workflow_timestamp": "={{ $now }}",
            "parent_workflow_name": "={{ $workflow.name }}",
            "parent_workflow_status": "completed"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "parent_workflow_name",
              "displayName": "parent_workflow_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "parent_workflow_id",
              "displayName": "parent_workflow_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "parent_workflow_timestamp",
              "displayName": "parent_workflow_timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "parent_workflow_status",
              "displayName": "parent_workflow_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1264,
        1808
      ],
      "id": "9394e6ff-b312-4b67-9527-0343d8ae7084",
      "name": "Call 'Update n8n Runs Table'2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1c979a3b-731d-4183-abe4-71f87c7faabe",
              "leftValue": "={{ $json.can_deploy }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -768,
        2032
      ],
      "id": "bc03cd32-2030-4ab3-9621-e578754d6580",
      "name": "Can Deploy?"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Call 'Check Deploy Intent'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pipeline Maintenance": {
      "main": [
        [
          {
            "node": "Get Candidates1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Candidates1": {
      "main": [
        [
          {
            "node": "Aggregate Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Rows": {
      "main": [
        [
          {
            "node": "Any Candidates?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Any Candidates?1": {
      "main": [
        [
          {
            "node": "Call Archive API",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'Update n8n Runs Table'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Archive API": {
      "main": [
        [
          {
            "node": "Call Cleanup API1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Cleanup API1": {
      "main": [
        [
          {
            "node": "Split Results1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Results1": {
      "main": [
        [
          {
            "node": "Was Deleted?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Was Deleted?1": {
      "main": [
        [
          {
            "node": "Mark Deleted1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'Update n8n Runs Table'1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Check Deploy Intent'": {
      "main": [
        [
          {
            "node": "Can Deploy?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Deleted1": {
      "main": [
        [
          {
            "node": "Call 'Update n8n Runs Table'2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Can Deploy?": {
      "main": [
        [
          {
            "node": "Pipeline Maintenance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "rJfFKS2DGRAn_IPJR1xTc"
  },
  "versionId": "1b57f62a-5c26-4bea-8596-cc3dae3e5dfc",
  "meta": {
    "instanceId": "6819133d7d7a8c3c6c728508316cdaac6420c5bbe2de9a1439bbb952efe61179"
  },
  "id": "yvi0fCeO61X9-hL_w9I5Y",
  "tags": []
}