n8n/workflows/Error Handler.json
{
  "name": "Error Handler",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        1056,
        384
      ],
      "id": "39a11f14-1dda-4871-b78c-2aecda4c8171",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO pipeline_errors (\n  workflow_name,\n  workflow_id,\n  execution_id,\n  node_name,\n  error_message,\n  error_type,\n  occurred_at\n) VALUES (\n  '{{ $json.workflow.name }}',\n  '{{ $json.workflow.id }}',\n  '{{ $json.execution.id }}',\n  '{{ $json.execution.lastNodeExecuted.replace(\"'\", \"''\") }}',\n  '{{ $json.execution.error.message.replace(\"'\", \"''\") }}',\n  '{{ $json.execution.error.name }}',\n  now()\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1280,
        416
      ],
      "id": "dc1d489f-41de-45d8-9c66-d8aa70a648ac",
      "name": "Log Error to DB",
      "alwaysOutputData": false,
      "credentials": {
        "postgres": {
          "id": "l8Ecbn62FzXCDkF9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "774819707",
        "text": "=🚨 <b>Pipeline Error</b>\n\n<b>Workflow:</b> {{ $json.workflow.name }}\n<b>Node:</b> {{ $json.execution.lastNodeExecuted }}\n<b>Error:</b> {{ $json.execution.error.message }}\n<b>Type:</b> {{ $json.execution.error.name }}\n<b>Execution:</b> {{ $json.execution.id }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1296,
        240
      ],
      "id": "fa602b91-15bb-4c21-8097-236b4d8b1c70",
      "name": "Send Telegram Alert",
      "webhookId": "3f97844c-717f-4bcd-86d2-b10cba6f7a6c",
      "credentials": {
        "telegramApi": {
          "id": "qoqqtiFUa4Dq2Wqp",
          "name": "Cartracker Alerts"
        }
      },
      "continueOnFail": true
    }
  ],
  "pinData": {},
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Log Error to DB",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Telegram Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Error to DB": {
      "main": [
        [],
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "20bb0e15-3669-4b07-81af-3dc944bc7895",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6819133d7d7a8c3c6c728508316cdaac6420c5bbe2de9a1439bbb952efe61179"
  },
  "id": "rJfFKS2DGRAn_IPJR1xTc",
  "tags": []
}