n8n/workflows/Error Handler.json
{
  "name": "Error Handler",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -400,
        0
      ],
      "id": "b1c2d3e4-f5a6-7890-bcde-f12345678901",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO pipeline_errors (\n  workflow_name,\n  workflow_id,\n  execution_id,\n  node_name,\n  error_message,\n  error_type,\n  occurred_at\n) VALUES (\n  '{{ $json.workflow.name }}',\n  '{{ $json.workflow.id }}',\n  '{{ $json.execution.id }}',\n  '{{ $json.execution.lastNodeExecuted.replace(\"'\", \"''\") }}',\n  '{{ $json.execution.error.message.replace(\"'\", \"''\") }}',\n  '{{ $json.execution.error.name }}',\n  now()\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -160,
        0
      ],
      "id": "c2d3e4f5-a6b7-8901-cdef-123456789012",
      "name": "Log Error to DB",
      "credentials": {
        "postgres": {
          "id": "l8Ecbn62FzXCDkF9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendMessage",
        "chatId": "774819707",
        "text": "=🚨 <b>Pipeline Error</b>\n\n<b>Workflow:</b> {{ $json.workflow.name }}\n<b>Node:</b> {{ $json.execution.lastNodeExecuted }}\n<b>Error:</b> {{ $json.execution.error.message }}\n<b>Type:</b> {{ $json.execution.error.name }}\n<b>Execution:</b> {{ $json.execution.id }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -160,
        200
      ],
      "id": "d3e4f5a6-b7c8-9012-def0-234567890123",
      "name": "Send Telegram Alert",
      "credentials": {
        "telegramApi": {
          "id": "",
          "name": "Cartracker Alerts"
        }
      },
      "continueOnFail": true
    }
  ],
  "pinData": {},
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Log Error to DB",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Telegram Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "2739c38e-1e84-55c5-1d6-8d21gbf5102",
  "meta": {
    "instanceId": "6819133d7d7a8c3c6c728508316cdaac6420c5bbe2de9a1439bbb952efe61179"
  },
  "id": "ErrorHandlerWorkflow001",
  "tags": []
}
