n8n/workflows/Job Poller.json
{
  "name": "Job Poller",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        4400,
        1248
      ],
      "id": "84f4d3f9-a89b-41f8-b5ea-582e6bbbc94e",
      "name": "Schedule Trigger (1 min)"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE scrape_jobs\nSET status = 'failed',\n    error = 'Timeout — job lost, likely due to container restart'\nWHERE status IN ('queued', 'running')\n  AND created_at < now() - interval '30 minutes';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        4624,
        1248
      ],
      "id": "2f467f0f-e115-4a59-adcb-11354b232cb4",
      "name": "Expire Orphaned Jobs",
      "credentials": {
        "postgres": {
          "id": "l8Ecbn62FzXCDkF9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "url": "http://cartracker-scraper:8000/scrape_results/jobs/completed",
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        4848,
        1248
      ],
      "id": "774da0e5-e86c-4917-9e06-9fdfe85fe65e",
      "name": "Get Completed Jobs"
    },
    {
      "parameters": {
        "jsCode": "// Normalize: httpRequest may return each array element as a separate item,\n// or the whole array as one item — handle both.\nconst allItems = $input.all();\nlet jobs = [];\nfor (const item of allItems) {\n  const d = item.json;\n  if (Array.isArray(d)) {\n    jobs = jobs.concat(d);\n  } else if (d.job_id) {\n    jobs.push(d);\n  }\n}\n\nif (jobs.length === 0) return []; // Nothing to do\n\n// Emit one item per artifact. Jobs with 0 artifacts get a stub\n// (no filepath/artifact_type) so Has Artifact? routes them to skip-insert.\nconst items = [];\nfor (const job of jobs) {\n  const artifacts = job.artifacts || [];\n  if (artifacts.length === 0) {\n    items.push({ json: { job_id: job.job_id, run_id: job.run_id, search_key: job.search_key, scope: job.scope } });\n  } else {\n    for (const a of artifacts) {\n      items.push({ json: { ...a, job_id: job.job_id, run_id: job.run_id, search_key: job.search_key, scope: job.scope } });\n    }\n  }\n}\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5072,
        1248
      ],
      "id": "b53068c8-d84f-4bdc-9ef1-842aa5ae8ff0",
      "name": "Explode Artifacts"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO raw_artifacts (\n  run_id,\n  source,\n  artifact_type,\n  search_key,\n  search_scope,\n  page_num,\n  url,\n  fetched_at,\n  http_status,\n  content_type,\n  content_bytes,\n  sha256,\n  filepath,\n  error\n)\nVALUES (\n  '{{$json.run_id}}'::uuid,\n  '{{$json.source}}',\n  '{{$json.artifact_type}}',\n  '{{$json.search_key}}',\n  '{{$json.search_scope}}',\n  {{$json.page_num}},\n  '{{$json.url}}',\n  '{{$json.fetched_at}}',\n  {{$json.http_status}},\n  '{{$json.content_type}}',\n  {{$json.content_bytes}},\n  '{{$json.sha256}}',\n  '{{$json.filepath}}',\n  {{ $json.error === null ? 'NULL' : \"'\" + $json.error + \"'\" }}\n);\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        5520,
        1152
      ],
      "id": "989b86b7-aa50-4581-9575-1b3b5d2b2da0",
      "name": "Insert Artifact",
      "credentials": {
        "postgres": {
          "id": "l8Ecbn62FzXCDkF9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Collect all items from both branches (artifacts inserted + skipped)\n// Deduplicate by job_id\nconst seen = new Set();\nconst jobs = [];\nfor (const item of $input.all()) {\n  const jid = item.json.job_id;\n  if (jid && !seen.has(jid)) {\n    seen.add(jid);\n    jobs.push({\n      json: {\n        job_id: jid,\n        run_id: item.json.run_id,\n        artifact_count: item.json.artifact_count || 0\n      }\n    });\n  }\n}\nreturn jobs;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5520,
        1344
      ],
      "id": "eb153a05-7b5e-4b72-b59d-ef902a1cf6fe",
      "name": "Unique Job IDs"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://cartracker-scraper:8000/scrape_results/jobs/{{ $json.job_id }}/fetched",
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        5744,
        1344
      ],
      "id": "764c4f7d-81a8-4902-a813-00f94c1692ad",
      "name": "Mark Job Fetched (API)"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE scrape_jobs\nSET status = 'fetched',\n    fetched_at = now(),\n    artifact_count = (\n      SELECT COUNT(*) FROM raw_artifacts ra\n      WHERE ra.run_id = scrape_jobs.run_id\n        AND ra.search_key = scrape_jobs.search_key\n        AND ra.search_scope = scrape_jobs.scope\n    )\nWHERE job_id = '{{ $json.job_id }}'::uuid\nRETURNING run_id;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        5968,
        1344
      ],
      "id": "307b4e2b-1b12-4473-b8dc-a5e237377995",
      "name": "Update scrape_jobs",
      "credentials": {
        "postgres": {
          "id": "l8Ecbn62FzXCDkF9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract unique run_ids\nconst seen = new Set();\nconst runs = [];\nfor (const item of $input.all()) {\n  const rid = item.json.run_id;\n  if (rid && !seen.has(rid)) {\n    seen.add(rid);\n    runs.push({ json: { run_id: rid } });\n  }\n}\nreturn runs;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6192,
        1344
      ],
      "id": "1d54b55a-5eee-4825-b1b3-4589f679beb7",
      "name": "Unique Run IDs"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  '{{ $json.run_id }}'::uuid AS run_id,\n  COUNT(*) FILTER (WHERE status NOT IN ('fetched', 'failed')) AS pending\nFROM scrape_jobs\nWHERE run_id = '{{ $json.run_id }}'::uuid;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        6416,
        1344
      ],
      "id": "4cf4a25d-21fa-4856-9b05-0b8e4fc4fd5f",
      "name": "Check Pending Jobs",
      "credentials": {
        "postgres": {
          "id": "l8Ecbn62FzXCDkF9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond-all-done",
              "leftValue": "={{ $json.pending }}",
              "rightValue": "0",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        6640,
        1344
      ],
      "id": "156584b4-34dd-4928-8769-f8854b03fde4",
      "name": "All Jobs Done?"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE runs\nSET status = 'success', finished_at = now()\nWHERE run_id = '{{ $json.run_id }}'::uuid\n  AND status = 'running';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        6864,
        1344
      ],
      "id": "9f3fe549-9b43-43b8-8282-ed3014af6296",
      "name": "Mark Run Done",
      "credentials": {
        "postgres": {
          "id": "l8Ecbn62FzXCDkF9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "752cf3bf-2a67-4d8c-99b3-385d27c879dd",
              "leftValue": "={{ $json.filepath }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        5296,
        1248
      ],
      "id": "a551d850-9c18-4625-afbc-de7e36c57bca",
      "name": "If"
    }
  ],
  "pinData": {
    "Schedule Trigger (1 min)": [
      {
        "json": {
          "timestamp": "2026-03-17T17:03:28.005-04:00",
          "Readable date": "March 17th 2026, 5:03:28 pm",
          "Readable time": "5:03:28 pm",
          "Day of week": "Tuesday",
          "Year": "2026",
          "Month": "March",
          "Day of month": "17",
          "Hour": "17",
          "Minute": "03",
          "Second": "28",
          "Timezone": "America/New_York (UTC-04:00)"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Schedule Trigger (1 min)": {
      "main": [
        [
          {
            "node": "Expire Orphaned Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Expire Orphaned Jobs": {
      "main": [
        [
          {
            "node": "Get Completed Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Completed Jobs": {
      "main": [
        [
          {
            "node": "Explode Artifacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Explode Artifacts": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unique Job IDs": {
      "main": [
        [
          {
            "node": "Mark Job Fetched (API)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Job Fetched (API)": {
      "main": [
        [
          {
            "node": "Update scrape_jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update scrape_jobs": {
      "main": [
        [
          {
            "node": "Unique Run IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unique Run IDs": {
      "main": [
        [
          {
            "node": "Check Pending Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Pending Jobs": {
      "main": [
        [
          {
            "node": "All Jobs Done?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "All Jobs Done?": {
      "main": [
        [
          {
            "node": "Mark Run Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Insert Artifact",
            "type": "main",
            "index": 0
          },
          {
            "node": "Unique Job IDs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unique Job IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "rJfFKS2DGRAn_IPJR1xTc"
  },
  "versionId": "d5e116cd-6878-4204-83ff-8738f82f4ace",
  "meta": {
    "instanceId": "6819133d7d7a8c3c6c728508316cdaac6420c5bbe2de9a1439bbb952efe61179"
  },
  "id": "yKfhg_fQ_lShUBFgL_gu8",
  "tags": []
}