n8n/workflows/Job Poller.json
{
  "name": "Job Poller",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 2
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        4592,
        1344
      ],
      "id": "84f4d3f9-a89b-41f8-b5ea-582e6bbbc94e",
      "name": "Schedule Trigger (1 min)"
    },
    {
      "parameters": {
        "url": "http://cartracker-scraper:8000/scrape_results/jobs/completed",
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        4848,
        1344
      ],
      "id": "774da0e5-e86c-4917-9e06-9fdfe85fe65e",
      "name": "Get Completed Jobs"
    },
    {
      "parameters": {
        "jsCode": "// Normalize: httpRequest may return each array element as a separate item,\n// or the whole array as one item — handle both.\nconst allItems = $input.all();\nlet jobs = [];\nfor (const item of allItems) {\n  const d = item.json;\n  if (Array.isArray(d)) {\n    jobs = jobs.concat(d);\n  } else if (d.job_id) {\n    jobs.push(d);\n  }\n}\n\nif (jobs.length === 0) return []; // Nothing to do\n\n// Emit one item per artifact. Jobs with 0 artifacts get a stub\n// (no filepath/artifact_type) so Has Artifact? routes them to skip-insert.\nconst items = [];\nfor (const job of jobs) {\n  const artifacts = job.artifacts || [];\n  if (artifacts.length === 0) {\n    items.push({ json: { job_id: job.job_id, run_id: job.run_id, search_key: job.search_key, scope: job.scope } });\n  } else {\n    for (const a of artifacts) {\n      items.push({ json: { ...a, job_id: job.job_id, run_id: job.run_id, search_key: job.search_key, scope: job.scope } });\n    }\n  }\n}\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5072,
        1344
      ],
      "id": "b53068c8-d84f-4bdc-9ef1-842aa5ae8ff0",
      "name": "Explode Artifacts"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO raw_artifacts (\n  run_id,\n  source,\n  artifact_type,\n  search_key,\n  search_scope,\n  page_num,\n  url,\n  fetched_at,\n  http_status,\n  content_type,\n  content_bytes,\n  sha256,\n  filepath,\n  error\n)\nVALUES (\n  '{{$json.run_id}}'::uuid,\n  '{{$json.source}}',\n  '{{$json.artifact_type}}',\n  '{{$json.search_key}}',\n  '{{$json.search_scope}}',\n  {{$json.page_num}},\n  '{{$json.url}}',\n  '{{$json.fetched_at}}',\n  {{$json.http_status}},\n  '{{$json.content_type}}',\n  {{$json.content_bytes}},\n  '{{$json.sha256}}',\n  '{{$json.filepath}}',\n  {{ $json.error === null ? 'NULL' : \"'\" + $json.error + \"'\" }}\n);\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        5520,
        1152
      ],
      "id": "989b86b7-aa50-4581-9575-1b3b5d2b2da0",
      "name": "Insert Artifact",
      "credentials": {
        "postgres": {
          "id": "l8Ecbn62FzXCDkF9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Collect all items from both branches (artifacts inserted + skipped)\n// Deduplicate by job_id\nconst seen = new Set();\nconst jobs = [];\nfor (const item of $input.all()) {\n  const jid = item.json.job_id;\n  if (jid && !seen.has(jid)) {\n    seen.add(jid);\n    jobs.push({\n      json: {\n        job_id: jid,\n        run_id: item.json.run_id,\n        artifact_count: item.json.artifact_count || 0\n      }\n    });\n  }\n}\nreturn jobs;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5520,
        1344
      ],
      "id": "eb153a05-7b5e-4b72-b59d-ef902a1cf6fe",
      "name": "Unique Job IDs"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://cartracker-scraper:8000/scrape_results/jobs/{{ $json.job_id }}/fetched",
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        5744,
        1344
      ],
      "id": "764c4f7d-81a8-4902-a813-00f94c1692ad",
      "name": "Mark Job Fetched (API)"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE scrape_jobs\nSET status = 'fetched',\n    fetched_at = now(),\n    artifact_count = (\n      SELECT COUNT(*) FROM raw_artifacts ra\n      WHERE ra.run_id = scrape_jobs.run_id\n        AND ra.search_key = scrape_jobs.search_key\n        AND ra.search_scope = scrape_jobs.scope\n    )\nWHERE job_id = '{{ $json.job_id }}'::uuid\nRETURNING run_id;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        5968,
        1344
      ],
      "id": "307b4e2b-1b12-4473-b8dc-a5e237377995",
      "name": "Update scrape_jobs",
      "credentials": {
        "postgres": {
          "id": "l8Ecbn62FzXCDkF9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract unique run_ids\nconst seen = new Set();\nconst runs = [];\nfor (const item of $input.all()) {\n  const rid = item.json.run_id;\n  if (rid && !seen.has(rid)) {\n    seen.add(rid);\n    runs.push({ json: { run_id: rid } });\n  }\n}\nreturn runs;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6192,
        1344
      ],
      "id": "1d54b55a-5eee-4825-b1b3-4589f679beb7",
      "name": "Unique Run IDs"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  '{{ $json.run_id }}'::uuid AS run_id,\n  COUNT(*) FILTER (WHERE status NOT IN ('fetched', 'failed')) AS pending\nFROM scrape_jobs\nWHERE run_id = '{{ $json.run_id }}'::uuid;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        6416,
        1344
      ],
      "id": "4cf4a25d-21fa-4856-9b05-0b8e4fc4fd5f",
      "name": "Check Pending Jobs",
      "credentials": {
        "postgres": {
          "id": "l8Ecbn62FzXCDkF9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond-all-done",
              "leftValue": "={{ $json.pending }}",
              "rightValue": "0",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        6640,
        1344
      ],
      "id": "156584b4-34dd-4928-8769-f8854b03fde4",
      "name": "All Jobs Done?"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH run_errors AS (\n  SELECT\n    COUNT(*) FILTER (WHERE status = 'failed') AS error_count,\n    (array_agg(error ORDER BY completed_at DESC) FILTER (WHERE error IS NOT NULL))[1] AS last_error\n  FROM scrape_jobs\n  WHERE run_id = '{{ $json.run_id }}'::uuid\n)\nUPDATE runs\nSET status = CASE\n      WHEN (SELECT error_count FROM run_errors) > 0\n           AND NOT EXISTS (\n             SELECT 1 FROM scrape_jobs\n             WHERE run_id = '{{ $json.run_id }}'::uuid AND status NOT IN ('failed', 'fetched')\n           )\n      THEN 'failed'\n      ELSE 'success'\n    END,\n    finished_at = now(),\n    error_count = (SELECT error_count FROM run_errors),\n    last_error = (SELECT last_error FROM run_errors)\nWHERE run_id = '{{ $json.run_id }}'::uuid\n  AND status = 'running';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        6864,
        1344
      ],
      "id": "9f3fe549-9b43-43b8-8282-ed3014af6296",
      "name": "Mark Run Done",
      "credentials": {
        "postgres": {
          "id": "l8Ecbn62FzXCDkF9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "752cf3bf-2a67-4d8c-99b3-385d27c879dd",
              "leftValue": "={{ $json.filepath }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        5296,
        1344
      ],
      "id": "a551d850-9c18-4625-afbc-de7e36c57bca",
      "name": "If"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.error }}",
                    "rightValue": "ERR_HTTP2",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "fe15becd-ec0d-4a89-8725-4781ff491516"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Has Backoff Error"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "952f2e98-f200-4ac6-a0e9-d7055bf68cb5",
                    "leftValue": "={{ $json.error }}",
                    "rightValue": "No Error",
                    "operator": {
                      "type": "string",
                      "operation": "empty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "No Error"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "acbfcd12-9eb4-4029-aaae-6bacab52524e",
                    "leftValue": "={{ $json.error }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Other Error"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        5520,
        1568
      ],
      "id": "c2df321a-cf2e-475d-b1ba-2dd869935d34",
      "name": "Switch"
    },
    {
      "parameters": {
        "jsCode": "// Aggregate all error items into a single summary message\nconst items = $input.all();\nconst errors = [];\nconst seen = new Set();\n\nfor (const item of items) {\n  const d = item.json;\n  const key = `${d.search_key}|${d.scope}|${d.page_num}`;\n  if (seen.has(key)) continue;\n  seen.add(key);\n  errors.push({\n    search_key: d.search_key || 'unknown',\n    scope: d.scope || '?',\n    page_num: d.page_num || '?',\n    http_status: d.http_status || 'N/A',\n    url: d.url || '',\n    error: (d.error || '').substring(0, 200),\n  });\n}\n\n// Group by search_key + scope\nconst groups = {};\nfor (const e of errors) {\n  const gk = `${e.search_key} (${e.scope})`;\n  if (!groups[gk]) groups[gk] = [];\n  groups[gk].push(e);\n}\n\nlet lines = [`\\u{1F6A8} <b>Akamai Rate Limit — ${errors.length} error(s)</b>\\n`];\nfor (const [group, errs] of Object.entries(groups)) {\n  lines.push(`<b>${group}</b>: ${errs.length} blocked`);\n  for (const e of errs) {\n    lines.push(`  • page ${e.page_num} — ${e.error}`);\n  }\n  lines.push('');\n}\n\nreturn [{ json: { summary: lines.join('\\n') } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5824,
        1552
      ],
      "id": "f1a3c2d0-8e5b-4a9f-b123-456789abcdef",
      "name": "Summarize Errors"
    },
    {
      "parameters": {
        "chatId": "774819707",
        "text": "={{ $json.summary }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        6048,
        1552
      ],
      "id": "258490dc-56eb-4758-b2c3-ad2ad9b93e88",
      "name": "Send Telegram Alert",
      "webhookId": "3f97844c-717f-4bcd-86d2-b10cba6f7a6c",
      "credentials": {
        "telegramApi": {
          "id": "qoqqtiFUa4Dq2Wqp",
          "name": "Cartracker Alerts"
        }
      },
      "continueOnFail": true
    }
  ],
  "pinData": {
    "Schedule Trigger (1 min)": [
      {
        "json": {
          "timestamp": "2026-03-18T11:24:42.001-04:00",
          "Readable date": "March 18th 2026, 11:24:42 am",
          "Readable time": "11:24:42 am",
          "Day of week": "Wednesday",
          "Year": "2026",
          "Month": "March",
          "Day of month": "18",
          "Hour": "11",
          "Minute": "24",
          "Second": "42",
          "Timezone": "America/New_York (UTC-04:00)"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Schedule Trigger (1 min)": {
      "main": [
        [
          {
            "node": "Get Completed Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Completed Jobs": {
      "main": [
        [
          {
            "node": "Explode Artifacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Explode Artifacts": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unique Job IDs": {
      "main": [
        [
          {
            "node": "Mark Job Fetched (API)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Job Fetched (API)": {
      "main": [
        [
          {
            "node": "Update scrape_jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update scrape_jobs": {
      "main": [
        [
          {
            "node": "Unique Run IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unique Run IDs": {
      "main": [
        [
          {
            "node": "Check Pending Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Pending Jobs": {
      "main": [
        [
          {
            "node": "All Jobs Done?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "All Jobs Done?": {
      "main": [
        [
          {
            "node": "Mark Run Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Insert Artifact",
            "type": "main",
            "index": 0
          },
          {
            "node": "Unique Job IDs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unique Job IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Summarize Errors",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Summarize Errors": {
      "main": [
        [
          {
            "node": "Send Telegram Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "rJfFKS2DGRAn_IPJR1xTc"
  },
  "versionId": "159a56c0-f41f-4cf5-b107-d0ebd0433ce9",
  "meta": {
    "instanceId": "6819133d7d7a8c3c6c728508316cdaac6420c5bbe2de9a1439bbb952efe61179",
    "templateCredsSetupCompleted": true
  },
  "id": "yKfhg_fQ_lShUBFgL_gu8",
  "tags": []
}