n8n/workflows/Job Poller V2.json
{
  "name": "Job Poller V2",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 2
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        4480,
        1344
      ],
      "id": "c43b277d-72a8-4ccf-9897-6948869f2dda",
      "name": "Schedule Trigger (1 min)"
    },
    {
      "parameters": {
        "url": "http://cartracker-scraper:8000/scrape_results/jobs/completed",
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        5152,
        1344
      ],
      "id": "26b73f45-7f62-4cb6-918a-8c0de3403708",
      "name": "Get Completed Jobs",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Normalize: httpRequest may return each array element as a separate item,\n// or the whole array as one item — handle both.\nconst allItems = $input.all();\nlet jobs = [];\nfor (const item of allItems) {\n  const d = item.json;\n  if (Array.isArray(d)) {\n    jobs = jobs.concat(d);\n  } else if (d.job_id) {\n    jobs.push(d);\n  }\n}\n\nif (jobs.length === 0) return []; // Nothing to do\n\n// Emit one item per artifact. Jobs with 0 artifacts get a stub\n// (no filepath/artifact_type) so Has Artifact? routes them to skip-insert.\nconst items = [];\nfor (const job of jobs) {\n  const artifacts = job.artifacts || [];\n  if (artifacts.length === 0) {\n    items.push({ json: { job_id: job.job_id, run_id: job.run_id, search_key: job.search_key, scope: job.scope } });\n  } else {\n    for (const a of artifacts) {\n      items.push({ json: { ...a, job_id: job.job_id, run_id: job.run_id, search_key: a.search_key ?? job.search_key, scope: job.scope } });\n    }\n  }\n}\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5584,
        1344
      ],
      "id": "a5659cc9-69a7-479f-be1c-a506632f1a7e",
      "name": "Explode Artifacts"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO raw_artifacts (\n  run_id,\n  source,\n  artifact_type,\n  search_key,\n  search_scope,\n  page_num,\n  url,\n  fetched_at,\n  http_status,\n  content_type,\n  content_bytes,\n  sha256,\n  filepath,\n  error,\n  listing_id\n)\nVALUES (\n  '{{$json.run_id}}'::uuid,\n  '{{$json.source}}',\n  '{{$json.artifact_type}}',\n  '{{$json.search_key}}',\n  '{{$json.search_scope}}',\n  {{$json.page_num}},\n  '{{$json.url}}',\n  '{{$json.fetched_at}}',\n  {{$json.http_status}},\n  '{{$json.content_type}}',\n  {{$json.content_bytes}},\n  '{{$json.sha256}}',\n  '{{$json.filepath}}',\n  {{ $json.error === null ? 'NULL' : \"'\" + $json.error + \"'\" }},\n  {{ $json.listing_id === null || $json.listing_id === undefined ? 'NULL' : \"'\" + $json.listing_id + \"'::uuid\" }}\n);\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        6240,
        1152
      ],
      "id": "8a4cb7fb-d5f5-44e8-9a8a-4585c9220092",
      "name": "Insert Artifact",
      "credentials": {
        "postgres": {
          "id": "l8Ecbn62FzXCDkF9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Collect all items from both branches (artifacts inserted + skipped)\n// Deduplicate by job_id\nconst seen = new Set();\nconst jobs = [];\nfor (const item of $input.all()) {\n  const jid = item.json.job_id;\n  if (jid && !seen.has(jid)) {\n    seen.add(jid);\n    jobs.push({\n      json: {\n        job_id: jid,\n        run_id: item.json.run_id,\n        artifact_count: item.json.artifact_count || 0\n      }\n    });\n  }\n}\nreturn jobs;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6240,
        1344
      ],
      "id": "dc965d51-1130-4167-87c0-80b3dbbbb750",
      "name": "Unique Job IDs"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://cartracker-scraper:8000/scrape_results/jobs/{{ $json.job_id }}/fetched",
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        6464,
        1344
      ],
      "id": "896ce52e-9d2d-4cf6-aefc-e8cf29650699",
      "name": "Mark Job Fetched (API)"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE scrape_jobs\nSET status = 'fetched',\n    fetched_at = now(),\n    artifact_count = (\n      SELECT COUNT(*) FROM raw_artifacts ra\n      WHERE ra.run_id = scrape_jobs.run_id\n        AND ra.search_key = scrape_jobs.search_key\n        AND ra.search_scope = scrape_jobs.scope\n    )\nWHERE job_id = '{{ $json.job_id }}'::uuid\nRETURNING run_id;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        6704,
        1344
      ],
      "id": "b64cd0e8-d0ab-4160-8a97-186f410ea8f8",
      "name": "Update scrape_jobs",
      "credentials": {
        "postgres": {
          "id": "l8Ecbn62FzXCDkF9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract unique run_ids\nconst seen = new Set();\nconst runs = [];\nfor (const item of $input.all()) {\n  const rid = item.json.run_id;\n  if (rid && !seen.has(rid)) {\n    seen.add(rid);\n    runs.push({ json: { run_id: rid } });\n  }\n}\nreturn runs;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6896,
        1344
      ],
      "id": "6a3616d3-28ae-428b-b70d-05f1d4182637",
      "name": "Unique Run IDs"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  '{{ $json.run_id }}'::uuid AS run_id,\n  COUNT(*) FILTER (WHERE status NOT IN ('fetched', 'failed')) AS pending\nFROM scrape_jobs\nWHERE run_id = '{{ $json.run_id }}'::uuid;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        7104,
        1344
      ],
      "id": "16036e09-ef68-4af5-987d-9961a9f72012",
      "name": "Check Pending Jobs",
      "credentials": {
        "postgres": {
          "id": "l8Ecbn62FzXCDkF9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond-all-done",
              "leftValue": "={{ $json.pending }}",
              "rightValue": "0",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        7312,
        1344
      ],
      "id": "80f29f3f-edee-4baa-bce5-6efbbd7b98c8",
      "name": "All Jobs Done?"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH run_errors AS (\n  SELECT\n    COUNT(*) FILTER (WHERE status = 'failed') AS error_count,\n    (array_agg(error ORDER BY completed_at DESC) FILTER (WHERE error IS NOT NULL))[1] AS last_error\n  FROM scrape_jobs\n  WHERE run_id = '{{ $json.run_id }}'::uuid\n)\nUPDATE runs\nSET status = CASE\n      WHEN (SELECT error_count FROM run_errors) > 0\n           AND NOT EXISTS (\n             SELECT 1 FROM scrape_jobs\n             WHERE run_id = '{{ $json.run_id }}'::uuid AND status NOT IN ('failed', 'fetched')\n           )\n      THEN 'failed'\n      ELSE 'success'\n    END,\n    finished_at = now(),\n    error_count = (SELECT error_count FROM run_errors),\n    last_error = (SELECT last_error FROM run_errors)\nWHERE run_id = '{{ $json.run_id }}'::uuid\n  AND status = 'running';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        7584,
        1248
      ],
      "id": "04148285-0dde-4bf4-a1c0-285f6d8e0ad7",
      "name": "Mark Run Done",
      "credentials": {
        "postgres": {
          "id": "l8Ecbn62FzXCDkF9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "752cf3bf-2a67-4d8c-99b3-385d27c879dd",
              "leftValue": "={{ $json.filepath }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        5808,
        1344
      ],
      "id": "a49f7e03-abda-4957-bf01-efcb9302a48b",
      "name": "If"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.error }}",
                    "rightValue": "ERR_HTTP2",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "fe15becd-ec0d-4a89-8725-4781ff491516"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Has Backoff Error"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "2ddb2a3a-857d-44a9-9243-2a48264f7db7",
                    "leftValue": "={{ $json.error }}",
                    "rightValue": "4",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "403 Error"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "952f2e98-f200-4ac6-a0e9-d7055bf68cb5",
                    "leftValue": "={{ $json.error }}",
                    "rightValue": "No Error",
                    "operator": {
                      "type": "string",
                      "operation": "empty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "No Error"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "acbfcd12-9eb4-4029-aaae-6bacab52524e",
                    "leftValue": "={{ $json.error }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Other Error"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        6240,
        1536
      ],
      "id": "1f70382d-8747-48df-9aca-af61a16905ee",
      "name": "Switch"
    },
    {
      "parameters": {
        "jsCode": "// Aggregate all error items into a single summary message\nconst items = $input.all();\nconst errors = [];\nconst seen = new Set();\n\nfor (const item of items) {\n  const d = item.json;\n  const key = `${d.search_key}|${d.scope}|${d.page_num}`;\n  if (seen.has(key)) continue;\n  seen.add(key);\n  errors.push({\n    search_key: d.search_key || 'unknown',\n    scope: d.scope || '?',\n    page_num: d.page_num || '?',\n    http_status: d.http_status || 'N/A',\n    url: d.url || '',\n    error: (d.error || '').substring(0, 200),\n  });\n}\n\n// Group by search_key + scope\nconst groups = {};\nfor (const e of errors) {\n  const gk = `${e.search_key} (${e.scope})`;\n  if (!groups[gk]) groups[gk] = [];\n  groups[gk].push(e);\n}\n\nlet lines = [`\\u{1F6A8} <b>Akamai Rate Limit — ${errors.length} error(s)</b>\\n`];\nfor (const [group, errs] of Object.entries(groups)) {\n  lines.push(`<b>${group}</b>: ${errs.length} blocked`);\n  for (const e of errs) {\n    lines.push(`  • page ${e.page_num} — ${e.error}`);\n  }\n  lines.push('');\n}\n\nreturn [{ json: { summary: lines.join('\\n') } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6576,
        1488
      ],
      "id": "86ce78a9-9340-43b0-b335-739a61ab309d",
      "name": "Summarize Errors"
    },
    {
      "parameters": {
        "chatId": "774819707",
        "text": "={{ $json.summary }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        6816,
        1488
      ],
      "id": "9b6af8d3-7c9b-4154-906c-8bc8d5eef302",
      "name": "Send Telegram Alert",
      "webhookId": "d77f6cce-4c96-4c1c-9fb8-d6f31a8e4a84",
      "credentials": {
        "telegramApi": {
          "id": "qoqqtiFUa4Dq2Wqp",
          "name": "Cartracker Alerts"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "QrtISF4STFcsa2bug83s4",
          "mode": "list",
          "cachedResultUrl": "/workflow/QrtISF4STFcsa2bug83s4",
          "cachedResultName": "Check Deploy Intent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "parent_workflow_id": "={{ $execution.id }}",
            "parent_workflow_name": "={{ $workflow.name }}",
            "parent_workflow_timestamp": "={{ $now }}",
            "parent_workflow_status": "started"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "parent_workflow_name",
              "displayName": "parent_workflow_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "parent_workflow_id",
              "displayName": "parent_workflow_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "parent_workflow_timestamp",
              "displayName": "parent_workflow_timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "parent_workflow_status",
              "displayName": "parent_workflow_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        4704,
        1344
      ],
      "id": "663b60de-da9d-4f61-81e3-97cb4d12448f",
      "name": "Call 'Check Deploy Intent'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "QaFnwxOQopzO-wVjL64dl",
          "mode": "list",
          "cachedResultUrl": "/workflow/QaFnwxOQopzO-wVjL64dl",
          "cachedResultName": "Update n8n Runs Table"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "parent_workflow_id": "={{ $execution.id }}",
            "parent_workflow_timestamp": "={{ $now }}",
            "parent_workflow_status": "completed",
            "parent_workflow_name": "={{ $workflow.name }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "parent_workflow_name",
              "displayName": "parent_workflow_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "parent_workflow_id",
              "displayName": "parent_workflow_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "parent_workflow_timestamp",
              "displayName": "parent_workflow_timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "parent_workflow_status",
              "displayName": "parent_workflow_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        7808,
        1248
      ],
      "id": "025920b8-edf4-4239-b3a7-741eebfba466",
      "name": "Call 'Update n8n Runs Table'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "QaFnwxOQopzO-wVjL64dl",
          "mode": "list",
          "cachedResultUrl": "/workflow/QaFnwxOQopzO-wVjL64dl",
          "cachedResultName": "Update n8n Runs Table"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "parent_workflow_id": "={{ $execution.id }}",
            "parent_workflow_timestamp": "={{ $now }}",
            "parent_workflow_name": "={{ $workflow.name }}",
            "parent_workflow_status": "completed"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "parent_workflow_name",
              "displayName": "parent_workflow_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "parent_workflow_id",
              "displayName": "parent_workflow_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "parent_workflow_timestamp",
              "displayName": "parent_workflow_timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "parent_workflow_status",
              "displayName": "parent_workflow_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        7584,
        1440
      ],
      "id": "835b3565-b0af-4434-bcdc-959b4dc442c1",
      "name": "Call 'Update n8n Runs Table'1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1c979a3b-731d-4183-abe4-71f87c7faabe",
              "leftValue": "={{ $json.can_deploy }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        4912,
        1344
      ],
      "id": "a2f57617-0ac6-4393-b749-a5d35bc236f2",
      "name": "Can Deploy?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e2d3b219-918f-4dcf-b743-9878b5d92452",
              "leftValue": "={{ $json.isEmpty() }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        5344,
        1376
      ],
      "id": "27317e31-9e98-452a-8e75-9ff68e182471",
      "name": "If1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "QaFnwxOQopzO-wVjL64dl",
          "mode": "list",
          "cachedResultUrl": "/workflow/QaFnwxOQopzO-wVjL64dl",
          "cachedResultName": "Update n8n Runs Table"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "parent_workflow_id": "={{ $execution.id }}",
            "parent_workflow_timestamp": "={{ $now }}",
            "parent_workflow_name": "={{ $workflow.name }}",
            "parent_workflow_status": "completed"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "parent_workflow_name",
              "displayName": "parent_workflow_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "parent_workflow_id",
              "displayName": "parent_workflow_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "parent_workflow_timestamp",
              "displayName": "parent_workflow_timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "parent_workflow_status",
              "displayName": "parent_workflow_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        5552,
        1520
      ],
      "id": "adae4bb1-2229-462e-ad58-8985c7794bf5",
      "name": "Call 'Update n8n Runs Table'2"
    },
    {
      "parameters": {
        "jsCode": "// Aggregate all error items into a single summary message\nconst items = $input.all();\nconst total_errors = items.length;\nconst total_items = $input.first().json.total_artifacts;\nconst rate = total_items > 0 ? `${(total_errors / total_items * 100).toFixed(1)}%` : 'N/A';\nconst errors = [];\nconst seen = new Set();\n\nfor (const item of items) {\n  const d = item.json;\n  const key = `${d.search_key}|${d.scope}|${d.listing_id}`;\n  if (seen.has(key)) continue;\n  seen.add(key);\n  errors.push({\n    search_key: d.search_key || 'unknown',\n    scope: d.scope || '?',\n    listing_id: d.listing_id || '?',\n    http_status: d.http_status || 'N/A',\n    url: d.url || '',\n    error: (d.error || '').substring(0, 200),\n  });\n}\n\n// Group by search_key + scope\nconst groups = {};\nfor (const e of errors) {\n  const gk = `${e.search_key} (${e.scope})`;\n  if (!groups[gk]) groups[gk] = [];\n  groups[gk].push(e);\n}\n\nlet lines = [`\\u{1F6A8} <b>Cloudfare 403 — ${errors.length} error(s) - ${rate}</b>\\n`];\nfor (const [group, errs] of Object.entries(groups)) {\n  lines.push(`<b>${group}</b>: ${errs.length} blocked`);\n  for (const e of errs) {\n    lines.push(`  • page ${e.listing_id} — ${e.error}`);\n  }\n  lines.push('');\n}\n\nreturn [{ json: { summary: lines.join('\\n') } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6576,
        1632
      ],
      "id": "5e3534dc-f8f0-4ab4-8119-adda1443354b",
      "name": "Summarize Errors1"
    },
    {
      "parameters": {
        "chatId": "774819707",
        "text": "={{ $json.summary }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        6816,
        1632
      ],
      "id": "642f3d33-bfdc-4a8a-b736-9f62ecdb6982",
      "name": "Send Telegram Alert1",
      "webhookId": "d77f6cce-4c96-4c1c-9fb8-d6f31a8e4a84",
      "credentials": {
        "telegramApi": {
          "id": "qoqqtiFUa4Dq2Wqp",
          "name": "Cartracker Alerts"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7f12e0b1-ebeb-4ac6-a718-875d16e6e9d5",
              "name": "total_artifacts",
              "value": "={{ $input.all().length }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        6032,
        1520
      ],
      "id": "a2fbe0a0-dfff-4ac3-9e4c-5caeaf3d6b3f",
      "name": "Set Length"
    }
  ],
  "pinData": {
    "Schedule Trigger (1 min)": [
      {
        "json": {
          "timestamp": "2026-03-18T11:24:42.001-04:00",
          "Readable date": "March 18th 2026, 11:24:42 am",
          "Readable time": "11:24:42 am",
          "Day of week": "Wednesday",
          "Year": "2026",
          "Month": "March",
          "Day of month": "18",
          "Hour": "11",
          "Minute": "24",
          "Second": "42",
          "Timezone": "America/New_York (UTC-04:00)"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Schedule Trigger (1 min)": {
      "main": [
        [
          {
            "node": "Call 'Check Deploy Intent'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Completed Jobs": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Explode Artifacts": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unique Job IDs": {
      "main": [
        [
          {
            "node": "Mark Job Fetched (API)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Job Fetched (API)": {
      "main": [
        [
          {
            "node": "Update scrape_jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update scrape_jobs": {
      "main": [
        [
          {
            "node": "Unique Run IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unique Run IDs": {
      "main": [
        [
          {
            "node": "Check Pending Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Pending Jobs": {
      "main": [
        [
          {
            "node": "All Jobs Done?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "All Jobs Done?": {
      "main": [
        [
          {
            "node": "Mark Run Done",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'Update n8n Runs Table'1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Insert Artifact",
            "type": "main",
            "index": 0
          },
          {
            "node": "Unique Job IDs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set Length",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unique Job IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Summarize Errors",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Summarize Errors1",
            "type": "main",
            "index": 0
          }
        ],
        [],
        []
      ]
    },
    "Summarize Errors": {
      "main": [
        [
          {
            "node": "Send Telegram Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Check Deploy Intent'": {
      "main": [
        [
          {
            "node": "Can Deploy?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Run Done": {
      "main": [
        [
          {
            "node": "Call 'Update n8n Runs Table'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Telegram Alert": {
      "main": [
        []
      ]
    },
    "Can Deploy?": {
      "main": [
        [
          {
            "node": "Get Completed Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Explode Artifacts",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'Update n8n Runs Table'2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize Errors1": {
      "main": [
        [
          {
            "node": "Send Telegram Alert1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Length": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "rJfFKS2DGRAn_IPJR1xTc"
  },
  "versionId": "91023f13-fbe4-41ca-823e-10c95c9f12a5",
  "meta": {
    "instanceId": "6819133d7d7a8c3c6c728508316cdaac6420c5bbe2de9a1439bbb952efe61179",
    "templateCredsSetupCompleted": true
  },
  "id": "LpogDbgYGx306LZr",
  "tags": []
}