n8n/workflows/Job Poller V2.json
{
  "name": "Job Poller V2",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 2
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        4480,
        1344
      ],
      "id": "c43b277d-72a8-4ccf-9897-6948869f2dda",
      "name": "Schedule Trigger (1 min)"
    },
    {
      "parameters": {
        "url": "http://cartracker-scraper:8000/scrape_results/jobs/completed",
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        5152,
        1344
      ],
      "id": "26b73f45-7f62-4cb6-918a-8c0de3403708",
      "name": "Get Completed Jobs",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Normalize: httpRequest may return each array element as a separate item,\n// or the whole array as one item — handle both.\nconst allItems = $input.all();\nlet jobs = [];\nfor (const item of allItems) {\n  const d = item.json;\n  if (Array.isArray(d)) {\n    jobs = jobs.concat(d);\n  } else if (d.job_id) {\n    jobs.push(d);\n  }\n}\n\nif (jobs.length === 0) return []; // Nothing to do\n\n// Emit one item per artifact. Jobs with 0 artifacts get a stub\n// (no filepath/artifact_type) so Has Artifact? routes them to skip-insert.\nconst items = [];\nfor (const job of jobs) {\n  const artifacts = job.artifacts || [];\n  if (artifacts.length === 0) {\n    items.push({ json: { job_id: job.job_id, run_id: job.run_id, search_key: job.search_key, scope: job.scope } });\n  } else {\n    for (const a of artifacts) {\n      items.push({ json: { ...a, job_id: job.job_id, run_id: job.run_id, search_key: a.search_key ?? job.search_key, scope: job.scope } });\n    }\n  }\n}\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5584,
        1344
      ],
      "id": "a5659cc9-69a7-479f-be1c-a506632f1a7e",
      "name": "Explode Artifacts"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO raw_artifacts (\n  run_id,\n  source,\n  artifact_type,\n  search_key,\n  search_scope,\n  page_num,\n  url,\n  fetched_at,\n  http_status,\n  content_type,\n  content_bytes,\n  sha256,\n  filepath,\n  error,\n  listing_id\n)\nVALUES (\n  '{{$json.run_id}}'::uuid,\n  '{{$json.source}}',\n  '{{$json.artifact_type}}',\n  '{{$json.search_key}}',\n  '{{$json.search_scope}}',\n  {{$json.page_num}},\n  '{{$json.url}}',\n  '{{$json.fetched_at}}',\n  {{$json.http_status}},\n  '{{$json.content_type}}',\n  {{$json.content_bytes}},\n  '{{$json.sha256}}',\n  '{{$json.filepath}}',\n  {{ $json.error === null ? 'NULL' : \"'\" + $json.error + \"'\" }},\n  {{ $json.listing_id === null || $json.listing_id === undefined ? 'NULL' : \"'\" + $json.listing_id + \"'::uuid\" }}\n);\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        6240,
        1152
      ],
      "id": "8a4cb7fb-d5f5-44e8-9a8a-4585c9220092",
      "name": "Insert Artifact",
      "credentials": {
        "postgres": {
          "id": "cred-postgres-main",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Collect all items from both branches (artifacts inserted + skipped)\n// Deduplicate by job_id\nconst seen = new Set();\nconst jobs = [];\nfor (const item of $input.all()) {\n  const jid = item.json.job_id;\n  if (jid && !seen.has(jid)) {\n    seen.add(jid);\n    jobs.push({\n      json: {\n        job_id: jid,\n        run_id: item.json.run_id,\n        artifact_count: item.json.artifact_count || 0\n      }\n    });\n  }\n}\nreturn jobs;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6240,
        1344
      ],
      "id": "dc965d51-1130-4167-87c0-80b3dbbbb750",
      "name": "Unique Job IDs"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://cartracker-scraper:8000/scrape_results/jobs/{{ $json.job_id }}/fetched",
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        6464,
        1344
      ],
      "id": "896ce52e-9d2d-4cf6-aefc-e8cf29650699",
      "name": "Mark Job Fetched (API)"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE scrape_jobs\nSET status = 'fetched',\n    fetched_at = now(),\n    artifact_count = (\n      SELECT COUNT(*) FROM raw_artifacts ra\n      WHERE ra.run_id = scrape_jobs.run_id\n        AND ra.search_key = scrape_jobs.search_key\n        AND ra.search_scope = scrape_jobs.scope\n    ),\n    error = {{ $json.error_count }}::text\nWHERE job_id = '{{ $json.job_id }}'::uuid\nRETURNING run_id;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        7072,
        1344
      ],
      "id": "b64cd0e8-d0ab-4160-8a97-186f410ea8f8",
      "name": "Update scrape_jobs",
      "credentials": {
        "postgres": {
          "id": "cred-postgres-main",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract unique run_ids\nconst seen = new Set();\nconst runs = [];\nfor (const item of $input.all()) {\n  const rid = item.json.run_id;\n  if (rid && !seen.has(rid)) {\n    seen.add(rid);\n    runs.push({ json: { run_id: rid } });\n  }\n}\nreturn runs;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7264,
        1344
      ],
      "id": "6a3616d3-28ae-428b-b70d-05f1d4182637",
      "name": "Unique Run IDs"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  '{{ $json.run_id }}'::uuid AS run_id,\n  COUNT(*) FILTER (WHERE status NOT IN ('fetched', 'failed')) AS pending\nFROM scrape_jobs\nWHERE run_id = '{{ $json.run_id }}'::uuid;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        7472,
        1344
      ],
      "id": "16036e09-ef68-4af5-987d-9961a9f72012",
      "name": "Check Pending Jobs",
      "credentials": {
        "postgres": {
          "id": "cred-postgres-main",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond-all-done",
              "leftValue": "={{ $json.pending }}",
              "rightValue": "0",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        7680,
        1344
      ],
      "id": "80f29f3f-edee-4baa-bce5-6efbbd7b98c8",
      "name": "All Jobs Done?"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH run_errors AS (\n  SELECT\n    SUM(error::int) FILTER (WHERE error is not NULL) AS error_count\n    ,SUM(artifact_count) as artifact_count\n  FROM scrape_jobs\n  WHERE run_id = '{{ $json.run_id }}'::uuid\n)\nUPDATE runs\nSET status = CASE\n      WHEN (SELECT error_count FROM run_errors) > 0\n           AND (SELECT error_count FROM run_errors) < (SELECT artifact_count FROM run_errors )\n      THEN 'partial'\n      WHEN (SELECT error_count FROM run_errors) = (SELECT artifact_count FROM run_errors ) THEN 'failed'\n      ELSE 'success'\n    END,\n    total_count = (SELECT artifact_count FROM run_errors ),\n    finished_at = now(),\n    error_count = (SELECT error_count FROM run_errors),\n    last_error = NULL\nWHERE run_id = '{{ $json.run_id }}'::uuid\n  AND status = 'running';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        7952,
        1248
      ],
      "id": "04148285-0dde-4bf4-a1c0-285f6d8e0ad7",
      "name": "Mark Run Done",
      "credentials": {
        "postgres": {
          "id": "cred-postgres-main",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "752cf3bf-2a67-4d8c-99b3-385d27c879dd",
              "leftValue": "={{ $json.filepath }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        5808,
        1344
      ],
      "id": "a49f7e03-abda-4957-bf01-efcb9302a48b",
      "name": "If"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.error }}",
                    "rightValue": "ERR_HTTP2",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "fe15becd-ec0d-4a89-8725-4781ff491516"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Has Backoff Error"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "2ddb2a3a-857d-44a9-9243-2a48264f7db7",
                    "leftValue": "={{ $json.error }}",
                    "rightValue": "403",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "403 Error"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "952f2e98-f200-4ac6-a0e9-d7055bf68cb5",
                    "leftValue": "={{ $json.error }}",
                    "rightValue": "No Error",
                    "operator": {
                      "type": "string",
                      "operation": "empty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "No Error"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "acbfcd12-9eb4-4029-aaae-6bacab52524e",
                    "leftValue": "={{ $json.error }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Other Error"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        6224,
        1728
      ],
      "id": "1f70382d-8747-48df-9aca-af61a16905ee",
      "name": "Switch"
    },
    {
      "parameters": {
        "jsCode": "// Aggregate all error items into a single summary message\nconst items = $input.all();\nconst errors = [];\nconst seen = new Set();\n\nfor (const item of items) {\n  const d = item.json;\n  const key = `${d.search_key}|${d.scope}|${d.page_num}`;\n  if (seen.has(key)) continue;\n  seen.add(key);\n  errors.push({\n    search_key: d.search_key || 'unknown',\n    scope: d.scope || '?',\n    page_num: d.page_num || '?',\n    http_status: d.http_status || 'N/A',\n    url: d.url || '',\n    error: (d.error || '').substring(0, 200),\n  });\n}\n\n// Group by search_key + scope\nconst groups = {};\nfor (const e of errors) {\n  const gk = `${e.search_key} (${e.scope})`;\n  if (!groups[gk]) groups[gk] = [];\n  groups[gk].push(e);\n}\n\nlet lines = [`\\u{1F6A8} <b>Akamai Rate Limit — ${errors.length} error(s)</b>\\n`];\nfor (const [group, errs] of Object.entries(groups)) {\n  lines.push(`<b>${group}</b>: ${errs.length} blocked`);\n  for (const e of errs) {\n    lines.push(`  • page ${e.page_num} — ${e.error}`);\n  }\n  lines.push('');\n}\n\nreturn [{ json: { summary: lines.join('\\n') } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6688,
        1616
      ],
      "id": "86ce78a9-9340-43b0-b335-739a61ab309d",
      "name": "Summarize Errors"
    },
    {
      "parameters": {
        "chatId": "774819707",
        "text": "={{ $json.summary }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        6928,
        1616
      ],
      "id": "9b6af8d3-7c9b-4154-906c-8bc8d5eef302",
      "name": "Send Telegram Alert",
      "webhookId": "d77f6cce-4c96-4c1c-9fb8-d6f31a8e4a84",
      "credentials": {
        "telegramApi": {
          "id": "cred-telegram-main",
          "name": "Cartracker Alerts"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "QrtISF4STFcsa2bug83s4",
          "mode": "list",
          "cachedResultUrl": "/workflow/QrtISF4STFcsa2bug83s4",
          "cachedResultName": "Check Deploy Intent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "parent_workflow_id": "={{ $execution.id }}",
            "parent_workflow_name": "={{ $workflow.name }}",
            "parent_workflow_timestamp": "={{ $now }}",
            "parent_workflow_status": "started"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "parent_workflow_name",
              "displayName": "parent_workflow_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "parent_workflow_id",
              "displayName": "parent_workflow_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "parent_workflow_timestamp",
              "displayName": "parent_workflow_timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "parent_workflow_status",
              "displayName": "parent_workflow_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        4704,
        1344
      ],
      "id": "663b60de-da9d-4f61-81e3-97cb4d12448f",
      "name": "Call 'Check Deploy Intent'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "QaFnwxOQopzO-wVjL64dl",
          "mode": "list",
          "cachedResultUrl": "/workflow/QaFnwxOQopzO-wVjL64dl",
          "cachedResultName": "Update n8n Runs Table"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "parent_workflow_id": "={{ $execution.id }}",
            "parent_workflow_timestamp": "={{ $now }}",
            "parent_workflow_status": "completed",
            "parent_workflow_name": "={{ $workflow.name }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "parent_workflow_name",
              "displayName": "parent_workflow_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "parent_workflow_id",
              "displayName": "parent_workflow_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "parent_workflow_timestamp",
              "displayName": "parent_workflow_timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "parent_workflow_status",
              "displayName": "parent_workflow_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        8176,
        1248
      ],
      "id": "025920b8-edf4-4239-b3a7-741eebfba466",
      "name": "Call 'Update n8n Runs Table'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "QaFnwxOQopzO-wVjL64dl",
          "mode": "list",
          "cachedResultUrl": "/workflow/QaFnwxOQopzO-wVjL64dl",
          "cachedResultName": "Update n8n Runs Table"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "parent_workflow_id": "={{ $execution.id }}",
            "parent_workflow_timestamp": "={{ $now }}",
            "parent_workflow_name": "={{ $workflow.name }}",
            "parent_workflow_status": "completed"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "parent_workflow_name",
              "displayName": "parent_workflow_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "parent_workflow_id",
              "displayName": "parent_workflow_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "parent_workflow_timestamp",
              "displayName": "parent_workflow_timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "parent_workflow_status",
              "displayName": "parent_workflow_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        7952,
        1440
      ],
      "id": "835b3565-b0af-4434-bcdc-959b4dc442c1",
      "name": "Call 'Update n8n Runs Table'1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1c979a3b-731d-4183-abe4-71f87c7faabe",
              "leftValue": "={{ $json.can_deploy }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        4912,
        1344
      ],
      "id": "a2f57617-0ac6-4393-b749-a5d35bc236f2",
      "name": "Can Deploy?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e2d3b219-918f-4dcf-b743-9878b5d92452",
              "leftValue": "={{ $json.isEmpty() }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        5344,
        1376
      ],
      "id": "27317e31-9e98-452a-8e75-9ff68e182471",
      "name": "If1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "QaFnwxOQopzO-wVjL64dl",
          "mode": "list",
          "cachedResultUrl": "/workflow/QaFnwxOQopzO-wVjL64dl",
          "cachedResultName": "Update n8n Runs Table"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "parent_workflow_id": "={{ $execution.id }}",
            "parent_workflow_timestamp": "={{ $now }}",
            "parent_workflow_name": "={{ $workflow.name }}",
            "parent_workflow_status": "completed"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "parent_workflow_name",
              "displayName": "parent_workflow_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "parent_workflow_id",
              "displayName": "parent_workflow_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "parent_workflow_timestamp",
              "displayName": "parent_workflow_timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "parent_workflow_status",
              "displayName": "parent_workflow_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        5552,
        1520
      ],
      "id": "adae4bb1-2229-462e-ad58-8985c7794bf5",
      "name": "Call 'Update n8n Runs Table'2"
    },
    {
      "parameters": {
        "jsCode": "// Aggregate all error items into a single summary message\nconst items = $input.all();\nconst total_errors = items.length;\nconst total_items = $input.first().json.total_artifacts;\nconst rate = total_items > 0 ? `${(total_errors / total_items * 100).toFixed(1)}%` : 'N/A';\nconst errors = [];\nconst seen = new Set();\n\nfor (const item of items) {\n  const d = item.json;\n  const key = `${d.search_key}|${d.scope}|${d.listing_id}`;\n  if (seen.has(key)) continue;\n  seen.add(key);\n  errors.push({\n    search_key: d.search_key || 'unknown',\n    scope: d.scope || '?',\n    listing_id: d.listing_id || '?',\n    http_status: d.http_status || 'N/A',\n    url: d.url || '',\n    error: (d.error || '').substring(0, 200),\n  });\n}\n\n// Group by search_key + scope\nconst groups = {};\nfor (const e of errors) {\n  const gk = `${e.search_key} (${e.scope})`;\n  if (!groups[gk]) groups[gk] = [];\n  groups[gk].push(e);\n}\n\nlet lines = [`\\u{1F6A8} <b>Cloudfare 403 — ${errors.length} error(s) - ${rate}</b>\\n`];\nfor (const [group, errs] of Object.entries(groups)) {\n  lines.push(`<b>${group}</b>: ${errs.length} blocked`);\n  lines.push('');\n}\n\nreturn [{ json: { summary: lines.join('\\n') } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6688,
        1760
      ],
      "id": "5e3534dc-f8f0-4ab4-8119-adda1443354b",
      "name": "Summarize Errors1"
    },
    {
      "parameters": {
        "chatId": "774819707",
        "text": "={{ $json.summary }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        6928,
        1760
      ],
      "id": "642f3d33-bfdc-4a8a-b736-9f62ecdb6982",
      "name": "Send Telegram Alert1",
      "webhookId": "d77f6cce-4c96-4c1c-9fb8-d6f31a8e4a84",
      "credentials": {
        "telegramApi": {
          "id": "cred-telegram-main",
          "name": "Cartracker Alerts"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7f12e0b1-ebeb-4ac6-a718-875d16e6e9d5",
              "name": "total_artifacts",
              "value": "={{ $input.all().length }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        6032,
        1520
      ],
      "id": "a2fbe0a0-dfff-4ac3-9e4c-5caeaf3d6b3f",
      "name": "Set Length"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "422b8f4b-3e99-43eb-9203-2ec31f09e513",
              "name": "update_type",
              "value": "add",
              "type": "string"
            },
            {
              "id": "4a54de42-67d0-42a3-8d51-2bf061b758b7",
              "name": "listing_id",
              "value": "={{ $json.listing_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        6688,
        1888
      ],
      "id": "7391a7a2-8749-47d6-af91-de273903f2c4",
      "name": "Set Update to Add"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "422b8f4b-3e99-43eb-9203-2ec31f09e513",
              "name": "update_type",
              "value": "remove",
              "type": "string"
            },
            {
              "id": "4a54de42-67d0-42a3-8d51-2bf061b758b7",
              "name": "listing_id",
              "value": "={{ $json.listing_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        6688,
        2016
      ],
      "id": "1fc5ed63-6d44-42c1-b5b9-444657a7c94f",
      "name": "Set Update to Remove"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        6928,
        1968
      ],
      "id": "289979b3-67e1-4237-b3dc-9f47124cf49c",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "const adds = $input.all()\n  .filter(i => i.json.update_type === 'add')\n  .map(i => i.json.listing_id)\n  .filter(Boolean);\n\nconst removes = $input.all()\n  .filter(i => i.json.update_type === 'remove')\n  .map(i => i.json.listing_id)\n  .filter(Boolean);\n\nreturn [{ json: { add_ids: adds, remove_ids: removes } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7136,
        1968
      ],
      "id": "1434f61f-b412-4513-8404-3212edaf7358",
      "name": "Aggregate IDs"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO blocked_cooldown (listing_id, first_attempt_at, last_attempted_at, num_of_attempts)\nSELECT lid, now(), now(), 1\nFROM jsonb_array_elements_text('{{ JSON.stringify($json.add_ids) }}'::jsonb) AS lid\nON CONFLICT (listing_id) DO UPDATE\n  SET last_attempted_at = now(),\n      num_of_attempts   = blocked_cooldown.num_of_attempts + 1;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        7360,
        1888
      ],
      "id": "06bcca8d-24b7-4b30-ac53-8c758323f5f3",
      "name": "Upsert Blocked Cooldown",
      "credentials": {
        "postgres": {
          "id": "cred-postgres-main",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM blocked_cooldown\nWHERE listing_id IN (\n  SELECT jsonb_array_elements_text('{{ JSON.stringify($json.remove_ids) }}'::jsonb)\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        7360,
        2064
      ],
      "id": "7a3954b9-3128-42a1-94c9-e2eb7e27212d",
      "name": "Clear Block Cooldown",
      "credentials": {
        "postgres": {
          "id": "cred-postgres-main",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        7568,
        1984
      ],
      "id": "8262908b-dbbd-47ae-96dd-4aef22b25d11",
      "name": "Merge1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "qdURL8XbEkdApnjdAcFFL",
          "mode": "list",
          "cachedResultUrl": "/workflow/qdURL8XbEkdApnjdAcFFL",
          "cachedResultName": "Build DBT"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "intent": "after_403"
          },
          "matchingColumns": [
            "intent"
          ],
          "schema": [
            {
              "id": "intent",
              "displayName": "intent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        8064,
        1984
      ],
      "id": "9f7ad631-1f3e-46b2-ac90-0eaee18e5f8b",
      "name": "Call 'Build DBT'",
      "executeOnce": true
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        6480,
        1520
      ],
      "id": "b9cd4cf2-8f91-4df9-a189-ad6076061285",
      "name": "Merge2"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "job_id",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        6848,
        1344
      ],
      "id": "27239eb1-5f70-4cec-8cb6-76f140bc20aa",
      "name": "Merge3"
    },
    {
      "parameters": {
        "jsCode": "// Get all incoming items\nconst items = $input.all();\n\n// Object to hold counts per job_id\nconst counts = {};\n\n// Loop through each item\nfor (const item of items) {\n  const jobId = item.json.job_id;\n  const error = item.json.error\n  if (!counts[jobId]) {\n    counts[jobId] = 0;\n  }\n\n  if (error != null) {\n    counts[jobId]++;\n  } \n}\n\n// Convert to desired output format\nconst result = Object.entries(counts).map(([job_id, error_count]) => ({\n  json: {\n    job_id,\n    error_count\n  }\n}));\n\nreturn result;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6672,
        1456
      ],
      "id": "0414881a-4294-49cf-9363-5d33142694b0",
      "name": "Job Error Counts"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM blocked_cooldown bc\nUSING (\n    SELECT bc.listing_id\n    FROM blocked_cooldown bc\n    LEFT JOIN ops.ops_vehicle_staleness vs\n        ON bc.listing_id = vs.listing_id\n    LEFT JOIN analytics.int_latest_price_by_vin pr\n        ON bc.listing_id = pr.price_listing_id\n    WHERE\n        vs.listing_id IS NULL\n        OR (\n            pr.price_observed_at > bc.last_attempted_at\n            AND pr.price IS NOT NULL\n        )\n) stale\nWHERE bc.listing_id = stale.listing_id;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        7792,
        1984
      ],
      "id": "087a8707-cacd-4d50-ae67-36e157192c2a",
      "name": "Remove Invalid Blocked Listings",
      "credentials": {
        "postgres": {
          "id": "cred-postgres-main",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {
    "Schedule Trigger (1 min)": [
      {
        "json": {
          "timestamp": "2026-04-07T12:50:10.004-04:00",
          "Readable date": "April 7th 2026, 12:50:10 pm",
          "Readable time": "12:50:10 pm",
          "Day of week": "Tuesday",
          "Year": "2026",
          "Month": "April",
          "Day of month": "07",
          "Hour": "12",
          "Minute": "50",
          "Second": "10",
          "Timezone": "America/New_York (UTC-04:00)"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Schedule Trigger (1 min)": {
      "main": [
        [
          {
            "node": "Call 'Check Deploy Intent'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Completed Jobs": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Explode Artifacts": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unique Job IDs": {
      "main": [
        [
          {
            "node": "Mark Job Fetched (API)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Job Fetched (API)": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update scrape_jobs": {
      "main": [
        [
          {
            "node": "Unique Run IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unique Run IDs": {
      "main": [
        [
          {
            "node": "Check Pending Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Pending Jobs": {
      "main": [
        [
          {
            "node": "All Jobs Done?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "All Jobs Done?": {
      "main": [
        [
          {
            "node": "Mark Run Done",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'Update n8n Runs Table'1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Insert Artifact",
            "type": "main",
            "index": 0
          },
          {
            "node": "Unique Job IDs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set Length",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unique Job IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Summarize Errors",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge2",
            "type": "main",
            "index": 2
          }
        ],
        [
          {
            "node": "Summarize Errors1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set Update to Add",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Set Update to Remove",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge2",
            "type": "main",
            "index": 3
          }
        ],
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize Errors": {
      "main": [
        [
          {
            "node": "Send Telegram Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Check Deploy Intent'": {
      "main": [
        [
          {
            "node": "Can Deploy?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Run Done": {
      "main": [
        [
          {
            "node": "Call 'Update n8n Runs Table'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Telegram Alert": {
      "main": [
        []
      ]
    },
    "Can Deploy?": {
      "main": [
        [
          {
            "node": "Get Completed Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Explode Artifacts",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'Update n8n Runs Table'2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize Errors1": {
      "main": [
        [
          {
            "node": "Send Telegram Alert1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Length": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Update to Remove": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Set Update to Add": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Aggregate IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate IDs": {
      "main": [
        [
          {
            "node": "Upsert Blocked Cooldown",
            "type": "main",
            "index": 0
          },
          {
            "node": "Clear Block Cooldown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Blocked Cooldown": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clear Block Cooldown": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Remove Invalid Blocked Listings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Job Error Counts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "Update scrape_jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Job Error Counts": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Remove Invalid Blocked Listings": {
      "main": [
        [
          {
            "node": "Call 'Build DBT'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "rJfFKS2DGRAn_IPJR1xTc"
  },
  "versionId": "4a6afc3e-4968-45f4-9fb2-70128038243e",
  "meta": {
    "instanceId": "1b1b06b146464bd11598b953bd26f240b76d29c4f3fd6e8e80dcdf99cedf67d4",
    "templateCredsSetupCompleted": true
  },
  "id": "LpogDbgYGx306LZr",
  "tags": []
}