n8n/workflows/Orphan Checker.json
{
  "name": "Orphan Checker",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -448,
        160
      ],
      "id": "abc0b3f5-2fb2-491a-8d76-cb4da47d3d4e",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE runs \nSET \n  status= 'terminated', \n  finished_at = now(), \n  error_count = COALESCE(error_count,0)+1, \n  last_error = 'Terminated: exceeded {{ $json.timeout_minutes }}-minute timeout' \nWHERE \n  status = 'running' \n  AND started_at < now() - interval '{{ $json.timeout_minutes }} minutes'\nRETURNING run_id;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        448,
        -160
      ],
      "id": "3d31f569-2e2e-42c3-9c08-a6f54a7a2fa2",
      "name": "Expire Orphaned Scrape Runs",
      "alwaysOutputData": false,
      "credentials": {
        "postgres": {
          "id": "l8Ecbn62FzXCDkF9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE artifact_processing\nSET \n  status = 'retry',\n  message = 'Terminated: exceeded {{ $json.timeout_minutes }}-minute timeout'\nWHERE\n  status = 'processing'\n  AND processed_at < now() - interval '{{ $json.timeout_minutes }} minutes'\nRETURNING\n  artifact_id",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        448,
        224
      ],
      "id": "63814da1-c382-46ae-a554-3fba6298056a",
      "name": "Expire Orphaned Processing Artifacts",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "l8Ecbn62FzXCDkF9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE processing_runs\nSET\n  status = 'terminated',\n  finished_at = now(),\n  error_count = COALESCE(error_count,0)+1, \n  last_error = 'Terminated: exceeded {{ $json.timeout_minutes }}-minute timeout' \nWHERE \n  status = 'processing' \n  AND started_at < now() - interval '{{ $json.timeout_minutes }} minutes'\nRETURNING run_id;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        448,
        64
      ],
      "id": "5bac7cab-d35d-4a50-b554-1dc8fd2ed6e8",
      "name": "Orphan Expired Processing Runs",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "l8Ecbn62FzXCDkF9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "run_id"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        896,
        -224
      ],
      "id": "4ee246bc-b71e-4517-abea-44bb2387f07e",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE scrape_jobs\nSET status = 'failed',\n    error = 'Timeout — job lost, likely due to container restart'\nWHERE status IN ('queued', 'running')\n  AND run_id IN ( '{{ $json.run_id.join(\"','\") }}')\nRETURNING job_id",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1120,
        -128
      ],
      "id": "866b3ad7-29dc-4db2-b161-633c401dcea7",
      "name": "Orphan Expired Scrape Jobs",
      "credentials": {
        "postgres": {
          "id": "l8Ecbn62FzXCDkF9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE detail_scrape_claims dsc\nSET status = 'terminated'\nWHERE claimed_by IN ({{ $json.run_id.join(\"','\") }})\n  AND NOT EXISTS (\n    SELECT 1 FROM raw_artifacts ra\n    WHERE ra.listing_id = dsc.listing_id::uuid\n      AND ra.artifact_type = 'detail_page'\n      AND ra.run_id = dsc.claimed_by::uuid\n      AND ra.http_status = 200\n  )\nRETURNING\n  claimed_by",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1120,
        -320
      ],
      "id": "c600b686-efeb-4995-ae8b-c4d084e679ed",
      "name": "Orphan Expired Scrape Claims",
      "credentials": {
        "postgres": {
          "id": "l8Ecbn62FzXCDkF9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "125eb855-a89e-4ab4-9efd-a8103fd07180",
              "name": "timeout_minutes",
              "value": 60,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        160
      ],
      "id": "c5a1cd88-b171-4b5b-bc7b-da3ef23fc380",
      "name": "Set Timeout"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "49e97105-6790-418a-aea3-bedc08f07e79",
              "leftValue": "={{ $json.run_id }}",
              "rightValue": false,
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        672,
        -160
      ],
      "id": "d0a1fb28-7b92-46ad-b254-62ccf0377120",
      "name": "If"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "QrtISF4STFcsa2bug83s4",
          "mode": "list",
          "cachedResultUrl": "/workflow/QrtISF4STFcsa2bug83s4",
          "cachedResultName": "Check Deploy Intent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "parent_workflow_name": "={{ $workflow.name }}",
            "parent_workflow_timestamp": "={{ $now }}",
            "parent_workflow_status": "started",
            "parent_workflow_id": "={{ $execution.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "parent_workflow_name",
              "displayName": "parent_workflow_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "parent_workflow_id",
              "displayName": "parent_workflow_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "parent_workflow_timestamp",
              "displayName": "parent_workflow_timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "parent_workflow_status",
              "displayName": "parent_workflow_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -224,
        160
      ],
      "id": "04f26a94-18ab-4cc8-be96-f1fa593fd99e",
      "name": "Call 'Check Deploy Intent'"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1344,
        -224
      ],
      "id": "039f0d5e-3d6c-49f4-8b0f-8fb7f56013f9",
      "name": "Merge"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        864,
        256
      ],
      "id": "abacf7de-3ee0-49eb-a1ca-957fa6b98a60",
      "name": "Merge3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1568,
        16
      ],
      "id": "4f8d7359-ba4b-45ed-9003-27e3fb388f03",
      "name": "Merge2"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "QaFnwxOQopzO-wVjL64dl",
          "mode": "list",
          "cachedResultUrl": "/workflow/QaFnwxOQopzO-wVjL64dl",
          "cachedResultName": "Update n8n Runs Table"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "parent_workflow_id": "={{ $execution.id }}",
            "parent_workflow_timestamp": "={{ $now }}",
            "parent_workflow_name": "={{ $workflow.name }}",
            "parent_workflow_status": "completed"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "parent_workflow_name",
              "displayName": "parent_workflow_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "parent_workflow_id",
              "displayName": "parent_workflow_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "parent_workflow_timestamp",
              "displayName": "parent_workflow_timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "parent_workflow_status",
              "displayName": "parent_workflow_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1792,
        16
      ],
      "id": "d1ca917e-cc88-47da-a00d-9c8e902e3278",
      "name": "Call 'Update n8n Runs Table'"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1c979a3b-731d-4183-abe4-71f87c7faabe",
              "leftValue": "={{ $json.can_deploy }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        0,
        160
      ],
      "id": "45b375c1-d043-4b97-9800-de7e795c8205",
      "name": "Can Deploy?"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE n8n_executions\nSET \n  status = 'terminated',\n  finished_at = now()\nWHERE\n  status = 'running'\n  AND started_at < now() - interval '{{ $json.timeout_minutes }} minutes'\nRETURNING\n  execution_id",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        448,
        432
      ],
      "id": "e3110d61-c336-4159-8631-0ddbd29c25ae",
      "name": "Expire Orphaned n8n Runs",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "l8Ecbn62FzXCDkF9",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Call 'Check Deploy Intent'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Expire Orphaned Scrape Runs": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Orphan Expired Processing Runs": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Orphan Expired Scrape Claims",
            "type": "main",
            "index": 0
          },
          {
            "node": "Orphan Expired Scrape Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Timeout": {
      "main": [
        [
          {
            "node": "Orphan Expired Processing Runs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Expire Orphaned Scrape Runs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Expire Orphaned Processing Artifacts",
            "type": "main",
            "index": 0
          },
          {
            "node": "Expire Orphaned n8n Runs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Check Deploy Intent'": {
      "main": [
        [
          {
            "node": "Can Deploy?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Expire Orphaned Processing Artifacts": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Orphan Expired Scrape Claims": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Orphan Expired Scrape Jobs": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Call 'Update n8n Runs Table'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Can Deploy?": {
      "main": [
        [
          {
            "node": "Set Timeout",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Expire Orphaned n8n Runs": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 2
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "a2687291-341c-4168-955b-ed88eb59f9ca",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6819133d7d7a8c3c6c728508316cdaac6420c5bbe2de9a1439bbb952efe61179"
  },
  "id": "elrLcKZaLC75BAcLQdz49",
  "tags": []
}