n8n/workflows/Orphan Checker.json
{
  "name": "Orphan Checker",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -384,
        0
      ],
      "id": "abc0b3f5-2fb2-491a-8d76-cb4da47d3d4e",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE runs \nSET \n  status= 'terminated', \n  finished_at = now(), \n  error_count = COALESCE(error_count,0)+1, \n  last_error = 'Terminated: exceeded {{ $json.timeout_minutes }}-minute timeout' \nWHERE \n  status = 'running' \n  AND started_at < now() - interval '{{ $json.timeout_minutes }} minutes'\nRETURNING run_id;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        256,
        -160
      ],
      "id": "3d31f569-2e2e-42c3-9c08-a6f54a7a2fa2",
      "name": "Expire Orphaned Scrape Runs",
      "alwaysOutputData": false,
      "credentials": {
        "postgres": {
          "id": "l8Ecbn62FzXCDkF9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE artifact_processing\nSET \n  status = 'retry',\n  message = 'Terminated: exceeded {{ $json.timeout_minutes }}-minute timeout'\nWHERE\n  status = 'processing'\n  AND processed_at < now() - interval '{{ $json.timeout_minutes }} minutes'\nRETURNING\n  artifact_id",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        256,
        176
      ],
      "id": "63814da1-c382-46ae-a554-3fba6298056a",
      "name": "Expire Orphaned Processing Artifacts",
      "credentials": {
        "postgres": {
          "id": "l8Ecbn62FzXCDkF9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE processing_runs\nSET\n  status = 'terminated',\n  finished_at = now(),\n  error_count = COALESCE(error_count,0)+1, \n  last_error = 'Terminated: exceeded {{ $json.timeout_minutes }}-minute timeout' \nWHERE \n  status = 'processing' \n  AND started_at < now() - interval '{{ $json.timeout_minutes }} minutes'\nRETURNING run_id;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        256,
        0
      ],
      "id": "5bac7cab-d35d-4a50-b554-1dc8fd2ed6e8",
      "name": "Orphan Expired Processing Runs",
      "credentials": {
        "postgres": {
          "id": "l8Ecbn62FzXCDkF9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "run_id"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        672,
        -160
      ],
      "id": "4ee246bc-b71e-4517-abea-44bb2387f07e",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE scrape_jobs\nSET status = 'failed',\n    error = 'Timeout — job lost, likely due to container restart'\nWHERE status IN ('queued', 'running')\n  AND run_id IN ( '{{ $json.run_id.join(\"','\") }}')\nRETURNING job_id",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        864,
        32
      ],
      "id": "866b3ad7-29dc-4db2-b161-633c401dcea7",
      "name": "Orphan Expired Scrape Jobs",
      "credentials": {
        "postgres": {
          "id": "l8Ecbn62FzXCDkF9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE detail_scrape_claims dsc\nSET status = 'terminated'\nWHERE claimed_by IN ({{ $json.run_id.join(\"','\") }})\n  AND NOT EXISTS (\n    SELECT 1 FROM raw_artifacts ra\n    WHERE ra.listing_id = dsc.listing_id::uuid\n      AND ra.artifact_type = 'detail_page'\n      AND ra.run_id = dsc.claimed_by::uuid\n      AND ra.http_status = 200\n  )\nRETURNING\n  claimed_by",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        864,
        -160
      ],
      "id": "c600b686-efeb-4995-ae8b-c4d084e679ed",
      "name": "Orphan Expired Scrape Claims",
      "credentials": {
        "postgres": {
          "id": "l8Ecbn62FzXCDkF9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "125eb855-a89e-4ab4-9efd-a8103fd07180",
              "name": "timeout_minutes",
              "value": 60,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -80,
        0
      ],
      "id": "c5a1cd88-b171-4b5b-bc7b-da3ef23fc380",
      "name": "Set Timeout"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "49e97105-6790-418a-aea3-bedc08f07e79",
              "leftValue": "={{ $json.run_id }}",
              "rightValue": false,
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        464,
        -160
      ],
      "id": "d0a1fb28-7b92-46ad-b254-62ccf0377120",
      "name": "If"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Set Timeout",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Expire Orphaned Scrape Runs": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Orphan Expired Processing Runs": {
      "main": [
        []
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Orphan Expired Scrape Claims",
            "type": "main",
            "index": 0
          },
          {
            "node": "Orphan Expired Scrape Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Timeout": {
      "main": [
        [
          {
            "node": "Orphan Expired Processing Runs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Expire Orphaned Scrape Runs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Expire Orphaned Processing Artifacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "3f17fdde-3182-49ab-b79b-393a67e3c5b3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6819133d7d7a8c3c6c728508316cdaac6420c5bbe2de9a1439bbb952efe61179"
  },
  "id": "elrLcKZaLC75BAcLQdz49",
  "tags": []
}