n8n/workflows/Parse Detail Pages.json
{
  "name": "Parse Detail Pages",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        3344,
        3840
      ],
      "id": "c8485c74-e9d3-490b-a91c-eefbb5aa6259",
      "name": "After Scrape"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH candidates AS (\n  SELECT ra.artifact_id\n  FROM raw_artifacts ra\n  LEFT JOIN artifact_processing ap\n    ON ap.artifact_id = ra.artifact_id\n   AND ap.processor = '{{ $json.processor }}'\n  WHERE ra.source = 'cars.com'\n    AND ra.artifact_type = 'detail_page'\n    AND NOT EXISTS (\n      SELECT 1\n      FROM artifact_processing ap_ok\n      WHERE ap_ok.artifact_id = ra.artifact_id\n        AND ap_ok.status = 'ok'\n        AND ap_ok.processor LIKE 'cars_detail_page__%'\n    )\n    AND (\n          ap.artifact_id IS NULL\n          OR ap.status = 'retry'\n          OR (ap.status = 'processing' AND ap.processed_at < now() - interval '1 minutes')\n        )\n  ORDER BY ra.fetched_at ASC\n  LIMIT 500\n),\nclaimed AS (\n  INSERT INTO artifact_processing (artifact_id, processor, status, processed_at)\n  SELECT c.artifact_id, '{{ $json.processor }}', 'processing', now()\n  FROM candidates c\n  ON CONFLICT (artifact_id, processor) DO UPDATE\n    SET status = 'processing',\n        processed_at = now(),\n        message = NULL\n  RETURNING artifact_id\n)\nSELECT ra.*\nFROM raw_artifacts ra\nJOIN claimed c ON ra.artifact_id = c.artifact_id\nORDER BY ra.fetched_at ASC;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3792,
        3840
      ],
      "id": "7b62e186-ee17-401a-8929-252448aab8e2",
      "name": "Identify Unproccessed Artifacts",
      "credentials": {
        "postgres": {
          "id": "l8Ecbn62FzXCDkF9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"processor\": \"cars_detail_page__v1\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3568,
        3840
      ],
      "id": "2ab0061c-5ed8-4cec-ac67-5711b7d28540",
      "name": "Set Processor"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        4016,
        3840
      ],
      "id": "94d192c0-619f-4ec4-a4ed-b137e4d7c9be",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://cartracker-scraper:8000/process/detail_pages",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"processor\": \"cars_detail_page__v1\",\n  \"artifact\": {\n    \"artifact_id\": \"{{ $json.artifact_id }}\",\n    \"filepath\": \"{{ $json.filepath }}\",\n    \"search_key\": \"{{ $json.search_key }}\",\n    \"url\": \"{{ $json.url }}\"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        4240,
        3776
      ],
      "id": "c01acf31-fc08-4b2e-8b77-b2ee45273ca5",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        4464,
        3504
      ],
      "id": "a7e59eba-824e-4e3d-865d-0ffe7dec2076",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH parsed AS (\n  SELECT *\n  FROM jsonb_to_recordset('{{ JSON.stringify($json.data).replace(/'/g,\"''\") }}'::jsonb)\n    AS p(\n      processor   text,\n      artifact_id bigint,\n      status      text,\n      message     text,\n      search_key  text,\n      meta        jsonb,\n      \"primary\"   jsonb,\n      carousel    jsonb\n    )\n),\nra AS (\n  SELECT artifact_id, fetched_at, url\n  FROM raw_artifacts\n  WHERE artifact_id IN (SELECT artifact_id FROM parsed)\n),\nrows AS (\n  SELECT DISTINCT\n    p.artifact_id,\n    ra.fetched_at,\n\n    COALESCE(\n  NULLIF(p.\"primary\"->>'listing_id', ''),\n  NULLIF(regexp_replace(ra.url, '.*/vehicledetail/([^/]+)/?.*', '\\1'), ra.url)\n) AS listing_id,\n    COALESCE(\n      NULLIF(p.\"primary\"->>'vin', ''),\n      CASE WHEN length(p.search_key) = 17 AND p.search_key ~ '^[A-Z0-9]+$' THEN p.search_key END\n    ) AS vin,\n    COALESCE(NULLIF(p.\"primary\"->>'listing_state',''), 'active')   AS listing_state,\n\n    NULLIF(p.\"primary\"->>'make',      '')                          AS make,\n    NULLIF(p.\"primary\"->>'model',     '')                          AS model,\n    NULLIF(p.\"primary\"->>'trim',      '')                          AS \"trim\",\n    NULLIF(p.\"primary\"->>'year',      '')::int                     AS year,\n\n    NULLIF(p.\"primary\"->>'price',   '')::int                       AS price,\n    NULLIF(p.\"primary\"->>'mileage', '')::int                       AS mileage,\n    NULLIF(p.\"primary\"->>'msrp',    '')::int                       AS msrp,\n\n    NULLIF(p.\"primary\"->>'stock_type',  '')                        AS stock_type,\n    NULLIF(p.\"primary\"->>'fuel_type',   '')                        AS fuel_type,\n    NULLIF(p.\"primary\"->>'bodystyle',   '')                        AS body_style,\n    NULLIF(p.\"primary\"->>'dealer_name', '')                        AS dealer_name,\n    NULLIF(p.\"primary\"->>'dealer_zip',  '')                        AS dealer_zip,\n    NULLIF(p.\"primary\"->>'customer_id', '')                        AS customer_id\n\n  FROM parsed p\n  JOIN ra USING (artifact_id)\n  WHERE p.status = 'ok'\n)\nINSERT INTO detail_observations (\n  artifact_id,\n  fetched_at,\n  listing_id,\n  vin,\n  listing_state,\n  make,\n  model,\n  \"trim\",\n  year,\n  price,\n  mileage,\n  msrp,\n  stock_type,\n  fuel_type,\n  body_style,\n  dealer_name,\n  dealer_zip,\n  customer_id\n)\nSELECT\n  artifact_id,\n  fetched_at,\n  listing_id,\n  vin,\n  listing_state,\n  make,\n  model,\n  \"trim\",\n  year,\n  price,\n  mileage,\n  msrp,\n  stock_type,\n  fuel_type,\n  body_style,\n  dealer_name,\n  dealer_zip,\n  customer_id\nFROM rows\nWHERE vin IS NOT NULL AND length(vin) = 17\nON CONFLICT (artifact_id, listing_id) DO UPDATE SET\n  make = EXCLUDED.make,\n  model = EXCLUDED.model,\n  trim = EXCLUDED.trim,\n  year = EXCLUDED.year,\n  fuel_type = EXCLUDED.fuel_type,\n  body_style = EXCLUDED.body_style;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        4688,
        3504
      ],
      "id": "ae24a6c8-c49a-4b07-8045-18e28380a629",
      "name": "Write Detail Observations",
      "credentials": {
        "postgres": {
          "id": "l8Ecbn62FzXCDkF9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH parsed AS (\n  SELECT *\n  FROM jsonb_to_recordset('{{ JSON.stringify($items(\"Aggregate\")[0].json.data).replace(/'/g,\"''\") }}'::jsonb)\n  AS p(\n    artifact_id bigint,\n    status      text,\n    \"primary\"   jsonb,\n    carousel    jsonb\n  )\n  WHERE status = 'ok'\n),\ndealers AS (\n  SELECT DISTINCT ON (NULLIF(p.\"primary\"->>'customer_id',''))\n    NULLIF(p.\"primary\"->>'customer_id','')       AS customer_id,\n    NULLIF(p.\"primary\"->>'dealer_name','')        AS name,\n    NULLIF(p.\"primary\"->>'dealer_street','')      AS street,\n    NULLIF(p.\"primary\"->>'dealer_city','')        AS city,\n    NULLIF(p.\"primary\"->>'dealer_state','')       AS state,\n    NULLIF(p.\"primary\"->>'dealer_zip','')         AS zip,\n    NULLIF(p.\"primary\"->>'dealer_phone','')       AS phone,\n    NULLIF(p.\"primary\"->>'dealer_website','')     AS website,\n    NULLIF(p.\"primary\"->>'dealer_cars_com_url','') AS cars_com_url,\n    (NULLIF(p.\"primary\"->>'dealer_rating',''))::numeric(3,1) AS rating\n  FROM parsed p\n  WHERE NULLIF(p.\"primary\"->>'customer_id','') IS NOT NULL\n    AND NULLIF(p.\"primary\"->>'dealer_name','') IS NOT NULL\n)\nINSERT INTO dealers (customer_id, name, street, city, state, zip, phone, website, cars_com_url, rating)\nSELECT customer_id, name, street, city, state, zip, phone, website, cars_com_url, rating\nFROM dealers\nON CONFLICT (customer_id) DO UPDATE SET\n  name = COALESCE(EXCLUDED.name, dealers.name),\n  street = COALESCE(EXCLUDED.street, dealers.street),\n  city = COALESCE(EXCLUDED.city, dealers.city),\n  state = COALESCE(EXCLUDED.state, dealers.state),\n  zip = COALESCE(EXCLUDED.zip, dealers.zip),\n  phone = COALESCE(EXCLUDED.phone, dealers.phone),\n  website = COALESCE(EXCLUDED.website, dealers.website),\n  cars_com_url = COALESCE(EXCLUDED.cars_com_url, dealers.cars_com_url),\n  rating = COALESCE(EXCLUDED.rating, dealers.rating),\n  last_updated_at = now();\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        4912,
        3504
      ],
      "id": "fb842853-367a-456b-96c0-a966f9a78e55",
      "name": "Upsert Dealers",
      "credentials": {
        "postgres": {
          "id": "l8Ecbn62FzXCDkF9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH parsed AS (\n  SELECT *\n  FROM jsonb_to_recordset('{{ JSON.stringify($items(\"Aggregate\")[0].json.data).replace(/'/g,\"''\") }}'::jsonb)\n  AS p(\n    artifact_id bigint,\n    status      text,\n    \"primary\"   jsonb,\n    carousel    jsonb\n  )\n  WHERE status = 'ok'\n),\nra AS (\n  SELECT artifact_id, fetched_at, url\n  FROM raw_artifacts\n  WHERE artifact_id IN (SELECT artifact_id FROM parsed)\n),\ncards AS (\n  SELECT DISTINCT ON (p.artifact_id, src.source_listing_id, c->>'listing_id')\n    p.artifact_id,\n    ra.fetched_at,\n    src.source_listing_id,\n\n    NULLIF(c->>'listing_id','')            AS listing_id,\n    NULLIF(c->>'price','')::int            AS price,\n    NULLIF(c->>'mileage','')::int          AS mileage,\n    NULLIF(c->>'body','')                  AS body,\n    NULLIF(c->>'condition','')             AS condition,\n    NULLIF(c->>'year','')::int             AS year\n  FROM parsed p\n  JOIN ra USING (artifact_id)\n\n  -- derive source_listing_id once per parsed row\n  CROSS JOIN LATERAL (\n    SELECT COALESCE(\n      NULLIF(p.\"primary\"->>'listing_id',''),\n      NULLIF(regexp_replace(ra.url, '.*/vehicledetail/([^/]+)/?.*', '\\1'), ra.url)\n    ) AS source_listing_id\n  ) src\n\n  -- explode carousel array into rows\n  CROSS JOIN LATERAL jsonb_array_elements(COALESCE(p.carousel, '[]'::jsonb)) AS c\n  WHERE NULLIF(c->>'listing_id','') IS NOT NULL\n)\nINSERT INTO detail_carousel_hints (\n  artifact_id,\n  fetched_at,\n  source_listing_id,\n  listing_id,\n  price,\n  mileage,\n  body,\n  condition,\n  year\n)\nSELECT\n  artifact_id,\n  fetched_at,\n  source_listing_id,\n  listing_id,\n  price,\n  mileage,\n  body,\n  condition,\n  year\nFROM cards\nON CONFLICT DO NOTHING;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        5136,
        3504
      ],
      "id": "9a2d5575-48d0-4fd8-9bc4-77715aa780c0",
      "name": "Write Carousel Hints",
      "credentials": {
        "postgres": {
          "id": "l8Ecbn62FzXCDkF9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 50,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        4240,
        3504
      ],
      "id": "b813f9c5-da0c-452d-a199-5ab165da7537",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH data AS (\n  SELECT *\n  FROM jsonb_to_recordset(\n    '{{ JSON.stringify($node[\"Aggregate\"].json.data).replace(/'/g, \"''\") }}'::jsonb\n  ) AS x(\n    artifact_id bigint,\n    status text,\n    message text,\n    meta jsonb\n  )\n)\nUPDATE artifact_processing ap\nSET\n  status = d.status,\n  processed_at = now(),\n  message = d.message,\n  meta = COALESCE(d.meta, '{}'::jsonb)\nFROM data d\nWHERE ap.artifact_id = d.artifact_id\n  AND ap.processor = '{{ $node[\"Set Processor\"].json.processor }}';\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        5360,
        3536
      ],
      "id": "d6d0c8e9-9442-4aea-80a7-d4e70a49f039",
      "name": "Mark Artifacts Processed",
      "credentials": {
        "postgres": {
          "id": "l8Ecbn62FzXCDkF9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "ok",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "20204476-2db5-41ed-befa-9355dc309db8"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ok"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "a72f9328-92c7-4e29-a144-56a2c4da4a58",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "ok",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Not Ok"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        4464,
        3840
      ],
      "id": "275dccbe-f723-417a-ae97-e8a897923cf0",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE artifact_processing\nSET\n  status = 'retry',\n  meta = '{{ JSON.stringify($node[\"HTTP Request\"].json.meta) }}'\nWHERE artifact_id = {{ $node[\"HTTP Request\"].json.artifact_id }}\n  AND processor = '{{ $node[\"HTTP Request\"].json.processor }}';\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        4688,
        3920
      ],
      "id": "e23dc932-9a29-4874-8ede-46f72e1b41f2",
      "name": "Update Artifacts Processing With Retry",
      "credentials": {
        "postgres": {
          "id": "l8Ecbn62FzXCDkF9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://dbt_runner:8080/dbt/build",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"intent\": \"{{$json.intent}}\",\n  \"full_refresh\": false\n}",
        "options": {
          "timeout": 900000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        4768,
        3184
      ],
      "id": "ebabaf65-dabe-49c1-8c9d-4ee7f5e8d224",
      "name": "Execute DBT Build",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { intent: \"after_detail\" } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4464,
        3312
      ],
      "id": "45192c9d-5cbc-44c6-ac53-51318e9970d4",
      "name": "Set DBT Params"
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4960,
        3312
      ],
      "id": "969bade5-f791-4133-b5f2-f6fd61a75388",
      "name": "Wait",
      "webhookId": "8bf44a97-dce3-4ba4-ae6f-fe69c5545844"
    }
  ],
  "pinData": {
    "After Scrape": [
      {
        "json": {
          "success": true
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "After Scrape": {
      "main": [
        [
          {
            "node": "Set Processor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Processor": {
      "main": [
        [
          {
            "node": "Identify Unproccessed Artifacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Identify Unproccessed Artifacts": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Write Detail Observations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Detail Observations": {
      "main": [
        [
          {
            "node": "Upsert Dealers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Dealers": {
      "main": [
        [
          {
            "node": "Write Carousel Hints",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Set DBT Params",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Carousel Hints": {
      "main": [
        [
          {
            "node": "Mark Artifacts Processed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Artifacts Processed": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Artifacts Processing With Retry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Artifacts Processing With Retry": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set DBT Params": {
      "main": [
        [
          {
            "node": "Execute DBT Build",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute DBT Build": {
      "main": [
        [],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Execute DBT Build",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "abad7431-dc32-4f6d-911e-3e5937711f78",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6819133d7d7a8c3c6c728508316cdaac6420c5bbe2de9a1439bbb952efe61179"
  },
  "id": "WX_1Ky-8veuMLlqX_iRXK",
  "tags": []
}