n8n/workflows/Parse Detail Pages.json
{
  "name": "Parse Detail Pages",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        3056,
        3600
      ],
      "id": "c8485c74-e9d3-490b-a91c-eefbb5aa6259",
      "name": "After Scrape"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH candidates AS (\n  SELECT ra.artifact_id\n  FROM raw_artifacts ra\n  LEFT JOIN artifact_processing ap\n    ON ap.artifact_id = ra.artifact_id\n   AND ap.processor = '{{ $('Set Processor').item.json.processor }}'\n  WHERE ra.source = 'cars.com'\n    AND ra.artifact_type = 'detail_page'\n    AND NOT EXISTS (\n      SELECT 1\n      FROM artifact_processing ap_ok\n      WHERE ap_ok.artifact_id = ra.artifact_id\n        AND ap_ok.status = 'ok'\n        AND ap_ok.processor LIKE 'cars_detail_page__%'\n    )\n    AND (\n          ap.artifact_id IS NULL\n          OR ap.status = 'retry'\n          OR (ap.status = 'processing' AND ap.processed_at < now() - interval '1 hours')\n        )\n  ORDER BY ra.fetched_at ASC\n  LIMIT 5000\n),\nclaimed AS (\n  INSERT INTO artifact_processing (artifact_id, processor, status, processed_at)\n  SELECT c.artifact_id, '{{ $('Set Processor').item.json.processor }}', 'processing', now()\n  FROM candidates c\n  ON CONFLICT (artifact_id, processor) DO UPDATE\n    SET status = 'processing',\n        processed_at = now(),\n        message = NULL\n  RETURNING artifact_id\n)\nSELECT ra.*\nFROM raw_artifacts ra\nJOIN claimed c ON ra.artifact_id = c.artifact_id\nORDER BY ra.fetched_at ASC;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        4160,
        3600
      ],
      "id": "7b62e186-ee17-401a-8929-252448aab8e2",
      "name": "Identify Unproccessed Artifacts",
      "credentials": {
        "postgres": {
          "id": "l8Ecbn62FzXCDkF9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"processor\": \"cars_detail_page__v1\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3488,
        3600
      ],
      "id": "2ab0061c-5ed8-4cec-ac67-5711b7d28540",
      "name": "Set Processor"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        4352,
        3744
      ],
      "id": "94d192c0-619f-4ec4-a4ed-b137e4d7c9be",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://cartracker-scraper:8000/process/detail_pages",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"processor\": \"cars_detail_page__v1\",\n  \"artifact\": {\n    \"artifact_id\": \"{{ $json.artifact_id }}\",\n    \"filepath\": \"{{ $json.filepath }}\",\n    \"search_key\": \"{{ $json.search_key }}\",\n    \"url\": \"{{ $json.url }}\"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        4560,
        3856
      ],
      "id": "c01acf31-fc08-4b2e-8b77-b2ee45273ca5",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        5584,
        3552
      ],
      "id": "a7e59eba-824e-4e3d-865d-0ffe7dec2076",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH parsed AS (\n  SELECT *\n  FROM jsonb_to_recordset('{{ JSON.stringify($json.data).replace(/'/g,\"''\") }}'::jsonb)\n    AS p(\n      processor   text,\n      artifact_id bigint,\n      status      text,\n      message     text,\n      search_key  text,\n      meta        jsonb,\n      \"primary\"   jsonb,\n      carousel    jsonb\n    )\n),\nra AS (\n  SELECT artifact_id, fetched_at, url\n  FROM raw_artifacts\n  WHERE artifact_id IN (SELECT artifact_id FROM parsed)\n),\nrows AS (\n  SELECT DISTINCT\n    p.artifact_id,\n    ra.fetched_at,\n\n    COALESCE(\n  NULLIF(p.\"primary\"->>'listing_id', ''),\n  NULLIF(regexp_replace(ra.url, '.*/vehicledetail/([^/]+)/?.*', '\\1'), ra.url)\n) AS listing_id,\n    COALESCE(\n      NULLIF(p.\"primary\"->>'vin', ''),\n      CASE WHEN length(p.search_key) = 17 AND p.search_key ~ '^[A-Z0-9]+$' THEN p.search_key END\n    ) AS vin,\n    COALESCE(NULLIF(p.\"primary\"->>'listing_state',''), 'active')   AS listing_state,\n\n    NULLIF(p.\"primary\"->>'make',      '')                          AS make,\n    NULLIF(p.\"primary\"->>'model',     '')                          AS model,\n    NULLIF(p.\"primary\"->>'trim',      '')                          AS \"trim\",\n    NULLIF(p.\"primary\"->>'year',      '')::int                     AS year,\n\n    NULLIF(p.\"primary\"->>'price',   '')::int                       AS price,\n    NULLIF(p.\"primary\"->>'mileage', '')::int                       AS mileage,\n    NULLIF(p.\"primary\"->>'msrp',    '')::int                       AS msrp,\n\n    NULLIF(p.\"primary\"->>'stock_type',  '')                        AS stock_type,\n    NULLIF(p.\"primary\"->>'fuel_type',   '')                        AS fuel_type,\n    NULLIF(p.\"primary\"->>'bodystyle',   '')                        AS body_style,\n    NULLIF(p.\"primary\"->>'dealer_name', '')                        AS dealer_name,\n    NULLIF(p.\"primary\"->>'dealer_zip',  '')                        AS dealer_zip,\n    NULLIF(p.\"primary\"->>'customer_id', '')                        AS customer_id\n\n  FROM parsed p\n  JOIN ra USING (artifact_id)\n  WHERE p.status = 'ok'\n)\nINSERT INTO detail_observations (\n  artifact_id,\n  fetched_at,\n  listing_id,\n  vin,\n  listing_state,\n  make,\n  model,\n  \"trim\",\n  year,\n  price,\n  mileage,\n  msrp,\n  stock_type,\n  fuel_type,\n  body_style,\n  dealer_name,\n  dealer_zip,\n  customer_id\n)\nSELECT\n  artifact_id,\n  fetched_at,\n  listing_id,\n  vin,\n  listing_state,\n  make,\n  model,\n  \"trim\",\n  year,\n  price,\n  mileage,\n  msrp,\n  stock_type,\n  fuel_type,\n  body_style,\n  dealer_name,\n  dealer_zip,\n  customer_id\nFROM rows\nON CONFLICT (artifact_id, listing_id) DO UPDATE SET\n  make = EXCLUDED.make,\n  model = EXCLUDED.model,\n  trim = EXCLUDED.trim,\n  year = EXCLUDED.year,\n  fuel_type = EXCLUDED.fuel_type,\n  body_style = EXCLUDED.body_style;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        5776,
        3552
      ],
      "id": "ae24a6c8-c49a-4b07-8045-18e28380a629",
      "name": "Write Detail Observations",
      "credentials": {
        "postgres": {
          "id": "l8Ecbn62FzXCDkF9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH parsed AS (\n  SELECT *\n  FROM jsonb_to_recordset('{{ JSON.stringify($items(\"Aggregate\")[0].json.data).replace(/'/g,\"''\") }}'::jsonb)\n  AS p(\n    artifact_id bigint,\n    status      text,\n    \"primary\"   jsonb,\n    carousel    jsonb\n  )\n  WHERE status = 'ok'\n),\ndealers AS (\n  SELECT DISTINCT ON (NULLIF(p.\"primary\"->>'customer_id',''))\n    NULLIF(p.\"primary\"->>'customer_id','')       AS customer_id,\n    NULLIF(p.\"primary\"->>'dealer_name','')        AS name,\n    NULLIF(p.\"primary\"->>'dealer_street','')      AS street,\n    NULLIF(p.\"primary\"->>'dealer_city','')        AS city,\n    NULLIF(p.\"primary\"->>'dealer_state','')       AS state,\n    NULLIF(p.\"primary\"->>'dealer_zip','')         AS zip,\n    NULLIF(p.\"primary\"->>'dealer_phone','')       AS phone,\n    NULLIF(p.\"primary\"->>'dealer_website','')     AS website,\n    NULLIF(p.\"primary\"->>'dealer_cars_com_url','') AS cars_com_url,\n    (NULLIF(p.\"primary\"->>'dealer_rating',''))::numeric(3,1) AS rating\n  FROM parsed p\n  WHERE NULLIF(p.\"primary\"->>'customer_id','') IS NOT NULL\n    AND NULLIF(p.\"primary\"->>'dealer_name','') IS NOT NULL\n)\nINSERT INTO dealers (customer_id, name, street, city, state, zip, phone, website, cars_com_url, rating)\nSELECT customer_id, name, street, city, state, zip, phone, website, cars_com_url, rating\nFROM dealers\nON CONFLICT (customer_id) DO UPDATE SET\n  name = COALESCE(EXCLUDED.name, dealers.name),\n  street = COALESCE(EXCLUDED.street, dealers.street),\n  city = COALESCE(EXCLUDED.city, dealers.city),\n  state = COALESCE(EXCLUDED.state, dealers.state),\n  zip = COALESCE(EXCLUDED.zip, dealers.zip),\n  phone = COALESCE(EXCLUDED.phone, dealers.phone),\n  website = COALESCE(EXCLUDED.website, dealers.website),\n  cars_com_url = COALESCE(EXCLUDED.cars_com_url, dealers.cars_com_url),\n  rating = COALESCE(EXCLUDED.rating, dealers.rating),\n  last_updated_at = now();\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        5984,
        3552
      ],
      "id": "fb842853-367a-456b-96c0-a966f9a78e55",
      "name": "Upsert Dealers",
      "credentials": {
        "postgres": {
          "id": "l8Ecbn62FzXCDkF9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH parsed AS (\n  SELECT *\n  FROM jsonb_to_recordset('{{ JSON.stringify($items(\"Aggregate\")[0].json.data).replace(/'/g,\"''\") }}'::jsonb)\n  AS p(\n    artifact_id bigint,\n    status      text,\n    \"primary\"   jsonb,\n    carousel    jsonb\n  )\n  WHERE status = 'ok'\n),\nra AS (\n  SELECT artifact_id, fetched_at, url\n  FROM raw_artifacts\n  WHERE artifact_id IN (SELECT artifact_id FROM parsed)\n),\ncards AS (\n  SELECT DISTINCT ON (p.artifact_id, src.source_listing_id, c->>'listing_id')\n    p.artifact_id,\n    ra.fetched_at,\n    src.source_listing_id,\n\n    NULLIF(c->>'listing_id','')            AS listing_id,\n    NULLIF(c->>'price','')::int            AS price,\n    NULLIF(c->>'mileage','')::int          AS mileage,\n    NULLIF(c->>'body','')                  AS body,\n    NULLIF(c->>'condition','')             AS condition,\n    NULLIF(c->>'year','')::int             AS year\n  FROM parsed p\n  JOIN ra USING (artifact_id)\n\n  -- derive source_listing_id once per parsed row\n  CROSS JOIN LATERAL (\n    SELECT COALESCE(\n      NULLIF(p.\"primary\"->>'listing_id',''),\n      NULLIF(regexp_replace(ra.url, '.*/vehicledetail/([^/]+)/?.*', '\\1'), ra.url)\n    ) AS source_listing_id\n  ) src\n\n  -- explode carousel array into rows\n  CROSS JOIN LATERAL jsonb_array_elements(COALESCE(p.carousel, '[]'::jsonb)) AS c\n  WHERE NULLIF(c->>'listing_id','') IS NOT NULL\n)\nINSERT INTO detail_carousel_hints (\n  artifact_id,\n  fetched_at,\n  source_listing_id,\n  listing_id,\n  price,\n  mileage,\n  body,\n  condition,\n  year\n)\nSELECT\n  artifact_id,\n  fetched_at,\n  source_listing_id,\n  listing_id,\n  price,\n  mileage,\n  body,\n  condition,\n  year\nFROM cards\nON CONFLICT DO NOTHING;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        6128,
        3552
      ],
      "id": "9a2d5575-48d0-4fd8-9bc4-77715aa780c0",
      "name": "Write Carousel Hints",
      "credentials": {
        "postgres": {
          "id": "l8Ecbn62FzXCDkF9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 100,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        5056,
        3392
      ],
      "id": "b813f9c5-da0c-452d-a199-5ab165da7537",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH data AS (\n  SELECT *\n  FROM jsonb_to_recordset(\n    '{{ JSON.stringify($node[\"Aggregate\"].json.data).replace(/'/g, \"''\") }}'::jsonb\n  ) AS x(\n    artifact_id bigint,\n    status text,\n    message text,\n    meta jsonb\n  )\n)\nUPDATE artifact_processing ap\nSET\n  status = d.status,\n  processed_at = now(),\n  message = d.message,\n  meta = COALESCE(d.meta, '{}'::jsonb)\nFROM data d\nWHERE ap.artifact_id = d.artifact_id\n  AND ap.processor = '{{ $node[\"Set Processor\"].json.processor }}';\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        6288,
        3552
      ],
      "id": "d6d0c8e9-9442-4aea-80a7-d4e70a49f039",
      "name": "Mark Artifacts Processed",
      "credentials": {
        "postgres": {
          "id": "l8Ecbn62FzXCDkF9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "ok",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "20204476-2db5-41ed-befa-9355dc309db8"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ok"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "a72f9328-92c7-4e29-a144-56a2c4da4a58",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "ok",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Not Ok"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        4736,
        3856
      ],
      "id": "275dccbe-f723-417a-ae97-e8a897923cf0",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE artifact_processing\nSET\n  status = 'retry',\n  meta = '{{ JSON.stringify($node[\"HTTP Request\"].json.meta) }}'\nWHERE artifact_id = {{ $node[\"HTTP Request\"].json.artifact_id }}\n  AND processor = '{{ $node[\"HTTP Request\"].json.processor }}';\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        4944,
        3936
      ],
      "id": "e23dc932-9a29-4874-8ede-46f72e1b41f2",
      "name": "Update Artifacts Processing With Retry",
      "credentials": {
        "postgres": {
          "id": "l8Ecbn62FzXCDkF9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function uuidv4() {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, c => {\n    const r = Math.random() * 16 | 0;\n    const v = c === 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n  });\n}\n\nreturn [{ run_id: uuidv4() }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3712,
        3600
      ],
      "id": "9370bd69-a2e2-4bbc-9195-08de2f18680c",
      "name": "Create Run Id"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO processing_runs (run_id, status)\nVALUES ('{{ $json.run_id }}'::uuid, 'processing');",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3936,
        3600
      ],
      "id": "4356ab6a-506b-477b-9283-ac618da72bcd",
      "name": "Insert Run Row",
      "credentials": {
        "postgres": {
          "id": "l8Ecbn62FzXCDkF9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        4352,
        3600
      ],
      "id": "d01f7754-5a31-4b5f-8546-260e0fae26c5",
      "name": "Store Total (Aggregate)"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE processing_runs\nSET total_count = {{ $json.data.length }}\nWHERE run_id = '{{ $('Create Run Id').first().json.run_id }}'::uuid;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        4560,
        3600
      ],
      "id": "a7f4d898-2e8c-4670-84ef-19251ab62103",
      "name": "Store Total Count",
      "credentials": {
        "postgres": {
          "id": "l8Ecbn62FzXCDkF9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE processing_runs\nSET progress_count = {{ $json.progress_count }}\nWHERE run_id = '{{ $json.run_id }}'::uuid;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        5264,
        3792
      ],
      "id": "9c28ca87-fa41-44e8-9b09-a0051d9a1a7f",
      "name": "Update Progress",
      "credentials": {
        "postgres": {
          "id": "l8Ecbn62FzXCDkF9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const total = $('Identify Unproccessed Artifacts').all().length;\nconst iteration = ($runIndex + 1) * 100;\nconst runId = $('Create Run Id').first().json.run_id;\n\n// Current % and previous %\nconst currentPercent = (iteration / total) * 100;\nconst prevPercent = ((iteration - 100) / total) * 100; // because IF node steps by 100\n\n// Check if we crossed a 10% boundary\nif (\n  Math.floor(currentPercent / 10) > Math.floor(prevPercent / 10)\n  || iteration >= total \n) {\n  return [{\n    json: {\n      run_id: runId,\n      progress_count: iteration,\n      progress_percent: Math.floor(currentPercent)\n    }\n  }];\n}\n\nreturn [];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5152,
        3792
      ],
      "id": "87a735e6-058a-430b-ba21-a8534150184b",
      "name": "Check Milestone"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE processing_runs\nSET status = 'success',\nfinished_at = now(),\nprogress_count = total_count\nWHERE run_id = '{{ $('Create Run Id').item.json.run_id }}'::uuid;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        5248,
        3264
      ],
      "id": "3675596f-9d66-474d-be36-9e56b71b22df",
      "name": "Mark Run Done",
      "credentials": {
        "postgres": {
          "id": "l8Ecbn62FzXCDkF9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "fe50d134-c05f-40e7-bc3a-f04fbace5ad0",
              "leftValue": "={{ $runIndex % 100}}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            },
            {
              "id": "6fb24221-355f-46c4-af54-19da12b7a2c0",
              "leftValue": "={{ $runIndex}}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        4944,
        3808
      ],
      "id": "80b8c7ed-694b-4e99-9e0b-c7ae0de35c45",
      "name": "If"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.primary.listing_state }}",
                    "rightValue": "unlisted",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "eb328a03-5b15-4db4-8065-8243b43ec9c0"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Unlisted"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "dfd4c0fd-e56f-4a84-bcaa-9b1a4d60a583",
                    "leftValue": "={{ $json.primary.listing_state }}",
                    "rightValue": "unlisted",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "All Others"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        5232,
        3440
      ],
      "id": "2971a13d-4e9c-4670-8117-4e9773597651",
      "name": "Switch1"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        5584,
        3424
      ],
      "id": "f2561417-4e99-4c6b-8586-33307194c63d",
      "name": "Aggregate1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        6608,
        3536
      ],
      "id": "c75643b7-05c5-488a-abc3-72ae130d62ee",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH data AS (\n  SELECT *\n  FROM jsonb_to_recordset(\n    '{{ JSON.stringify($node[\"Aggregate1\"].json.data).replace(/'/g, \"''\") }}'::jsonb\n  ) AS x(\n    artifact_id bigint,\n    status text,\n    message text,\n    meta jsonb\n  )\n)\nUPDATE artifact_processing ap\nSET\n  status = d.status,\n  processed_at = now(),\n  message = 'unlisted',\n  meta = COALESCE(d.meta, '{}'::jsonb)\nFROM data d\nWHERE ap.artifact_id = d.artifact_id\n  AND ap.processor = '{{ $node[\"Set Processor\"].json.processor }}';\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        5984,
        3424
      ],
      "id": "6451a258-6038-44f9-8d02-42b93a1129f7",
      "name": "Mark Artifacts Processed1",
      "credentials": {
        "postgres": {
          "id": "l8Ecbn62FzXCDkF9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH parsed AS (\n  SELECT *\n  FROM jsonb_to_recordset('{{ JSON.stringify($json.data).replace(/'/g,\"''\") }}'::jsonb)\n    AS p(\n      processor   text,\n      artifact_id bigint,\n      status      text,\n      message     text,\n      search_key  text,\n      meta        jsonb,\n      \"primary\"   jsonb,\n      carousel    jsonb\n    )\n),\nra AS (\n  SELECT artifact_id, fetched_at, url\n  FROM raw_artifacts\n  WHERE artifact_id IN (SELECT artifact_id FROM parsed)\n),\nrows AS (\n  SELECT DISTINCT\n    p.artifact_id,\n    ra.fetched_at,\n\tp.search_key,\n    COALESCE(\n  NULLIF(p.\"primary\"->>'listing_id', ''),\n  NULLIF(regexp_replace(ra.url, '.*/vehicledetail/([^/]+)/?.*', '\\1'), ra.url)\n) AS listing_id\nFROM parsed p\n  JOIN ra USING (artifact_id)\n  WHERE p.status = 'ok'\n)\n,joined_info AS (\nSELECT\n\trows.artifact_id\n\t,rows.fetched_at\n\t,rows.search_key\n\t,rows.listing_id\n\t,ROW_NUMBER() OVER (PARTITION BY rows.artifact_id ORDER BY d.fetched_at DESC) as observation_number\n\t,d.fetched_at AS detail_observation_time\n\t,d.vin\n\t,d.vin17\n\t,'unlisted' as listing_state\n\t,d.make\n\t,d.model\n\t,d.vehicle_trim\n\t,d.model_year\n\t,d.price\n\t,d.mileage\n\t,d.msrp\n\t,d.stock_type\n\t,d.dealer_name\n\t,d.dealer_zip\n\t,d.customer_id\n\t,d.canonical_detail_url\nFROM rows\nLEFT JOIN analytics.stg_detail_observations d on rows.search_key = d.vin\n)\nINSERT INTO detail_observations (\n  artifact_id,\n  fetched_at,\n  listing_id,\n  vin,\n  listing_state,\n  make,\n  model,\n  \"trim\",\n  year,\n  price,\n  mileage,\n  msrp,\n  stock_type,\n  fuel_type,\n  body_style,\n  dealer_name,\n  dealer_zip,\n  customer_id\n)\nSELECT\n\tartifact_id\n\t,fetched_at\n\t,listing_id\n\t,vin17 as vin\n\t,listing_state\n\t,make\n\t,model\n\t,vehicle_trim as \"trim\"\n\t,model_year as \"year\"\n\t,price\n\t,mileage\n\t,msrp\n\t,stock_type\n\t,null as fuel_type\n\t,null as body_style\n\t,dealer_name\n\t,dealer_zip\n\t,customer_id\nFROM joined_info \nWHERE observation_number = 1\nAND vin17 IS NOT NULL;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        5776,
        3424
      ],
      "id": "71af4c3f-1d00-4432-a850-6d500615b943",
      "name": "Insert Unlisted Rows",
      "credentials": {
        "postgres": {
          "id": "l8Ecbn62FzXCDkF9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH parsed AS (\n  SELECT *\n  FROM jsonb_to_recordset('{{ JSON.stringify($json.data).replace(/'/g,\"''\") }}'::jsonb)\n    AS p(\n      processor   text,\n      artifact_id bigint,\n      status      text,\n      message     text,\n      search_key  text,\n      meta        jsonb,\n      \"primary\"   jsonb,\n      carousel    jsonb\n    )\n),\nra AS (\n  SELECT artifact_id, fetched_at, url\n  FROM raw_artifacts\n  WHERE artifact_id IN (SELECT artifact_id FROM parsed)\n),\nrows AS (\n  SELECT DISTINCT\n    p.artifact_id,\n    ra.fetched_at,\n\tp.search_key,\n    COALESCE(\n  NULLIF(p.\"primary\"->>'listing_id', ''),\n  NULLIF(regexp_replace(ra.url, '.*/vehicledetail/([^/]+)/?.*', '\\1'), ra.url)\n) AS listing_id\nFROM parsed p\n  JOIN ra USING (artifact_id)\n  WHERE p.status = 'ok'\n)\nDELETE FROM detail_carousel_hints dch\nUSING rows\nWHERE dch.listing_id = rows.listing_id;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        5776,
        3280
      ],
      "id": "ff8d1c85-6117-4505-9d04-8002978135f8",
      "name": "Unlist Hints",
      "credentials": {
        "postgres": {
          "id": "l8Ecbn62FzXCDkF9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "qdURL8XbEkdApnjdAcFFL",
          "mode": "list",
          "cachedResultUrl": "/workflow/qdURL8XbEkdApnjdAcFFL",
          "cachedResultName": "Build DBT"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "intent": "=after_detail"
          },
          "matchingColumns": [
            "intent"
          ],
          "schema": [
            {
              "id": "intent",
              "displayName": "intent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        5520,
        3088
      ],
      "id": "59d8cf9e-1d28-4997-b96f-d52b883933cb",
      "name": "Call 'Build DBT'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "QaFnwxOQopzO-wVjL64dl",
          "mode": "list",
          "cachedResultUrl": "/workflow/QaFnwxOQopzO-wVjL64dl",
          "cachedResultName": "Update n8n Runs Table"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "parent_workflow_id": "={{ $execution.id }}",
            "parent_workflow_timestamp": "={{ $now }}",
            "parent_workflow_status": "completed",
            "parent_workflow_name": "={{ $workflow.name }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "parent_workflow_name",
              "displayName": "parent_workflow_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "parent_workflow_id",
              "displayName": "parent_workflow_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "parent_workflow_timestamp",
              "displayName": "parent_workflow_timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "parent_workflow_status",
              "displayName": "parent_workflow_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        5520,
        3248
      ],
      "id": "c1b462e1-3565-450e-915a-604f09fdaa67",
      "name": "Call 'Update n8n Runs Table'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "QrtISF4STFcsa2bug83s4",
          "mode": "list",
          "cachedResultUrl": "/workflow/QrtISF4STFcsa2bug83s4",
          "cachedResultName": "Check Deploy Intent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "parent_workflow_id": "={{ $execution.id }}",
            "parent_workflow_name": "={{ $workflow.name }}",
            "parent_workflow_timestamp": "={{ $now }}",
            "parent_workflow_status": "started"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "parent_workflow_name",
              "displayName": "parent_workflow_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "parent_workflow_id",
              "displayName": "parent_workflow_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "parent_workflow_timestamp",
              "displayName": "parent_workflow_timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "parent_workflow_status",
              "displayName": "parent_workflow_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        3264,
        3600
      ],
      "id": "4b4b753b-6e6d-483c-8351-a39716192233",
      "name": "Call 'Check Deploy Intent'"
    }
  ],
  "pinData": {
    "After Scrape": [
      {
        "json": {
          "total": "635",
          "errors": "0",
          "error_pct": "0.0"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "After Scrape": {
      "main": [
        [
          {
            "node": "Call 'Check Deploy Intent'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Processor": {
      "main": [
        [
          {
            "node": "Create Run Id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Identify Unproccessed Artifacts": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          },
          {
            "node": "Store Total (Aggregate)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Write Detail Observations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Detail Observations": {
      "main": [
        [
          {
            "node": "Upsert Dealers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Dealers": {
      "main": [
        [
          {
            "node": "Write Carousel Hints",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Mark Run Done",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Carousel Hints": {
      "main": [
        [
          {
            "node": "Mark Artifacts Processed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Artifacts Processed": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          },
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Artifacts Processing With Retry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Artifacts Processing With Retry": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Run Id": {
      "main": [
        [
          {
            "node": "Insert Run Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Run Row": {
      "main": [
        [
          {
            "node": "Identify Unproccessed Artifacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Total (Aggregate)": {
      "main": [
        [
          {
            "node": "Store Total Count",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Milestone": {
      "main": [
        [
          {
            "node": "Update Progress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Check Milestone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Insert Unlisted Rows",
            "type": "main",
            "index": 0
          },
          {
            "node": "Unlist Hints",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Artifacts Processed1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Total Count": {
      "main": [
        []
      ]
    },
    "Insert Unlisted Rows": {
      "main": [
        [
          {
            "node": "Mark Artifacts Processed1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Run Done": {
      "main": [
        [
          {
            "node": "Call 'Build DBT'",
            "type": "main",
            "index": 0
          },
          {
            "node": "Call 'Update n8n Runs Table'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Check Deploy Intent'": {
      "main": [
        [
          {
            "node": "Set Processor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "fca4854f-66de-444a-99f2-8da2a4c9aef5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6819133d7d7a8c3c6c728508316cdaac6420c5bbe2de9a1439bbb952efe61179"
  },
  "id": "WX_1Ky-8veuMLlqX_iRXK",
  "tags": []
}