n8n/workflows/Results Processing.json
{
  "name": "Results Processing",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1344,
        304
      ],
      "id": "1b5833a1-8fde-42eb-8882-916545ab3d52",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH candidates AS (\n  SELECT ra.artifact_id\n  FROM raw_artifacts ra\n  LEFT JOIN artifact_processing ap\n    ON ap.artifact_id = ra.artifact_id\n   AND ap.processor = '{{ $json.processor }}'\n  WHERE ra.source = 'cars.com'\n    AND ra.artifact_type = 'results_page'\n    AND ra.error IS NULL\n    AND NOT EXISTS (\n      SELECT 1\n      FROM artifact_processing ap_ok\n      WHERE ap_ok.artifact_id = ra.artifact_id\n        AND ap_ok.status = 'ok'\n        AND ap_ok.processor LIKE 'cars_results_page__listings_%'\n    )\n    AND (\n          ap.artifact_id IS NULL\n          OR ap.status = 'retry'\n          OR (ap.status = 'processing' AND ap.processed_at < now() - interval '20 minutes')\n        )\n  ORDER BY ra.fetched_at ASC\n),\nclaimed AS (\n  INSERT INTO artifact_processing (artifact_id, processor, status, processed_at)\n  SELECT c.artifact_id, '{{ $json.processor }}', 'processing', now()\n  FROM candidates c\n  ON CONFLICT (artifact_id, processor) DO UPDATE\n    SET status = 'processing',\n        processed_at = now(),\n        message = NULL\n  RETURNING artifact_id\n)\nSELECT ra.*\nFROM raw_artifacts ra\nJOIN claimed c ON ra.artifact_id = c.artifact_id\nORDER BY ra.fetched_at ASC;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        896,
        400
      ],
      "id": "ca9798d2-019e-4e2c-a4f8-bbdfbedb5777",
      "name": "Get Artifacts to Process",
      "credentials": {
        "postgres": {
          "id": "l8Ecbn62FzXCDkF9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://cartracker-scraper:8000/process/results_pages",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"processor\": \"{{ $('Set Processor').item.json.processor }}\",\n  \"artifact\": {\n    \"artifact_id\": {{$json.artifact_id}},\n    \"filepath\": \"{{$json.filepath}}\",\n    \"run_id\": \"{{$json.run_id}}\",\n    \"fetched_at\": \"{{$json.fetched_at}}\",\n    \"url\": \"{{$json.url}}\",\n    \"http_status\": {{$json.http_status}},\n    \"content_type\": \"{{$json.content_type}}\"\n  },\n  \"options\": {\n    \"include_dummy_listings\": true\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1792,
        144
      ],
      "id": "a8dfa4aa-dd2d-4856-880e-0a44c6ae4d6f",
      "name": "Send Artifact for Processing"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE artifact_processing\nSET\n  status = '{{ $node[\"Send Artifact for Processing\"].json.status }}',\n  processed_at = now(),\n  message = '{{ $node[\"Send Artifact for Processing\"].json.message }}',\n  meta = '{{ JSON.stringify($node[\"Send Artifact for Processing\"].json.meta || {}).replace(/'/g, \"''\") }}'::jsonb\nWHERE artifact_id = {{ $node[\"Send Artifact for Processing\"].json.artifact_id }}\n  AND processor = '{{ $node[\"Send Artifact for Processing\"].json.processor }}';\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2464,
        208
      ],
      "id": "b98710db-852c-4889-9b2f-d515b2bb5fa0",
      "name": "Update Artifacts Metadata",
      "credentials": {
        "postgres": {
          "id": "l8Ecbn62FzXCDkF9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Send Artifact for Processing').item.json.status }}",
                    "rightValue": "ok",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "3cb8bd72-8e3e-4b9d-953d-a42b8a979ad1"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Ok"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "34aa1595-e397-4acb-8aa9-4a3ed996378b",
                    "leftValue": "={{ $('Send Artifact for Processing').item.json.status }}",
                    "rightValue": "ok",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Not Ok"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        2016,
        144
      ],
      "id": "7947df0a-42b3-4cec-9617-49c6c64449a1",
      "name": "Check Status"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE artifact_processing\nSET\n  status = 'retry',\n  meta = '{{ JSON.stringify($node[\"Send Artifact for Processing\"].json.meta) }}'\nWHERE artifact_id = {{ $node[\"Send Artifact for Processing\"].json.artifact_id }}\n  AND processor = '{{ $node[\"Send Artifact for Processing\"].json.processor }}';\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2464,
        432
      ],
      "id": "c39f9d71-bdd2-4b39-a185-e2e685867556",
      "name": "Update Artifacts Table with retry status",
      "credentials": {
        "postgres": {
          "id": "l8Ecbn62FzXCDkF9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH data AS (\n  SELECT *\n  FROM jsonb_to_recordset('{{ JSON.stringify($json.listings || []).replace(/'/g, \"''\") }}'::jsonb)\n    AS x(\n      listing_id text,\n      canonical_detail_url text,\n      year int,\n      make text,\n      model text,\n      trim text,\n\n      \"stockType\" text,\n      price int,\n      msrp int,\n      mileage int,\n      vin text,\n\n      \"fuelType\" text,\n      \"bodyStyle\" text,\n      \"financingType\" text,\n\n      seller_zip text,\n      \"seller_customerId\" text,\n\n      page_number int,\n      position_on_page int,\n      trid text,\n      \"isaContext\" text\n    )\n)\nINSERT INTO srp_observations (\n  artifact_id,\n  run_id,\n  fetched_at,\n\n  listing_id,\n  vin,\n  seller_customer_id,\n\n  price,\n  msrp,\n  mileage,\n\n  year,\n  make,\n  model,\n  trim,\n  stock_type,\n\n  fuel_type,\n  body_style,\n  financing_type,\n\n  seller_zip,\n\n  page_number,\n  position_on_page,\n  trid,\n  isa_context,\n\n  canonical_detail_url\n)\nSELECT\n  {{ $node[\"Loop Over Items\"].json.artifact_id }}::bigint,\n  '{{ $node[\"Loop Over Items\"].json.run_id }}'::uuid,\n  '{{ $node[\"Loop Over Items\"].json.fetched_at }}'::timestamptz,\n\n  d.listing_id,\n  d.vin,\n  d.\"seller_customerId\",\n\n  d.price,\n  d.msrp,\n  d.mileage,\n\n  d.year,\n  d.make,\n  d.model,\n  d.trim,\n  d.\"stockType\",\n\n  d.\"fuelType\",\n  d.\"bodyStyle\",\n  d.\"financingType\",\n\n  d.seller_zip,\n\n  d.page_number,\n  d.position_on_page,\n  d.trid,\n  d.\"isaContext\",\n\n  d.canonical_detail_url\nFROM data d\nON CONFLICT (artifact_id, listing_id) DO NOTHING;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2240,
        64
      ],
      "id": "3190dcc7-3134-466a-905b-5a99a9dedb64",
      "name": "Insert SRP_Observations",
      "notesInFlow": true,
      "credentials": {
        "postgres": {
          "id": "l8Ecbn62FzXCDkF9",
          "name": "Postgres account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b0895d77-aa4f-486f-92ca-ecd031b1872a",
              "name": "processor",
              "value": "cars_results_page__listings_v3",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        672,
        400
      ],
      "id": "3b68fa49-4de3-4648-9795-4b3e74d0baed",
      "name": "Set Processor"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "9e274d11-5d3d-4c0b-9cab-acd6fe8e53a8",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1568,
        208
      ],
      "id": "c27cee1f-99d4-42a4-b284-ef58b9667401",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE artifact_processing\nSET\n  status = 'skip',\n  meta = NULL\nWHERE artifact_id = {{ $json.artifact_id }}\n  AND processor = '{{ $('Set Processor').item.json.processor }}';\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1792,
        336
      ],
      "id": "8ef7587c-92a8-4c07-9ef4-a6dbbe45bb63",
      "name": "Update Artifacts Table with Skip status",
      "credentials": {
        "postgres": {
          "id": "l8Ecbn62FzXCDkF9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        400
      ],
      "id": "3767aa70-1635-4b7e-8dfc-3d2bad9e7b1c",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cae8a7dc-09b9-4e33-93ab-c35a1233c99e",
              "leftValue": "={{ $json.artifact_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1120,
        400
      ],
      "id": "890b7763-40df-4f92-860d-039c395ff5ec",
      "name": "If1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "qdURL8XbEkdApnjdAcFFL",
          "mode": "list",
          "cachedResultUrl": "/workflow/qdURL8XbEkdApnjdAcFFL",
          "cachedResultName": "Build DBT"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "intent": "after_srp"
          },
          "matchingColumns": [
            "intent"
          ],
          "schema": [
            {
              "id": "intent",
              "displayName": "intent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1568,
        -176
      ],
      "id": "9c716e81-7e1c-4c81-a05b-314cc6061137",
      "name": "Call 'Build DBT'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "QrtISF4STFcsa2bug83s4",
          "mode": "list",
          "cachedResultUrl": "/workflow/QrtISF4STFcsa2bug83s4",
          "cachedResultName": "Check Deploy Intent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "parent_workflow_name": "={{ $workflow.name }}",
            "parent_workflow_id": "={{ $execution.id }}",
            "parent_workflow_timestamp": "={{ $now }}",
            "parent_workflow_status": "started"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "parent_workflow_name",
              "displayName": "parent_workflow_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "parent_workflow_id",
              "displayName": "parent_workflow_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "parent_workflow_timestamp",
              "displayName": "parent_workflow_timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "parent_workflow_status",
              "displayName": "parent_workflow_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        224,
        400
      ],
      "id": "e065ebf5-6d3c-46f5-8afc-ac844600a7bd",
      "name": "Call 'Check Deploy Intent'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "QaFnwxOQopzO-wVjL64dl",
          "mode": "list",
          "cachedResultUrl": "/workflow/QaFnwxOQopzO-wVjL64dl",
          "cachedResultName": "Update n8n Runs Table"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "parent_workflow_id": "={{ $execution.id }}",
            "parent_workflow_timestamp": "={{ $now }}",
            "parent_workflow_name": "={{ $workflow.name }}",
            "parent_workflow_status": "completed"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "parent_workflow_name",
              "displayName": "parent_workflow_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "parent_workflow_id",
              "displayName": "parent_workflow_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "parent_workflow_timestamp",
              "displayName": "parent_workflow_timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "parent_workflow_status",
              "displayName": "parent_workflow_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1344,
        496
      ],
      "id": "13926e82-6d1e-4117-95af-c4253b543af4",
      "name": "Call 'Update n8n Runs Table'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "QaFnwxOQopzO-wVjL64dl",
          "mode": "list",
          "cachedResultUrl": "/workflow/QaFnwxOQopzO-wVjL64dl",
          "cachedResultName": "Update n8n Runs Table"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "parent_workflow_id": "={{ $execution.id }}",
            "parent_workflow_timestamp": "={{ $now }}",
            "parent_workflow_name": "={{ $workflow.name }}",
            "parent_workflow_status": "completed"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "parent_workflow_name",
              "displayName": "parent_workflow_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "parent_workflow_id",
              "displayName": "parent_workflow_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "parent_workflow_timestamp",
              "displayName": "parent_workflow_timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "parent_workflow_status",
              "displayName": "parent_workflow_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1568,
        16
      ],
      "id": "6f451ad4-01fd-4809-92e3-bf6ee6c2d439",
      "name": "Call 'Update n8n Runs Table'1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1c979a3b-731d-4183-abe4-71f87c7faabe",
              "leftValue": "={{ $json.can_deploy }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        448,
        400
      ],
      "id": "e1d44e1e-52f0-406c-a66b-5c328248b146",
      "name": "Can Deploy?"
    }
  ],
  "pinData": {},
  "connections": {
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Call 'Build DBT'",
            "type": "main",
            "index": 0
          },
          {
            "node": "Call 'Update n8n Runs Table'1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Artifacts to Process": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Artifact for Processing": {
      "main": [
        [
          {
            "node": "Check Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Artifacts Metadata": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status": {
      "main": [
        [
          {
            "node": "Insert SRP_Observations",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Artifacts Table with retry status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Artifacts Table with retry status": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert SRP_Observations": {
      "main": [
        [
          {
            "node": "Update Artifacts Metadata",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Artifacts Table with retry status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Processor": {
      "main": [
        [
          {
            "node": "Get Artifacts to Process",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send Artifact for Processing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Artifacts Table with Skip status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Artifacts Table with Skip status": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Call 'Check Deploy Intent'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'Update n8n Runs Table'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Check Deploy Intent'": {
      "main": [
        [
          {
            "node": "Can Deploy?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Can Deploy?": {
      "main": [
        [
          {
            "node": "Set Processor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "4826d10f-dc5f-45a1-8372-85bdc5ae87d9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6819133d7d7a8c3c6c728508316cdaac6420c5bbe2de9a1439bbb952efe61179"
  },
  "id": "kxKnWLkjHwud2yjhxlpME",
  "tags": []
}