n8n/workflows/Results Processing.json
{
  "name": "Results Processing",
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH candidates AS (\n  SELECT ra.artifact_id\n  FROM raw_artifacts ra\n  LEFT JOIN artifact_processing ap\n    ON ap.artifact_id = ra.artifact_id\n   AND ap.processor = '{{ $json.processor }}'\n  WHERE ra.source = 'cars.com'\n    AND ra.artifact_type = 'results_page'\n    AND ra.error IS NULL\n    AND NOT EXISTS (\n      SELECT 1\n      FROM artifact_processing ap_ok\n      WHERE ap_ok.artifact_id = ra.artifact_id\n        AND ap_ok.status = 'ok'\n        AND ap_ok.processor LIKE 'cars_results_page__listings_%'\n    )\n    AND (\n          ap.artifact_id IS NULL\n          OR ap.status = 'retry'\n          OR (ap.status = 'processing' AND ap.processed_at < now() - interval '2 minutes')\n        )\n  ORDER BY ra.fetched_at ASC\n),\nclaimed AS (\n  INSERT INTO artifact_processing (artifact_id, processor, status, processed_at)\n  SELECT c.artifact_id, '{{ $json.processor }}', 'processing', now()\n  FROM candidates c\n  ON CONFLICT (artifact_id, processor) DO UPDATE\n    SET status = 'processing',\n        processed_at = now(),\n        message = NULL\n  RETURNING artifact_id\n)\nSELECT ra.*\nFROM raw_artifacts ra\nJOIN claimed c ON ra.artifact_id = c.artifact_id\nORDER BY ra.fetched_at ASC;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        896,
        64
      ],
      "id": "ca9798d2-019e-4e2c-a4f8-bbdfbedb5777",
      "name": "Get Artifacts to Process",
      "credentials": {
        "postgres": {
          "id": "l8Ecbn62FzXCDkF9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://cartracker-scraper:8000/process/results_pages",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"processor\": \"{{ $('SET SRP Processor').item.json.processor }}\",\n  \"artifact\": {\n    \"artifact_id\": {{$json.artifact_id}},\n    \"filepath\": \"{{$json.filepath}}\",\n    \"run_id\": \"{{$json.run_id}}\",\n    \"fetched_at\": \"{{$json.fetched_at}}\",\n    \"url\": \"{{$json.url}}\",\n    \"http_status\": {{$json.http_status}},\n    \"content_type\": \"{{$json.content_type}}\"\n  },\n  \"options\": {\n    \"include_dummy_listings\": true\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1856,
        -240
      ],
      "id": "a8dfa4aa-dd2d-4856-880e-0a44c6ae4d6f",
      "name": "Send Artifact for Processing"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE artifact_processing\nSET\n  status = '{{ $node[\"Send Artifact for Processing\"].json.status }}',\n  processed_at = now(),\n  message = '{{ $node[\"Send Artifact for Processing\"].json.message }}',\n  meta = '{{ JSON.stringify($node[\"Send Artifact for Processing\"].json.meta || {}).replace(/'/g, \"''\") }}'::jsonb\nWHERE artifact_id = {{ $node[\"Send Artifact for Processing\"].json.artifact_id }}\n  AND processor = '{{ $node[\"Send Artifact for Processing\"].json.processor }}';\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2512,
        -256
      ],
      "id": "b98710db-852c-4889-9b2f-d515b2bb5fa0",
      "name": "Update Artifacts Metadata",
      "credentials": {
        "postgres": {
          "id": "l8Ecbn62FzXCDkF9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Send Artifact for Processing').item.json.status }}",
                    "rightValue": "ok",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "3cb8bd72-8e3e-4b9d-953d-a42b8a979ad1"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Ok"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "34aa1595-e397-4acb-8aa9-4a3ed996378b",
                    "leftValue": "={{ $('Send Artifact for Processing').item.json.status }}",
                    "rightValue": "ok",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Not Ok"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        2064,
        -240
      ],
      "id": "7947df0a-42b3-4cec-9617-49c6c64449a1",
      "name": "Check Status"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE artifact_processing\nSET\n  status = 'retry',\n  meta = '{{ JSON.stringify($node[\"Send Artifact for Processing\"].json.meta) }}'\nWHERE artifact_id = {{ $node[\"Send Artifact for Processing\"].json.artifact_id }}\n  AND processor = '{{ $node[\"Send Artifact for Processing\"].json.processor }}';\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2464,
        -16
      ],
      "id": "c39f9d71-bdd2-4b39-a185-e2e685867556",
      "name": "Update Artifacts Table with retry status",
      "credentials": {
        "postgres": {
          "id": "l8Ecbn62FzXCDkF9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH data AS (\n  SELECT *\n  FROM jsonb_to_recordset('{{ JSON.stringify($json.listings || []).replace(/'/g, \"''\") }}'::jsonb)\n    AS x(\n      listing_id text,\n      canonical_detail_url text,\n      year int,\n      make text,\n      model text,\n      trim text,\n\n      \"stockType\" text,\n      price int,\n      msrp int,\n      mileage int,\n      vin text,\n\n      \"fuelType\" text,\n      \"bodyStyle\" text,\n      \"financingType\" text,\n\n      seller_zip text,\n      \"seller_customerId\" text,\n\n      page_number int,\n      position_on_page int,\n      trid text,\n      \"isaContext\" text\n    )\n)\nINSERT INTO srp_observations (\n  artifact_id,\n  run_id,\n  fetched_at,\n\n  listing_id,\n  vin,\n  seller_customer_id,\n\n  price,\n  msrp,\n  mileage,\n\n  year,\n  make,\n  model,\n  trim,\n  stock_type,\n\n  fuel_type,\n  body_style,\n  financing_type,\n\n  seller_zip,\n\n  page_number,\n  position_on_page,\n  trid,\n  isa_context,\n\n  canonical_detail_url\n)\nSELECT\n  {{ $node[\"Loop Over SRP Artifacts\"].json.artifact_id }}::bigint,\n  '{{ $node[\"Loop Over SRP Artifacts\"].json.run_id }}'::uuid,\n  '{{ $node[\"Loop Over SRP Artifacts\"].json.fetched_at }}'::timestamptz,\n\n  d.listing_id,\n  d.vin,\n  d.\"seller_customerId\",\n\n  d.price,\n  d.msrp,\n  d.mileage,\n\n  d.year,\n  d.make,\n  d.model,\n  d.trim,\n  d.\"stockType\",\n\n  d.\"fuelType\",\n  d.\"bodyStyle\",\n  d.\"financingType\",\n\n  d.seller_zip,\n\n  d.page_number,\n  d.position_on_page,\n  d.trid,\n  d.\"isaContext\",\n\n  d.canonical_detail_url\nFROM data d\nON CONFLICT (artifact_id, listing_id) DO NOTHING;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2288,
        -256
      ],
      "id": "3190dcc7-3134-466a-905b-5a99a9dedb64",
      "name": "Insert SRP_Observations",
      "notesInFlow": true,
      "credentials": {
        "postgres": {
          "id": "l8Ecbn62FzXCDkF9",
          "name": "Postgres account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE artifact_processing\nSET\n  status = 'skip',\n  meta = NULL\nWHERE artifact_id = {{ $json.artifact_id }}\n  AND processor = '{{ $('SET SRP Processor').item.json.processor }}';\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1856,
        -32
      ],
      "id": "8ef7587c-92a8-4c07-9ef4-a6dbbe45bb63",
      "name": "Update Artifacts Table with Skip status",
      "credentials": {
        "postgres": {
          "id": "l8Ecbn62FzXCDkF9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        400
      ],
      "id": "3767aa70-1635-4b7e-8dfc-3d2bad9e7b1c",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "QrtISF4STFcsa2bug83s4",
          "mode": "list",
          "cachedResultUrl": "/workflow/QrtISF4STFcsa2bug83s4",
          "cachedResultName": "Check Deploy Intent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "parent_workflow_name": "={{ $workflow.name }}",
            "parent_workflow_id": "={{ $execution.id }}",
            "parent_workflow_timestamp": "={{ $now }}",
            "parent_workflow_status": "started"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "parent_workflow_name",
              "displayName": "parent_workflow_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "parent_workflow_id",
              "displayName": "parent_workflow_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "parent_workflow_timestamp",
              "displayName": "parent_workflow_timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "parent_workflow_status",
              "displayName": "parent_workflow_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        224,
        400
      ],
      "id": "e065ebf5-6d3c-46f5-8afc-ac844600a7bd",
      "name": "Call 'Check Deploy Intent'"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1c979a3b-731d-4183-abe4-71f87c7faabe",
              "leftValue": "={{ $json.can_deploy }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        448,
        400
      ],
      "id": "e1d44e1e-52f0-406c-a66b-5c328248b146",
      "name": "Can Deploy?"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        4688,
        352
      ],
      "id": "b999369a-3e1f-41e9-9d95-eeccae7fe731",
      "name": "Aggregate2"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE detail_scrape_claims\nSET status = 'processed'\nWHERE listing_id IN (\n    SELECT ra.listing_id::text\n    FROM raw_artifacts ra\n    INNER JOIN scrape_jobs sj\n        ON ra.run_id = sj.run_id\n       AND ra.search_key = sj.search_key\n    INNER JOIN artifact_processing ap\n        ON ra.artifact_id = ap.artifact_id\n       AND ap.status = 'ok'\n    WHERE ra.artifact_type = 'detail_page'\n      AND ra.listing_id IS NOT NULL\n      AND ap.processor LIKE 'cars_detail_page__%'\n      AND sj.status = 'fetched'\n)\nAND status != 'processed'\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3904,
        384
      ],
      "id": "345ccb26-84ab-48df-99f1-9357a966ba9e",
      "name": "Release Claims",
      "credentials": {
        "postgres": {
          "id": "l8Ecbn62FzXCDkF9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "QaFnwxOQopzO-wVjL64dl",
          "mode": "list",
          "cachedResultUrl": "/workflow/QaFnwxOQopzO-wVjL64dl",
          "cachedResultName": "Update n8n Runs Table"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "parent_workflow_id": "={{ $execution.id }}",
            "parent_workflow_timestamp": "={{ $now }}",
            "parent_workflow_status": "completed",
            "parent_workflow_name": "={{ $workflow.name }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "parent_workflow_name",
              "displayName": "parent_workflow_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "parent_workflow_id",
              "displayName": "parent_workflow_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "parent_workflow_timestamp",
              "displayName": "parent_workflow_timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "parent_workflow_status",
              "displayName": "parent_workflow_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        4752,
        -304
      ],
      "id": "040c3f44-70b3-4967-ad1d-a40c762301c2",
      "name": "Call 'Update n8n Runs Table'"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH parsed AS (\n  SELECT *\n  FROM jsonb_to_recordset('{{ JSON.stringify($json.data).replace(/'/g,\"''\") }}'::jsonb)\n    AS p(\n      processor   text,\n      artifact_id bigint,\n      status      text,\n      message     text,\n      search_key  text,\n      meta        jsonb,\n      \"primary\"   jsonb,\n      carousel    jsonb\n    )\n),\nra AS (\n  SELECT artifact_id, fetched_at, url\n  FROM raw_artifacts\n  WHERE artifact_id IN (SELECT artifact_id FROM parsed)\n),\nrows AS (\n  SELECT DISTINCT\n    p.artifact_id,\n    ra.fetched_at,\n\tp.search_key,\n    COALESCE(\n  NULLIF(p.\"primary\"->>'listing_id', ''),\n  NULLIF(regexp_replace(ra.url, '.*/vehicledetail/([^/]+)/?.*', '\\1'), ra.url)\n) AS listing_id\nFROM parsed p\n  JOIN ra USING (artifact_id)\n  WHERE p.status = 'ok'\n)\n,joined_info AS (\nSELECT\n\trows.artifact_id\n\t,rows.fetched_at\n\t,rows.search_key\n\t,rows.listing_id\n\t,ROW_NUMBER() OVER (PARTITION BY rows.artifact_id ORDER BY d.fetched_at DESC) as observation_number\n\t,d.fetched_at AS detail_observation_time\n\t,d.vin\n\t,d.vin17\n\t,'unlisted' as listing_state\n\t,d.make\n\t,d.model\n\t,d.vehicle_trim\n\t,d.model_year\n\t,d.price\n\t,d.mileage\n\t,d.msrp\n\t,d.stock_type\n\t,d.dealer_name\n\t,d.dealer_zip\n\t,d.customer_id\n\t,d.canonical_detail_url\nFROM rows\nLEFT JOIN analytics.stg_detail_observations d on rows.listing_id = d.listing_id\n)\nINSERT INTO detail_observations (\n  artifact_id,\n  fetched_at,\n  listing_id,\n  vin,\n  listing_state,\n  make,\n  model,\n  \"trim\",\n  year,\n  price,\n  mileage,\n  msrp,\n  stock_type,\n  fuel_type,\n  body_style,\n  dealer_name,\n  dealer_zip,\n  customer_id\n)\nSELECT\n\tartifact_id\n\t,fetched_at\n\t,listing_id\n\t,vin17 as vin\n\t,listing_state\n\t,make\n\t,model\n\t,vehicle_trim as \"trim\"\n\t,model_year as \"year\"\n\t,price\n\t,mileage\n\t,msrp\n\t,stock_type\n\t,null as fuel_type\n\t,null as body_style\n\t,dealer_name\n\t,dealer_zip\n\t,customer_id\nFROM joined_info \nWHERE observation_number = 1\nAND vin17 IS NOT NULL;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        4496,
        672
      ],
      "id": "767c4d93-304f-4f1b-9368-3e8a187709a7",
      "name": "Insert Unlisted Rows",
      "credentials": {
        "postgres": {
          "id": "l8Ecbn62FzXCDkF9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        5120,
        816
      ],
      "id": "b7955b87-d5d2-484b-979e-6e073a4d5f0a",
      "name": "Merge"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        4240,
        544
      ],
      "id": "626de5c9-5171-4c9c-a273-32c0d348941d",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.primary.listing_state }}",
                    "rightValue": "unlisted",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "eb328a03-5b15-4db4-8065-8243b43ec9c0"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Unlisted"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "dfd4c0fd-e56f-4a84-bcaa-9b1a4d60a583",
                    "leftValue": "={{ $json.primary.listing_state }}",
                    "rightValue": "unlisted",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "All Others"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        3776,
        688
      ],
      "id": "00d6e0ad-36fe-4a21-914d-d60e6265c63e",
      "name": "Switch1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE artifact_processing\nSET\n  status = 'retry',\n  meta = '{{ JSON.stringify($node[\"Process Artifacts\"].json.meta) }}'\nWHERE artifact_id = {{ $node[\"Process Artifacts\"].json.artifact_id }}\n  AND processor = '{{ $node[\"Set Detail Processor\"].json.processor }}';\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3344,
        976
      ],
      "id": "3fb79206-9fa0-4f33-a1b5-ee200a875beb",
      "name": "Update Artifacts Processing With Retry",
      "credentials": {
        "postgres": {
          "id": "l8Ecbn62FzXCDkF9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH data AS (\n  SELECT *\n  FROM jsonb_to_recordset(\n    '{{ JSON.stringify($node[\"Aggregate\"].json.data).replace(/'/g, \"''\") }}'::jsonb\n  ) AS x(\n    artifact_id bigint,\n    status text,\n    message text,\n    meta jsonb\n  )\n)\nUPDATE artifact_processing ap\nSET\n  status = d.status,\n  processed_at = now(),\n  message = d.message,\n  meta = COALESCE(d.meta, '{}'::jsonb)\nFROM data d\nWHERE ap.artifact_id = d.artifact_id\n  AND ap.processor = '{{ $node[\"Set Detail Processor\"].json.processor }}';\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        4896,
        832
      ],
      "id": "73f40dda-f992-45d6-a1ed-19d8d33251b6",
      "name": "Mark Artifacts Processed",
      "credentials": {
        "postgres": {
          "id": "l8Ecbn62FzXCDkF9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH parsed AS (\n  SELECT *\n  FROM jsonb_to_recordset('{{ JSON.stringify($items(\"Aggregate\")[0].json.data).replace(/'/g,\"''\") }}'::jsonb)\n  AS p(\n    artifact_id bigint,\n    status      text,\n    \"primary\"   jsonb,\n    carousel    jsonb\n  )\n  WHERE status = 'ok'\n),\nra AS (\n  SELECT artifact_id, fetched_at, url\n  FROM raw_artifacts\n  WHERE artifact_id IN (SELECT artifact_id FROM parsed)\n),\ncards AS (\n  SELECT DISTINCT ON (p.artifact_id, src.source_listing_id, c->>'listing_id')\n    p.artifact_id,\n    ra.fetched_at,\n    src.source_listing_id,\n\n    NULLIF(c->>'listing_id','')            AS listing_id,\n    NULLIF(c->>'price','')::int            AS price,\n    NULLIF(c->>'mileage','')::int          AS mileage,\n    NULLIF(c->>'body','')                  AS body,\n    NULLIF(c->>'condition','')             AS condition,\n    NULLIF(c->>'year','')::int             AS year\n  FROM parsed p\n  JOIN ra USING (artifact_id)\n\n  -- derive source_listing_id once per parsed row\n  CROSS JOIN LATERAL (\n    SELECT COALESCE(\n      NULLIF(p.\"primary\"->>'listing_id',''),\n      NULLIF(regexp_replace(ra.url, '.*/vehicledetail/([^/]+)/?.*', '\\1'), ra.url)\n    ) AS source_listing_id\n  ) src\n\n  -- explode carousel array into rows\n  CROSS JOIN LATERAL jsonb_array_elements(COALESCE(p.carousel, '[]'::jsonb)) AS c\n  WHERE NULLIF(c->>'listing_id','') IS NOT NULL\n)\nINSERT INTO detail_carousel_hints (\n  artifact_id,\n  fetched_at,\n  source_listing_id,\n  listing_id,\n  price,\n  mileage,\n  body,\n  condition,\n  year\n)\nSELECT\n  artifact_id,\n  fetched_at,\n  source_listing_id,\n  listing_id,\n  price,\n  mileage,\n  body,\n  condition,\n  year\nFROM cards\nON CONFLICT DO NOTHING;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        4672,
        832
      ],
      "id": "e4a3c9d1-3703-4000-8b99-f6130ee3de7d",
      "name": "Write Carousel Hints",
      "credentials": {
        "postgres": {
          "id": "l8Ecbn62FzXCDkF9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH parsed AS (\n  SELECT *\n  FROM jsonb_to_recordset('{{ JSON.stringify($items(\"Aggregate\")[0].json.data).replace(/'/g,\"''\") }}'::jsonb)\n  AS p(\n    artifact_id bigint,\n    status      text,\n    \"primary\"   jsonb,\n    carousel    jsonb\n  )\n  WHERE status = 'ok'\n),\ndealers AS (\n  SELECT DISTINCT ON (NULLIF(p.\"primary\"->>'customer_id',''))\n    NULLIF(p.\"primary\"->>'customer_id','')       AS customer_id,\n    NULLIF(p.\"primary\"->>'dealer_name','')        AS name,\n    NULLIF(p.\"primary\"->>'dealer_street','')      AS street,\n    NULLIF(p.\"primary\"->>'dealer_city','')        AS city,\n    NULLIF(p.\"primary\"->>'dealer_state','')       AS state,\n    NULLIF(p.\"primary\"->>'dealer_zip','')         AS zip,\n    NULLIF(p.\"primary\"->>'dealer_phone','')       AS phone,\n    NULLIF(p.\"primary\"->>'dealer_website','')     AS website,\n    NULLIF(p.\"primary\"->>'dealer_cars_com_url','') AS cars_com_url,\n    (NULLIF(p.\"primary\"->>'dealer_rating',''))::numeric(3,1) AS rating\n  FROM parsed p\n  WHERE NULLIF(p.\"primary\"->>'customer_id','') IS NOT NULL\n    AND NULLIF(p.\"primary\"->>'dealer_name','') IS NOT NULL\n)\nINSERT INTO dealers (customer_id, name, street, city, state, zip, phone, website, cars_com_url, rating)\nSELECT customer_id, name, street, city, state, zip, phone, website, cars_com_url, rating\nFROM dealers\nON CONFLICT (customer_id) DO UPDATE SET\n  name = COALESCE(EXCLUDED.name, dealers.name),\n  street = COALESCE(EXCLUDED.street, dealers.street),\n  city = COALESCE(EXCLUDED.city, dealers.city),\n  state = COALESCE(EXCLUDED.state, dealers.state),\n  zip = COALESCE(EXCLUDED.zip, dealers.zip),\n  phone = COALESCE(EXCLUDED.phone, dealers.phone),\n  website = COALESCE(EXCLUDED.website, dealers.website),\n  cars_com_url = COALESCE(EXCLUDED.cars_com_url, dealers.cars_com_url),\n  rating = COALESCE(EXCLUDED.rating, dealers.rating),\n  last_updated_at = now();\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        4448,
        832
      ],
      "id": "cef3f6b9-9984-4640-9226-cb285c99da6a",
      "name": "Upsert Dealers",
      "credentials": {
        "postgres": {
          "id": "l8Ecbn62FzXCDkF9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH parsed AS (\n  SELECT *\n  FROM jsonb_to_recordset('{{ JSON.stringify($json.data).replace(/'/g,\"''\") }}'::jsonb)\n    AS p(\n      processor   text,\n      artifact_id bigint,\n      status      text,\n      message     text,\n      search_key  text,\n      meta        jsonb,\n      \"primary\"   jsonb,\n      carousel    jsonb\n    )\n),\nra AS (\n  SELECT artifact_id, fetched_at, url\n  FROM raw_artifacts\n  WHERE artifact_id IN (SELECT artifact_id FROM parsed)\n),\nrows AS (\n  SELECT DISTINCT\n    p.artifact_id,\n    ra.fetched_at,\n\n    COALESCE(\n  NULLIF(p.\"primary\"->>'listing_id', ''),\n  NULLIF(regexp_replace(ra.url, '.*/vehicledetail/([^/]+)/?.*', '\\1'), ra.url)\n) AS listing_id,\n    COALESCE(\n      NULLIF(p.\"primary\"->>'vin', ''),\n      CASE WHEN length(p.search_key) = 17 AND p.search_key ~ '^[A-Z0-9]+$' THEN p.search_key END\n    ) AS vin,\n    COALESCE(NULLIF(p.\"primary\"->>'listing_state',''), 'active')   AS listing_state,\n\n    NULLIF(p.\"primary\"->>'make',      '')                          AS make,\n    NULLIF(p.\"primary\"->>'model',     '')                          AS model,\n    NULLIF(p.\"primary\"->>'trim',      '')                          AS \"trim\",\n    NULLIF(p.\"primary\"->>'year',      '')::int                     AS year,\n\n    NULLIF(p.\"primary\"->>'price',   '')::int                       AS price,\n    NULLIF(p.\"primary\"->>'mileage', '')::int                       AS mileage,\n    NULLIF(p.\"primary\"->>'msrp',    '')::int                       AS msrp,\n\n    NULLIF(p.\"primary\"->>'stock_type',  '')                        AS stock_type,\n    NULLIF(p.\"primary\"->>'fuel_type',   '')                        AS fuel_type,\n    NULLIF(p.\"primary\"->>'bodystyle',   '')                        AS body_style,\n    NULLIF(p.\"primary\"->>'dealer_name', '')                        AS dealer_name,\n    NULLIF(p.\"primary\"->>'dealer_zip',  '')                        AS dealer_zip,\n    NULLIF(p.\"primary\"->>'customer_id', '')                        AS customer_id\n\n  FROM parsed p\n  JOIN ra USING (artifact_id)\n  WHERE p.status = 'ok'\n)\nINSERT INTO detail_observations (\n  artifact_id,\n  fetched_at,\n  listing_id,\n  vin,\n  listing_state,\n  make,\n  model,\n  \"trim\",\n  year,\n  price,\n  mileage,\n  msrp,\n  stock_type,\n  fuel_type,\n  body_style,\n  dealer_name,\n  dealer_zip,\n  customer_id\n)\nSELECT\n  artifact_id,\n  fetched_at,\n  listing_id,\n  vin,\n  listing_state,\n  make,\n  model,\n  \"trim\",\n  year,\n  price,\n  mileage,\n  msrp,\n  stock_type,\n  fuel_type,\n  body_style,\n  dealer_name,\n  dealer_zip,\n  customer_id\nFROM rows\nON CONFLICT (artifact_id, listing_id) DO UPDATE SET\n  make = EXCLUDED.make,\n  model = EXCLUDED.model,\n  trim = EXCLUDED.trim,\n  year = EXCLUDED.year,\n  fuel_type = EXCLUDED.fuel_type,\n  body_style = EXCLUDED.body_style;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        4224,
        832
      ],
      "id": "2669c04a-814d-452b-a002-511686cb4c58",
      "name": "Write Detail Observations",
      "credentials": {
        "postgres": {
          "id": "l8Ecbn62FzXCDkF9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        4000,
        832
      ],
      "id": "b63517e1-b204-4286-8419-5c890da55f1e",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH candidates AS (\n  SELECT ra.artifact_id\n  FROM raw_artifacts ra\n  LEFT JOIN artifact_processing ap\n    ON ap.artifact_id = ra.artifact_id\n   AND ap.processor = '{{ $('Set Detail Processor').item.json.processor }}'\n  WHERE ra.source = 'cars.com'\n    AND ra.artifact_type = 'detail_page'\n    AND NOT EXISTS (\n      SELECT 1\n      FROM artifact_processing ap_ok\n      WHERE ap_ok.artifact_id = ra.artifact_id\n        AND ap_ok.status = 'ok'\n        AND ap_ok.processor LIKE 'cars_detail_page__%'\n    )\n    AND (\n          ap.artifact_id IS NULL\n          OR ap.status = 'retry'\n          OR (ap.status = 'processing' AND ap.processed_at < now() - interval '1 hours')\n        )\n  ORDER BY ra.fetched_at ASC\n  LIMIT 5000\n),\nclaimed AS (\n  INSERT INTO artifact_processing (artifact_id, processor, status, processed_at)\n  SELECT c.artifact_id, '{{ $('Set Detail Processor').item.json.processor }}', 'processing', now()\n  FROM candidates c\n  ON CONFLICT (artifact_id, processor) DO UPDATE\n    SET status = 'processing',\n        processed_at = now(),\n        message = NULL\n  RETURNING artifact_id\n)\nSELECT ra.*\nFROM raw_artifacts ra\nJOIN claimed c ON ra.artifact_id = c.artifact_id\nORDER BY ra.fetched_at ASC;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2000,
        736
      ],
      "id": "e66745a5-a319-44a9-9c5c-42e7d29ad8bf",
      "name": "Identify Unproccessed Artifacts",
      "credentials": {
        "postgres": {
          "id": "l8Ecbn62FzXCDkF9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "qdURL8XbEkdApnjdAcFFL",
          "mode": "list",
          "cachedResultUrl": "/workflow/qdURL8XbEkdApnjdAcFFL",
          "cachedResultName": "Build DBT"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "intent": "={{ $json.intent }}"
          },
          "matchingColumns": [
            "intent"
          ],
          "schema": [
            {
              "id": "intent",
              "displayName": "intent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        4544,
        -128
      ],
      "id": "9e3b9e29-dc00-48f6-a6b7-ea5d239249f3",
      "name": "Call 'Build DBT'1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b0895d77-aa4f-486f-92ca-ecd031b1872a",
              "name": "processor",
              "value": "cars_results_page__listings_v3",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        720,
        64
      ],
      "id": "3b68fa49-4de3-4648-9795-4b3e74d0baed",
      "name": "SET SRP Processor"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"processor\": \"cars_detail_page__v1\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1808,
        736
      ],
      "id": "aae5e217-462d-4fe2-842c-3c0dbaecddd8",
      "name": "Set Detail Processor"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1328,
        -304
      ],
      "id": "1b5833a1-8fde-42eb-8882-916545ab3d52",
      "name": "Loop Over SRP Artifacts"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cae8a7dc-09b9-4e33-93ab-c35a1233c99e",
              "leftValue": "={{ $json.artifact_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1072,
        64
      ],
      "id": "890b7763-40df-4f92-860d-039c395ff5ec",
      "name": "If Artifacts Exist"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "9e274d11-5d3d-4c0b-9cab-acd6fe8e53a8",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1616,
        -224
      ],
      "id": "c27cee1f-99d4-42a4-b284-ef58b9667401",
      "name": "If No Error"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://cartracker-scraper:8000/process/detail_pages",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"processor\": \"{{ $node[\"Set Detail Processor\"].json.processor }}\",\n  \"artifact\": {\n    \"artifact_id\": \"{{ $json.artifact_id }}\",\n    \"filepath\": \"{{ $json.filepath }}\",\n    \"search_key\": \"{{ $json.search_key }}\",\n    \"url\": \"{{ $json.url }}\"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2880,
        848
      ],
      "id": "b1224bba-00b2-4f4f-a8fc-7221e4f0f8c5",
      "name": "Process Artifacts"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "ok",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "20204476-2db5-41ed-befa-9355dc309db8"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ok"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "a72f9328-92c7-4e29-a144-56a2c4da4a58",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "ok",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Not Ok"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        3088,
        928
      ],
      "id": "52c3161a-1af3-4a57-bb21-82f50421fdf1",
      "name": "Check Status1"
    },
    {
      "parameters": {
        "batchSize": 100,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        3552,
        640
      ],
      "id": "422763da-005f-439d-8e28-4b4562a8b6da",
      "name": "Batch Results"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2624,
        736
      ],
      "id": "c19eda5e-229f-47d9-aa58-165b9830d924",
      "name": "Loop Over Detail Pages"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH data AS (\n  SELECT *\n  FROM jsonb_to_recordset(\n    '{{ JSON.stringify($node[\"Aggregate1\"].json.data).replace(/'/g, \"''\") }}'::jsonb\n  ) AS x(\n    artifact_id bigint,\n    status text,\n    message text,\n    meta jsonb\n  )\n)\nUPDATE artifact_processing ap\nSET\n  status = d.status,\n  processed_at = now(),\n  message = 'unlisted',\n  meta = COALESCE(d.meta, '{}'::jsonb)\nFROM data d\nWHERE ap.artifact_id = d.artifact_id\n  AND ap.processor = '{{ $node[\"Set Detail Processor\"].json.processor }}';\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        4768,
        672
      ],
      "id": "e7d8d238-6500-4e11-9104-4a91d58951a5",
      "name": "Mark Unlisted Processed",
      "credentials": {
        "postgres": {
          "id": "l8Ecbn62FzXCDkF9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a9db8112-8364-4eb4-a668-40bc0fa247dc",
              "leftValue": "={{ $json.artifact_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2176,
        736
      ],
      "id": "8f81b676-3211-4089-b7b6-3d9c76fab3a8",
      "name": "If"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "71613ec6-7338-4ce7-978c-56378cdb3ba5",
              "leftValue": "={{ $('NO_SRP_SET').isExecuted }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2704,
        432
      ],
      "id": "dd147a06-4254-4dba-8761-0c6745d8a458",
      "name": "If1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6315c23d-a6dd-4b9e-a6fd-2d4a6ce0dc49",
              "name": "intent",
              "value": "NO_SRP",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1344,
        320
      ],
      "id": "f279019f-9b30-4759-891c-73d8c306b1bd",
      "name": "NO_SRP_SET"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "94705287-61d9-4997-84a3-4e4856401155",
              "name": "intent",
              "value": "after_srp",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3472,
        368
      ],
      "id": "f47f4220-c4f1-4d1f-b244-b914eb534a05",
      "name": "ADD_SRP"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "5418f975-4e34-4807-83e5-8d06862df05a",
              "leftValue": "={{ $('NO_SRP_SET').isExecuted }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        4112,
        384
      ],
      "id": "29881b65-7cb4-4357-885c-e3c95d112437",
      "name": "If2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9877b372-edd9-4c72-b7c9-435eed0d97b5",
              "name": "intent",
              "value": "both",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4336,
        64
      ],
      "id": "6bee1d53-48b5-47e0-b532-e2b3dc5e0d2d",
      "name": "DBT BOTH"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2ed25e7b-d4f7-40ef-826e-a65745fb1a19",
              "name": "intent",
              "value": "after_detail",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4448,
        192
      ],
      "id": "83c5c9c5-2e60-44be-b7fb-26bda9636639",
      "name": "DBT AFTER DETAIL"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH parsed AS (\n  SELECT *\n  FROM jsonb_to_recordset('{{ JSON.stringify($json.data).replace(/'/g,\"''\") }}'::jsonb)\n    AS p(\n      processor   text,\n      artifact_id bigint,\n      status      text,\n      message     text,\n      search_key  text,\n      meta        jsonb,\n      \"primary\"   jsonb,\n      carousel    jsonb\n    )\n),\nra AS (\n  SELECT artifact_id, fetched_at, url\n  FROM raw_artifacts\n  WHERE artifact_id IN (SELECT artifact_id FROM parsed)\n),\nrows AS (\n  SELECT DISTINCT\n    p.artifact_id,\n    ra.fetched_at,\n\tp.search_key,\n    COALESCE(\n  NULLIF(p.\"primary\"->>'listing_id', ''),\n  NULLIF(regexp_replace(ra.url, '.*/vehicledetail/([^/]+)/?.*', '\\1'), ra.url)\n) AS listing_id\nFROM parsed p\n  JOIN ra USING (artifact_id)\n  WHERE p.status = 'ok'\n)\nDELETE FROM detail_carousel_hints dch\nUSING rows\nWHERE dch.listing_id = rows.listing_id\nRETURNING dch.artifact_id;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        4496,
        352
      ],
      "id": "9e7be99d-f852-4007-ace5-513a6ba2a7ea",
      "name": "Delete Unlisted from Raw Table",
      "credentials": {
        "postgres": {
          "id": "l8Ecbn62FzXCDkF9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH parsed AS (\n  SELECT *\n  FROM jsonb_to_recordset('{{ JSON.stringify($json.data).replace(/'/g,\"''\") }}'::jsonb)\n    AS p(\n      processor   text,\n      artifact_id bigint,\n      status      text,\n      message     text,\n      search_key  text,\n      meta        jsonb,\n      \"primary\"   jsonb,\n      carousel    jsonb\n    )\n),\nra AS (\n  SELECT artifact_id, fetched_at, url\n  FROM raw_artifacts\n  WHERE artifact_id IN (SELECT artifact_id FROM parsed)\n),\nrows AS (\n  SELECT DISTINCT\n    p.artifact_id,\n    ra.fetched_at,\n\tp.search_key,\n    COALESCE(\n  NULLIF(p.\"primary\"->>'listing_id', ''),\n  NULLIF(regexp_replace(ra.url, '.*/vehicledetail/([^/]+)/?.*', '\\1'), ra.url)\n) AS listing_id\nFROM parsed p\n  JOIN ra USING (artifact_id)\n  WHERE p.status = 'ok'\n)\nDELETE FROM analytics.stg_detail_carousel_hints dch\nUSING rows\nWHERE dch.listing_id = rows.listing_id\nRETURNING dch.artifact_id;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        4496,
        512
      ],
      "id": "0d760782-1d25-473a-85be-4dbab5c23beb",
      "name": "Delete Unlisted from STG Table",
      "credentials": {
        "postgres": {
          "id": "l8Ecbn62FzXCDkF9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH parsed AS (\n  SELECT *\n  FROM jsonb_to_recordset('{{ JSON.stringify($json.data).replace(/'/g,\"''\") }}'::jsonb)\n    AS p(\n      processor   text,\n      artifact_id bigint,\n      status      text,\n      message     text,\n      search_key  text,\n      meta        jsonb,\n      \"primary\"   jsonb,\n      carousel    jsonb\n    )\n),\nra AS (\n  SELECT artifact_id, fetched_at, url\n  FROM raw_artifacts\n  WHERE artifact_id IN (SELECT artifact_id FROM parsed)\n),\nrows AS (\n  SELECT DISTINCT\n    p.artifact_id,\n    ra.fetched_at,\n\tp.search_key,\n    COALESCE(\n  NULLIF(p.\"primary\"->>'listing_id', ''),\n  NULLIF(regexp_replace(ra.url, '.*/vehicledetail/([^/]+)/?.*', '\\1'), ra.url)\n) AS listing_id\nFROM parsed p\n  JOIN ra USING (artifact_id)\n  WHERE p.status = 'ok'\n)\nDELETE FROM analytics.int_carousel_hints_filtered chf\nUSING rows\nWHERE chf.listing_id = rows.listing_id\nRETURNING chf.artifact_id;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        4864,
        352
      ],
      "id": "5490e4c2-bf41-4882-a525-5ff08ce193ee",
      "name": "Delete Unlisted from INT Table",
      "credentials": {
        "postgres": {
          "id": "l8Ecbn62FzXCDkF9",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {
    "Schedule Trigger": [
      {
        "json": {
          "timestamp": "2026-04-08T01:45:31.002-04:00",
          "Readable date": "April 8th 2026, 1:45:31 am",
          "Readable time": "1:45:31 am",
          "Day of week": "Wednesday",
          "Year": "2026",
          "Month": "April",
          "Day of month": "08",
          "Hour": "01",
          "Minute": "45",
          "Second": "31",
          "Timezone": "America/New_York (UTC-04:00)"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Get Artifacts to Process": {
      "main": [
        [
          {
            "node": "If Artifacts Exist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Artifact for Processing": {
      "main": [
        [
          {
            "node": "Check Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Artifacts Metadata": {
      "main": [
        [
          {
            "node": "Loop Over SRP Artifacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status": {
      "main": [
        [
          {
            "node": "Insert SRP_Observations",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Artifacts Table with retry status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Artifacts Table with retry status": {
      "main": [
        [
          {
            "node": "Loop Over SRP Artifacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert SRP_Observations": {
      "main": [
        [
          {
            "node": "Update Artifacts Metadata",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Artifacts Table with retry status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Artifacts Table with Skip status": {
      "main": [
        [
          {
            "node": "Loop Over SRP Artifacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Call 'Check Deploy Intent'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Check Deploy Intent'": {
      "main": [
        [
          {
            "node": "Can Deploy?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Can Deploy?": {
      "main": [
        [
          {
            "node": "SET SRP Processor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate2": {
      "main": [
        [
          {
            "node": "Delete Unlisted from INT Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Release Claims": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Unlisted Rows": {
      "main": [
        [
          {
            "node": "Mark Unlisted Processed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Batch Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Delete Unlisted from Raw Table",
            "type": "main",
            "index": 0
          },
          {
            "node": "Insert Unlisted Rows",
            "type": "main",
            "index": 0
          },
          {
            "node": "Delete Unlisted from STG Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Artifacts Processing With Retry": {
      "main": [
        [
          {
            "node": "Loop Over Detail Pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Artifacts Processed": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Write Carousel Hints": {
      "main": [
        [
          {
            "node": "Mark Artifacts Processed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Dealers": {
      "main": [
        [
          {
            "node": "Write Carousel Hints",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Detail Observations": {
      "main": [
        [
          {
            "node": "Upsert Dealers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Write Detail Observations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Identify Unproccessed Artifacts": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Build DBT'1": {
      "main": [
        [
          {
            "node": "Call 'Update n8n Runs Table'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SET SRP Processor": {
      "main": [
        [
          {
            "node": "Get Artifacts to Process",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Detail Processor": {
      "main": [
        [
          {
            "node": "Identify Unproccessed Artifacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over SRP Artifacts": {
      "main": [
        [
          {
            "node": "Set Detail Processor",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If No Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Artifacts Exist": {
      "main": [
        [
          {
            "node": "Loop Over SRP Artifacts",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NO_SRP_SET",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If No Error": {
      "main": [
        [
          {
            "node": "Send Artifact for Processing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Artifacts Table with Skip status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Artifacts": {
      "main": [
        [
          {
            "node": "Check Status1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status1": {
      "main": [
        [
          {
            "node": "Loop Over Detail Pages",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Artifacts Processing With Retry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Batch Results": {
      "main": [
        [
          {
            "node": "Release Claims",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Detail Pages": {
      "main": [
        [
          {
            "node": "Batch Results",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Process Artifacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Unlisted Processed": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Loop Over Detail Pages",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Call 'Update n8n Runs Table'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ADD_SRP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NO_SRP_SET": {
      "main": [
        [
          {
            "node": "Set Detail Processor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ADD_SRP": {
      "main": [
        [
          {
            "node": "Call 'Build DBT'1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "DBT AFTER DETAIL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "DBT BOTH",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DBT BOTH": {
      "main": [
        [
          {
            "node": "Call 'Build DBT'1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DBT AFTER DETAIL": {
      "main": [
        [
          {
            "node": "Call 'Build DBT'1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Unlisted from Raw Table": {
      "main": [
        [
          {
            "node": "Aggregate2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "rJfFKS2DGRAn_IPJR1xTc"
  },
  "versionId": "93ea5eab-325a-4f17-b1ad-f6c69752a16a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6819133d7d7a8c3c6c728508316cdaac6420c5bbe2de9a1439bbb952efe61179"
  },
  "id": "kxKnWLkjHwud2yjhxlpME",
  "tags": []
}