n8n/workflows/Scrape Detail Pages.json
{
  "name": "Scrape Detail Pages",
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH batch AS (\n  SELECT q.*\n  FROM ops.ops_detail_scrape_queue q\n  LEFT JOIN detail_scrape_claims c\n    ON c.listing_id = q.listing_id\n   AND c.status = 'running'\n  WHERE c.listing_id IS NULL\n  ORDER BY q.priority, q.listing_id\n  LIMIT 1000\n),\nclaimed AS (\n  INSERT INTO detail_scrape_claims (listing_id, claimed_by, claimed_at, status)\n  SELECT b.listing_id, '{{ $('Create Run Id').first().json.run_id }}', now(), 'running'\n  FROM batch b\n  ON CONFLICT (listing_id) DO UPDATE\n    SET claimed_by = EXCLUDED.claimed_by,\n        claimed_at = EXCLUDED.claimed_at,\n        status     = 'running'\n    WHERE detail_scrape_claims.status != 'running'\n  RETURNING listing_id\n)\nSELECT b.* FROM batch b\nJOIN claimed c ON c.listing_id = b.listing_id;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1360,
        1240
      ],
      "id": "bbcb22dc-76e0-4258-b009-b7d4cf63a269",
      "name": "Get Batch to Process",
      "credentials": {
        "postgres": {
          "id": "l8Ecbn62FzXCDkF9",
          "name": "Postgres account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -688,
        1288
      ],
      "id": "a1eb499b-6143-4e9a-a17d-de5599d02ffb",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://cartracker-scraper:8000/scrape_detail",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "run_id",
              "value": "={{ $('Create Run Id').item.json.run_id }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"listing_id\": \"{{ $json.listing_id }}\",\n  \"vin\": \"{{ $json.vin }}\",\n  \"url\": \"{{ $json.current_listing_url}}\",\n  \"mode\": \"fetch\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -464,
        1288
      ],
      "id": "8dec758f-b5e3-438e-a3af-6ee445611a56",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "function uuidv4() {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, c => {\n    const r = Math.random() * 16 | 0;\n    const v = c === 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n  });\n}\n\nreturn [{ run_id: uuidv4() }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1808,
        1240
      ],
      "id": "333d97ca-20ed-4c13-90e4-c5f04fa8ca1d",
      "name": "Create Run Id"
    },
    {
      "parameters": {
        "jsCode": "const run_id = $('Create Run Id').first().json.run_id;\nconst artifacts = $input.first().json.artifacts;\nconst listing_id = $input.first().json.meta.listing_id\n\nreturn artifacts.map(a => ({\n  json: {\n    ...a,\n    run_id,\n    listing_id\n  }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        1456
      ],
      "id": "cfcb9d8c-1297-408c-a63a-79443ec69e29",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH data AS (\n  SELECT *\n  FROM jsonb_to_recordset('{{ JSON.stringify($json.data).replaceAll(\"'\",\"''\") }}'::jsonb)\n    AS x(\n      source text,\n      artifact_type text,\n      search_key text,\n      search_scope text,\n      page_num int,\n      url text,\n      fetched_at timestamptz,\n      http_status int,\n      content_type text,\n      content_bytes int,\n      sha256 text,\n      filepath text,\n      error text,\n      run_id uuid,\n      listing_id uuid\n    )\n)\nINSERT INTO raw_artifacts (\n  run_id,\n  source,\n  artifact_type,\n  search_key,\n  search_scope,\n  page_num,\n  url,\n  fetched_at,\n  http_status,\n  content_type,\n  content_bytes,\n  sha256,\n  filepath,\n  error,\n  listing_id\n)\nSELECT\n  d.run_id,\n  d.source,\n  d.artifact_type,\n  d.search_key,\n  d.search_scope,\n  d.page_num,\n  d.url,\n  d.fetched_at,\n  d.http_status,\n  d.content_type,\n  d.content_bytes,\n  d.sha256,\n  d.filepath,\n  d.error,\n  d.listing_id\nFROM data d;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -16,
        1000
      ],
      "id": "0185c73b-7b86-45a3-b8aa-6d91567501b2",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "l8Ecbn62FzXCDkF9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 250,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -464,
        928
      ],
      "id": "b14a087a-59d6-444a-b8a9-c080f7efce28",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO runs (run_id, status, trigger)\nVALUES ('{{ $json.run_id }}'::uuid, 'running', 'detail scrape');",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1584,
        1240
      ],
      "id": "4bbc7faa-b4f0-42f9-8214-b3862103a3a6",
      "name": "Insert Run Row",
      "credentials": {
        "postgres": {
          "id": "l8Ecbn62FzXCDkF9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE runs\nSET status = 'success', finished_at = now()\nWHERE run_id = '{{ $('Create Run Id').item.json.run_id }}'::uuid;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -240,
        736
      ],
      "id": "3dd28ac4-b9f7-4261-868d-8138490f9739",
      "name": "Mark Run Done",
      "credentials": {
        "postgres": {
          "id": "l8Ecbn62FzXCDkF9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -240,
        928
      ],
      "id": "a2f35491-2012-416b-a6ae-8d27a0ea32f0",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  COUNT(*) AS total,\n  COUNT(*) FILTER (WHERE http_status IS NULL OR http_status >= 400) AS errors,\n  ROUND(100.0 * COUNT(*) FILTER (WHERE http_status IS NULL OR http_status >= 400) / NULLIF(COUNT(*), 0), 1) AS error_pct\nFROM raw_artifacts\nWHERE run_id = '{{ $('Create Run Id').item.json.run_id }}'::uuid\n  AND artifact_type = 'detail_page';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -16,
        736
      ],
      "id": "c3600aad-c3ae-4c52-96f3-906b41cee02b",
      "name": "Check Error Rate",
      "credentials": {
        "postgres": {
          "id": "l8Ecbn62FzXCDkF9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "error-rate-check",
              "leftValue": "={{ $json.error_pct }}",
              "rightValue": 2.5,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        208,
        736
      ],
      "id": "0a3c3cbd-88c3-46da-b8d9-1c9e1f1a9d5c",
      "name": "Error Rate High?"
    },
    {
      "parameters": {
        "chatId": "774819707",
        "text": "=⚠️ <b>Detail Scrape Error Rate</b>\n\n<b>Error rate:</b> {{ $json.error_pct }}% ({{ $json.errors }}/{{ $json.total }} pages failed)\n<b>Run:</b> {{ $('Create Run Id').item.json.run_id }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        432,
        640
      ],
      "id": "96856eef-9bbc-4071-a6d6-3379f609f841",
      "name": "Send Error Rate Alert",
      "webhookId": "4a9b227a-7727-44d0-becc-c1e2dc80b6fd",
      "credentials": {
        "telegramApi": {
          "id": "qoqqtiFUa4Dq2Wqp",
          "name": "Cartracker Alerts"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "WX_1Ky-8veuMLlqX_iRXK",
          "mode": "list",
          "cachedResultUrl": "/workflow/WX_1Ky-8veuMLlqX_iRXK",
          "cachedResultName": "Parse Detail Pages"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        432,
        832
      ],
      "id": "29efe20b-ac77-42b6-8121-17d3eac18ead",
      "name": "Call 'Parse Detail Pages'"
    },
    {
      "parameters": {
        "jsCode": "return $items(\"Get Batch to Process\");"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -912,
        1048
      ],
      "id": "60cf06d0-af57-4f80-857a-10a42f7c7888",
      "name": "Get Batch"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -2480,
        1240
      ],
      "id": "9b717d83-c95c-44c5-91a5-9538651d12ec",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -688,
        736
      ],
      "id": "5243cdfd-9488-4e71-b261-55cb8976d421",
      "name": "Store Total (Aggregate)"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE runs\nSET total_count = {{ $json.data.length }}\nWHERE run_id = '{{ $('Create Run Id').first().json.run_id }}'::uuid;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -464,
        736
      ],
      "id": "d15b24f6-5030-4a3d-ad77-3a974925e516",
      "name": "Store Total Count",
      "credentials": {
        "postgres": {
          "id": "l8Ecbn62FzXCDkF9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Fire a progress update only at 10% milestones.\n// $runIndex increments each time this node executes (0-based).\nconst total = $('Get Batch').all().length;\nconst stepSize = Math.max(1, Math.round(total * 0.1));\nconst iteration = $runIndex + 1; // 1-based\nconst runId = $('Create Run Id').first().json.run_id;\n\nif (iteration % stepSize === 0) {\n  return [{ json: { run_id: runId, progress_count: iteration } }];\n}\nreturn [];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        1240
      ],
      "id": "ab39563d-9f1a-496b-9272-e36245184884",
      "name": "Check Milestone"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE runs\nSET progress_count = {{ $json.progress_count }}\nWHERE run_id = '{{ $json.run_id }}'::uuid;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -16,
        1240
      ],
      "id": "ea3032ed-b8f0-4ba9-8885-1a7667e38515",
      "name": "Update Progress",
      "credentials": {
        "postgres": {
          "id": "l8Ecbn62FzXCDkF9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "batch-empty-check",
              "leftValue": "={{ $json.listing_id }}",
              "rightValue": {},
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1136,
        1144
      ],
      "id": "c8a1b2d3-e4f5-6789-abcd-ef0123456789",
      "name": "If Batch Empty?"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE runs\nSET status = 'skipped', finished_at = now()\nWHERE run_id = '{{ $('Create Run Id').first().json.run_id }}'::uuid;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -912,
        1480
      ],
      "id": "d9e0f1a2-b3c4-5678-9abc-def012345678",
      "name": "Mark Run Skipped",
      "credentials": {
        "postgres": {
          "id": "l8Ecbn62FzXCDkF9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE detail_scrape_claims dsc\nSET status = CASE \n  WHEN EXISTS (\n    SELECT 1 FROM raw_artifacts ra\n    WHERE ra.listing_id = dsc.listing_id::uuid\n      AND ra.artifact_type = 'detail_page'\n      AND ra.run_id = dsc.claimed_by::uuid\n      AND ra.http_status = 200\n  ) THEN 'completed'\n  WHEN EXISTS (\n    SELECT 1 FROM raw_artifacts ra\n    WHERE ra.listing_id = dsc.listing_id::uuid\n      AND ra.artifact_type = 'detail_page'\n      AND ra.run_id = dsc.claimed_by::uuid\n  ) THEN 'failed'\n  ELSE 'orphaned'\nEND\nWHERE claimed_by = '{{ $('Create Run Id').first().json.run_id }}'\n  AND status = 'running';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        656,
        832
      ],
      "id": "a1b2c3d4-e5f6-7890-abcd-release00001",
      "name": "Release Claims",
      "credentials": {
        "postgres": {
          "id": "l8Ecbn62FzXCDkF9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE runs\nSET status = 'terminated', finished_at = now()\nWHERE run_id = '{{ $('Create Run Id').first().json.run_id }}'::uuid;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1136,
        1672
      ],
      "id": "d92c022a-9d34-4930-aefb-99768ce5e4ff",
      "name": "Mark Run terminated",
      "credentials": {
        "postgres": {
          "id": "l8Ecbn62FzXCDkF9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "WX_1Ky-8veuMLlqX_iRXK",
          "mode": "list",
          "cachedResultUrl": "/workflow/WX_1Ky-8veuMLlqX_iRXK",
          "cachedResultName": "Parse Detail Pages"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        656,
        640
      ],
      "id": "9bd1d4bb-551c-4dfe-add2-348615936607",
      "name": "Call 'Parse Detail Pages'1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE detail_scrape_claims dsc\nSET status = CASE \n  WHEN EXISTS (\n    SELECT 1 FROM raw_artifacts ra\n    WHERE ra.listing_id = dsc.listing_id::uuid\n      AND ra.artifact_type = 'detail_page'\n      AND ra.run_id = dsc.claimed_by::uuid\n      AND ra.http_status = 200\n  ) THEN 'completed'\n  WHEN EXISTS (\n    SELECT 1 FROM raw_artifacts ra\n    WHERE ra.listing_id = dsc.listing_id::uuid\n      AND ra.artifact_type = 'detail_page'\n      AND ra.run_id = dsc.claimed_by::uuid\n  ) THEN 'failed'\n  ELSE 'orphaned'\nEND\nWHERE claimed_by = '{{ $('Create Run Id').first().json.run_id }}'\n  AND status = 'running';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        880,
        640
      ],
      "id": "76da84b2-9f8f-49c1-a606-9c6e6e116842",
      "name": "Release Claims1",
      "credentials": {
        "postgres": {
          "id": "l8Ecbn62FzXCDkF9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "QrtISF4STFcsa2bug83s4",
          "mode": "list",
          "cachedResultUrl": "/workflow/QrtISF4STFcsa2bug83s4",
          "cachedResultName": "Check Deploy Intent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "parent_workflow_name": "={{ $workflow.name }}",
            "parent_workflow_id": "={{ $execution.id }}",
            "parent_workflow_timestamp": "={{ $now }}",
            "parent_workflow_status": "started"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "parent_workflow_name",
              "displayName": "parent_workflow_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "parent_workflow_id",
              "displayName": "parent_workflow_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "parent_workflow_timestamp",
              "displayName": "parent_workflow_timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "parent_workflow_status",
              "displayName": "parent_workflow_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -2256,
        1240
      ],
      "id": "2fd314f2-6639-4da4-a409-dbc21e7510bd",
      "name": "Call 'Check Deploy Intent'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "QaFnwxOQopzO-wVjL64dl",
          "mode": "list",
          "cachedResultUrl": "/workflow/QaFnwxOQopzO-wVjL64dl",
          "cachedResultName": "Update n8n Runs Table"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "parent_workflow_id": "={{ $execution.id }}",
            "parent_workflow_name": "={{ $workflow.name }}",
            "parent_workflow_timestamp": "={{ $now }}",
            "parent_workflow_status": "failed"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "parent_workflow_name",
              "displayName": "parent_workflow_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "parent_workflow_id",
              "displayName": "parent_workflow_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "parent_workflow_timestamp",
              "displayName": "parent_workflow_timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "parent_workflow_status",
              "displayName": "parent_workflow_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -912,
        1672
      ],
      "id": "d6e9da75-54eb-41b0-9c07-95dc1ddabaae",
      "name": "Call 'Update n8n Runs Table'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "QaFnwxOQopzO-wVjL64dl",
          "mode": "list",
          "cachedResultUrl": "/workflow/QaFnwxOQopzO-wVjL64dl",
          "cachedResultName": "Update n8n Runs Table"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "parent_workflow_id": "={{ $execution.id }}",
            "parent_workflow_timestamp": "={{ $now }}",
            "parent_workflow_name": "={{ $workflow.name }}",
            "parent_workflow_status": "completed"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "parent_workflow_name",
              "displayName": "parent_workflow_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "parent_workflow_id",
              "displayName": "parent_workflow_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "parent_workflow_timestamp",
              "displayName": "parent_workflow_timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "parent_workflow_status",
              "displayName": "parent_workflow_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -688,
        1480
      ],
      "id": "b83178bd-2b26-48b0-a686-be948e5a9bcc",
      "name": "Call 'Update n8n Runs Table'1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "QaFnwxOQopzO-wVjL64dl",
          "mode": "list",
          "cachedResultUrl": "/workflow/QaFnwxOQopzO-wVjL64dl",
          "cachedResultName": "Update n8n Runs Table"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "parent_workflow_id": "={{ $execution.id }}",
            "parent_workflow_timestamp": "={{ $now }}",
            "parent_workflow_name": "={{ $workflow.name }}",
            "parent_workflow_status": "completed"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "parent_workflow_name",
              "displayName": "parent_workflow_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "parent_workflow_id",
              "displayName": "parent_workflow_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "parent_workflow_timestamp",
              "displayName": "parent_workflow_timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "parent_workflow_status",
              "displayName": "parent_workflow_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1104,
        640
      ],
      "id": "5aced572-89b6-48bd-893a-01541f4e2a0e",
      "name": "Call 'Update n8n Runs Table'2"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "QaFnwxOQopzO-wVjL64dl",
          "mode": "list",
          "cachedResultUrl": "/workflow/QaFnwxOQopzO-wVjL64dl",
          "cachedResultName": "Update n8n Runs Table"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "parent_workflow_id": "={{ $execution.id }}",
            "parent_workflow_timestamp": "={{ $now }}",
            "parent_workflow_name": "={{ $workflow.name }}",
            "parent_workflow_status": "completed"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "parent_workflow_name",
              "displayName": "parent_workflow_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "parent_workflow_id",
              "displayName": "parent_workflow_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "parent_workflow_timestamp",
              "displayName": "parent_workflow_timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "parent_workflow_status",
              "displayName": "parent_workflow_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        880,
        832
      ],
      "id": "b25dfad2-199f-4342-adca-dec2f3837e8d",
      "name": "Call 'Update n8n Runs Table'3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1c979a3b-731d-4183-abe4-71f87c7faabe",
              "leftValue": "={{ $json.can_deploy }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2032,
        1240
      ],
      "id": "38c6f3ec-486a-40c1-9489-a239ea0c00a6",
      "name": "Can Deploy?"
    }
  ],
  "pinData": {
    "Schedule Trigger": [
      {
        "json": {
          "timestamp": "2026-03-27T11:45:28.003-04:00",
          "Readable date": "March 27th 2026, 11:45:28 am",
          "Readable time": "11:45:28 am",
          "Day of week": "Friday",
          "Year": "2026",
          "Month": "March",
          "Day of month": "27",
          "Hour": "11",
          "Minute": "45",
          "Second": "28",
          "Timezone": "America/New_York (UTC-04:00)"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Get Batch to Process": {
      "main": [
        [
          {
            "node": "If Batch Empty?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark Run terminated",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check Milestone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Run Id": {
      "main": [
        [
          {
            "node": "Insert Run Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Mark Run Done",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Release Claims": {
      "main": [
        [
          {
            "node": "Call 'Update n8n Runs Table'3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Run Row": {
      "main": [
        [
          {
            "node": "Get Batch to Process",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Run Done": {
      "main": [
        [
          {
            "node": "Check Error Rate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Error Rate": {
      "main": [
        [
          {
            "node": "Error Rate High?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Rate High?": {
      "main": [
        [
          {
            "node": "Send Error Rate Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'Parse Detail Pages'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Error Rate Alert": {
      "main": [
        [
          {
            "node": "Call 'Parse Detail Pages'1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Batch": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          },
          {
            "node": "Store Total (Aggregate)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Call 'Check Deploy Intent'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Total (Aggregate)": {
      "main": [
        [
          {
            "node": "Store Total Count",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Milestone": {
      "main": [
        [
          {
            "node": "Update Progress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Batch Empty?": {
      "main": [
        [
          {
            "node": "Get Batch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark Run Skipped",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Parse Detail Pages'": {
      "main": [
        [
          {
            "node": "Release Claims",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Parse Detail Pages'1": {
      "main": [
        [
          {
            "node": "Release Claims1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Check Deploy Intent'": {
      "main": [
        [
          {
            "node": "Can Deploy?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Run terminated": {
      "main": [
        [
          {
            "node": "Call 'Update n8n Runs Table'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Run Skipped": {
      "main": [
        [
          {
            "node": "Call 'Update n8n Runs Table'1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Release Claims1": {
      "main": [
        [
          {
            "node": "Call 'Update n8n Runs Table'2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Can Deploy?": {
      "main": [
        [
          {
            "node": "Create Run Id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "rJfFKS2DGRAn_IPJR1xTc"
  },
  "versionId": "0cf110f7-84c8-4366-a954-169da4af95ac",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6819133d7d7a8c3c6c728508316cdaac6420c5bbe2de9a1439bbb952efe61179"
  },
  "id": "z7KfENdOTYsM3rctgQ4Kv",
  "tags": []
}