n8n/workflows/Scrape Listings.json
{
  "name": "Scrape Listings",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        352,
        1440
      ],
      "id": "c04345c4-8fe9-43bc-9b1f-152825dcd5d2",
      "name": "Schedule Trigger (30 min)"
    },
    {
      "parameters": {
        "jsCode": "function uuidv4() {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, c => {\n    const r = Math.random() * 16 | 0;\n    const v = c === 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n  });\n}\n\nreturn [{ run_id: uuidv4() }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        1440
      ],
      "id": "00bc2a68-5ac1-4fa8-b60c-70cb4e20e1db",
      "name": "Create Run ID"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO runs (run_id, status, trigger)\nVALUES ('{{$json.run_id}}'::uuid, 'requested', 'search scrape');",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1056,
        1440
      ],
      "id": "e566be85-1ae7-40fe-b3cb-14b21e71917d",
      "name": "Insert Run Row",
      "credentials": {
        "postgres": {
          "id": "l8Ecbn62FzXCDkF9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://cartracker-scraper:8000/search_configs/advance_rotation",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "min_idle_minutes",
              "value": "1439"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1280,
        1440
      ],
      "id": "d87e8160-0875-441f-9613-c5ef44b6d1a9",
      "name": "Advance Rotation (Slot)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "slot-check",
              "leftValue": "={{ $json.configs.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1504,
        1440
      ],
      "id": "check-configs-exist",
      "name": "Has Configs?"
    },
    {
      "parameters": {
        "jsCode": "// Explode configs × scopes into individual scrape jobs\nconst run_id = $('Create Run ID').first().json.run_id;\nconst slot = $input.first().json.slot;\nconst configs = $input.first().json.configs;\n\nconst jobs = [];\nfor (const config of configs) {\n  for (const scope of config.scopes || ['local', 'national']) {\n    jobs.push({\n      json: {\n        run_id,\n        slot,\n        search_key: config.search_key,\n        scope,\n        params: config.params\n      }\n    });\n  }\n}\n\nreturn jobs;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1728,
        1440
      ],
      "id": "explode-configs",
      "name": "Explode Configs × Scopes"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1984,
        1376
      ],
      "id": "223a1601-617a-4c8c-aeec-fb54d54b8093",
      "name": "Loop Over Jobs"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://cartracker-scraper:8000/scrape_results",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "run_id",
              "value": "={{ $json.run_id }}"
            },
            {
              "name": "search_key",
              "value": "={{ $json.search_key }}"
            },
            {
              "name": "scope",
              "value": "={{ $json.scope }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ params: $json.params }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2192,
        1456
      ],
      "id": "518fcf58-3bc9-430e-9ac8-e88d68477a63",
      "name": "Queue Scrape Job"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE runs\nSET status = 'skipped', finished_at = now(), notes = 'No configs due for rotation'\nWHERE run_id = '{{ $('Create Run ID').item.json.run_id }}'::uuid;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1728,
        1632
      ],
      "id": "mark-run-skipped",
      "name": "Mark Run Skipped",
      "credentials": {
        "postgres": {
          "id": "l8Ecbn62FzXCDkF9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE runs\nSET status = 'running'\nWHERE run_id = '{{ $('Create Run ID').item.json.run_id }}'::uuid;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1728,
        1248
      ],
      "id": "mark-run-running",
      "name": "Mark Run Running",
      "credentials": {
        "postgres": {
          "id": "l8Ecbn62FzXCDkF9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO scrape_jobs (job_id, run_id, search_key, scope, status)\nVALUES (\n  '{{ $json.job_id }}'::uuid,\n  '{{ $('Create Run ID').item.json.run_id }}'::uuid,\n  '{{ $('Loop Over Jobs').item.json.search_key }}',\n  '{{ $('Loop Over Jobs').item.json.scope }}',\n  'queued'\n)\nON CONFLICT DO NOTHING;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2400,
        1440
      ],
      "id": "insert-scrape-job",
      "name": "Insert Scrape Job",
      "credentials": {
        "postgres": {
          "id": "l8Ecbn62FzXCDkF9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "QrtISF4STFcsa2bug83s4",
          "mode": "list",
          "cachedResultUrl": "/workflow/QrtISF4STFcsa2bug83s4",
          "cachedResultName": "Check Deploy Intent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "parent_workflow_name": "={{ $workflow.name }}",
            "parent_workflow_id": "={{ $execution.id }}",
            "parent_workflow_timestamp": "={{ $now }}",
            "parent_workflow_status": "started"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "parent_workflow_name",
              "displayName": "parent_workflow_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "parent_workflow_id",
              "displayName": "parent_workflow_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "parent_workflow_timestamp",
              "displayName": "parent_workflow_timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "parent_workflow_status",
              "displayName": "parent_workflow_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        560,
        1440
      ],
      "id": "a2d2834b-f3c8-443b-bdb0-114f23732034",
      "name": "Call 'Check Deploy Intent'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "QaFnwxOQopzO-wVjL64dl",
          "mode": "list",
          "cachedResultUrl": "/workflow/QaFnwxOQopzO-wVjL64dl",
          "cachedResultName": "Update n8n Runs Table"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "parent_workflow_id": "={{ $execution.id }}",
            "parent_workflow_timestamp": "={{ $now }}",
            "parent_workflow_name": "={{ $workflow.name }}",
            "parent_workflow_status": "completed"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "parent_workflow_name",
              "displayName": "parent_workflow_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "parent_workflow_id",
              "displayName": "parent_workflow_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "parent_workflow_timestamp",
              "displayName": "parent_workflow_timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "parent_workflow_status",
              "displayName": "parent_workflow_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1936,
        1632
      ],
      "id": "c4b4174d-97b9-4e6c-87d0-ffc87c0e374e",
      "name": "Call 'Update n8n Runs Table'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "QaFnwxOQopzO-wVjL64dl",
          "mode": "list",
          "cachedResultUrl": "/workflow/QaFnwxOQopzO-wVjL64dl",
          "cachedResultName": "Update n8n Runs Table"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "parent_workflow_id": "={{ $execution.id }}",
            "parent_workflow_timestamp": "={{ $now }}",
            "parent_workflow_name": "={{ $workflow.name }}",
            "parent_workflow_status": "completed"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "parent_workflow_name",
              "displayName": "parent_workflow_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "parent_workflow_id",
              "displayName": "parent_workflow_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "parent_workflow_timestamp",
              "displayName": "parent_workflow_timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "parent_workflow_status",
              "displayName": "parent_workflow_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2192,
        1280
      ],
      "id": "0ffcfab0-e673-4d35-ad6b-c2128093759e",
      "name": "Call 'Update n8n Runs Table'1"
    }
  ],
  "pinData": {
    "Schedule Trigger (30 min)": [
      {
        "json": {
          "timestamp": "2026-03-23T17:00:29.008-04:00",
          "Readable date": "March 23rd 2026, 5:00:29 pm",
          "Readable time": "5:00:29 pm",
          "Day of week": "Monday",
          "Year": "2026",
          "Month": "March",
          "Day of month": "23",
          "Hour": "17",
          "Minute": "00",
          "Second": "29",
          "Timezone": "America/New_York (UTC-04:00)"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Schedule Trigger (30 min)": {
      "main": [
        [
          {
            "node": "Call 'Check Deploy Intent'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Run ID": {
      "main": [
        [
          {
            "node": "Insert Run Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Run Row": {
      "main": [
        [
          {
            "node": "Advance Rotation (Slot)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Advance Rotation (Slot)": {
      "main": [
        [
          {
            "node": "Has Configs?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Configs?": {
      "main": [
        [
          {
            "node": "Mark Run Running",
            "type": "main",
            "index": 0
          },
          {
            "node": "Explode Configs × Scopes",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark Run Skipped",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Run Running": {
      "main": [
        []
      ]
    },
    "Explode Configs × Scopes": {
      "main": [
        [
          {
            "node": "Loop Over Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Jobs": {
      "main": [
        [
          {
            "node": "Call 'Update n8n Runs Table'1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Queue Scrape Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Queue Scrape Job": {
      "main": [
        [
          {
            "node": "Insert Scrape Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Scrape Job": {
      "main": [
        [
          {
            "node": "Loop Over Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Check Deploy Intent'": {
      "main": [
        [
          {
            "node": "Create Run ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Run Skipped": {
      "main": [
        [
          {
            "node": "Call 'Update n8n Runs Table'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "620b597d-c1fb-4fec-8088-b69f4beca530",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6819133d7d7a8c3c6c728508316cdaac6420c5bbe2de9a1439bbb952efe61179"
  },
  "id": "um21hiM3zFWbdKS44-iMk",
  "tags": []
}