n8n/workflows/Scrape Listings.json
{
  "name": "Scrape Listings",
  "nodes": [
    {
      "parameters": {
        "jsCode": "function uuidv4() {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, c => {\n    const r = Math.random() * 16 | 0;\n    const v = c === 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n  });\n}\n\nreturn [{ run_id: uuidv4() }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        736,
        1424
      ],
      "id": "00bc2a68-5ac1-4fa8-b60c-70cb4e20e1db",
      "name": "Create Run ID"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO runs (run_id, status, trigger)\nVALUES ('{{$json.run_id}}'::uuid, 'running', 'search scrape');",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        960,
        1424
      ],
      "id": "e566be85-1ae7-40fe-b3cb-14b21e71917d",
      "name": "Insert Run Row",
      "credentials": {
        "postgres": {
          "id": "l8Ecbn62FzXCDkF9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT search_key, params\nFROM search_configs\nWHERE enabled = true\nORDER BY search_key;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1184,
        1424
      ],
      "id": "d87e8160-0875-441f-9613-c5ef44b6d1a9",
      "name": "Get Config",
      "credentials": {
        "postgres": {
          "id": "l8Ecbn62FzXCDkF9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1408,
        1424
      ],
      "id": "223a1601-617a-4c8c-aeec-fb54d54b8093",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://cartracker-scraper:8000/scrape_results",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "run_id",
              "value": "={{ $('Create Run ID').item.json.run_id }}"
            },
            {
              "name": "search_key",
              "value": "={{ $('Get Config').item.json.search_key }}"
            },
            {
              "name": "scope",
              "value": "local"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "params",
              "value": "={{ $json.params }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1632,
        1424
      ],
      "id": "bbd18bbf-3e2c-495f-99b7-75907b8a13ba",
      "name": "Local Search"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO scrape_jobs (job_id, run_id, search_key, scope, status)\nVALUES (\n  '{{ $json.job_id }}'::uuid,\n  '{{ $('Create Run ID').item.json.run_id }}'::uuid,\n  '{{ $('Get Config').item.json.search_key }}',\n  'local',\n  'queued'\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1856,
        1424
      ],
      "id": "a1b2c3d4-1111-4aaa-bbbb-000000000001",
      "name": "Insert Job Row (Local)",
      "credentials": {
        "postgres": {
          "id": "l8Ecbn62FzXCDkF9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://cartracker-scraper:8000/scrape_results",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "run_id",
              "value": "={{ $('Create Run ID').item.json.run_id }}"
            },
            {
              "name": "search_key",
              "value": "={{ $('Get Config').item.json.search_key }}"
            },
            {
              "name": "scope",
              "value": "national"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "params",
              "value": "={{ $('Loop Over Items').item.json.params }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2080,
        1424
      ],
      "id": "518fcf58-3bc9-430e-9ac8-e88d68477a63",
      "name": "National Search"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO scrape_jobs (job_id, run_id, search_key, scope, status)\nVALUES (\n  '{{ $json.job_id }}'::uuid,\n  '{{ $('Create Run ID').item.json.run_id }}'::uuid,\n  '{{ $('Get Config').item.json.search_key }}',\n  'national',\n  'queued'\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2304,
        1424
      ],
      "id": "a1b2c3d4-2222-4aaa-bbbb-000000000002",
      "name": "Insert Job Row (National)",
      "credentials": {
        "postgres": {
          "id": "l8Ecbn62FzXCDkF9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        512,
        1424
      ],
      "id": "c04345c4-8fe9-43bc-9b1f-152825dcd5d2",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE search_configs\nSET params = jsonb_set(\n  params,\n  '{sort_order}',\n  to_jsonb(\n    COALESCE(\n      params->'sort_rotation'->>(\n        (SELECT i FROM generate_series(0, jsonb_array_length(params->'sort_rotation') - 1) AS i\n         WHERE params->'sort_rotation'->>i = params->>'sort_order'\n         LIMIT 1\n        ) + 1\n      ),\n      params->'sort_rotation'->>0\n    )\n  )\n)\nWHERE enabled = true\n  AND params ? 'sort_rotation'\n  AND jsonb_array_length(params->'sort_rotation') > 0;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1840,
        1200
      ],
      "id": "75d5a3f7-7faf-464d-b960-02d1764f7524",
      "name": "Rotate Sort Order",
      "credentials": {
        "postgres": {
          "id": "l8Ecbn62FzXCDkF9",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Create Run ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Run ID": {
      "main": [
        [
          {
            "node": "Insert Run Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Run Row": {
      "main": [
        [
          {
            "node": "Get Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Config": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Rotate Sort Order",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Local Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Local Search": {
      "main": [
        [
          {
            "node": "Insert Job Row (Local)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Job Row (Local)": {
      "main": [
        [
          {
            "node": "National Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "National Search": {
      "main": [
        [
          {
            "node": "Insert Job Row (National)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Job Row (National)": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "7fa53273-697d-4ed9-97b4-7ea9e058760c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6819133d7d7a8c3c6c728508316cdaac6420c5bbe2de9a1439bbb952efe61179"
  },
  "id": "um21hiM3zFWbdKS44-iMk",
  "tags": []
}