n8n/workflows/Scrape Listings.json
{
  "name": "Scrape Listings",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        400,
        1400
      ],
      "id": "c04345c4-8fe9-43bc-9b1f-152825dcd5d2",
      "name": "Schedule Trigger (4h)"
    },
    {
      "parameters": {
        "jsCode": "function uuidv4() {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, c => {\n    const r = Math.random() * 16 | 0;\n    const v = c === 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n  });\n}\n\nreturn [{ run_id: uuidv4() }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        620,
        1400
      ],
      "id": "00bc2a68-5ac1-4fa8-b60c-70cb4e20e1db",
      "name": "Create Run ID"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO runs (run_id, status, trigger)\nVALUES ('{{$json.run_id}}'::uuid, 'running', 'search scrape');",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        840,
        1400
      ],
      "id": "e566be85-1ae7-40fe-b3cb-14b21e71917d",
      "name": "Insert Run Row",
      "credentials": {
        "postgres": {
          "id": "l8Ecbn62FzXCDkF9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://cartracker-scraper:8000/search_configs/advance_rotation",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "min_idle_minutes",
              "value": "239"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1060,
        1400
      ],
      "id": "d87e8160-0875-441f-9613-c5ef44b6d1a9",
      "name": "Advance Rotation (Slot)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "slot-check",
              "leftValue": "={{ $json.configs.length }}",
              "rightValue": "0",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1280,
        1400
      ],
      "id": "check-configs-exist",
      "name": "Has Configs?"
    },
    {
      "parameters": {
        "jsCode": "// Explode configs × scopes into individual scrape jobs\nconst run_id = $('Create Run ID').first().json.run_id;\nconst slot = $input.first().json.slot;\nconst configs = $input.first().json.configs;\n\nconst jobs = [];\nfor (const config of configs) {\n  for (const scope of config.scopes || ['local', 'national']) {\n    jobs.push({\n      json: {\n        run_id,\n        slot,\n        search_key: config.search_key,\n        scope,\n        params: config.params\n      }\n    });\n  }\n}\n\nreturn jobs;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1500,
        1340
      ],
      "id": "explode-configs",
      "name": "Explode Configs × Scopes"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1720,
        1340
      ],
      "id": "223a1601-617a-4c8c-aeec-fb54d54b8093",
      "name": "Loop Over Jobs"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://cartracker-scraper:8000/scrape_results",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "run_id",
              "value": "={{ $json.run_id }}"
            },
            {
              "name": "search_key",
              "value": "={{ $json.search_key }}"
            },
            {
              "name": "scope",
              "value": "={{ $json.scope }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "params",
              "value": "={{ $json.params }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1940,
        1420
      ],
      "id": "518fcf58-3bc9-430e-9ac8-e88d68477a63",
      "name": "Queue Scrape Job"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE runs\nSET status = 'success', finished_at = now()\nWHERE run_id = '{{ $('Create Run ID').item.json.run_id }}'::uuid;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1940,
        1200
      ],
      "id": "8972a2b7-da56-473c-9061-5e116897bc70",
      "name": "Mark Run Done",
      "credentials": {
        "postgres": {
          "id": "l8Ecbn62FzXCDkF9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE runs\nSET status = 'skipped', finished_at = now(), notes = 'No configs due for rotation'\nWHERE run_id = '{{ $('Create Run ID').item.json.run_id }}'::uuid;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1500,
        1520
      ],
      "id": "mark-run-skipped",
      "name": "Mark Run Skipped",
      "credentials": {
        "postgres": {
          "id": "l8Ecbn62FzXCDkF9",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger (4h)": {
      "main": [
        [
          {
            "node": "Create Run ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Run ID": {
      "main": [
        [
          {
            "node": "Insert Run Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Run Row": {
      "main": [
        [
          {
            "node": "Advance Rotation (Slot)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Advance Rotation (Slot)": {
      "main": [
        [
          {
            "node": "Has Configs?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Configs?": {
      "main": [
        [
          {
            "node": "Explode Configs × Scopes",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark Run Skipped",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Explode Configs × Scopes": {
      "main": [
        [
          {
            "node": "Loop Over Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Jobs": {
      "main": [
        [
          {
            "node": "Mark Run Done",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Queue Scrape Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Queue Scrape Job": {
      "main": [
        [
          {
            "node": "Loop Over Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "plan26-discovery-mode",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6819133d7d7a8c3c6c728508316cdaac6420c5bbe2de9a1439bbb952efe61179"
  },
  "id": "um21hiM3zFWbdKS44-iMk",
  "tags": []
}
