n8n/workflows/Scrape Detail Pages.json
{
  "name": "Scrape Detail Pages",
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH candidates AS (\n  SELECT\n    ovs.vin,\n    ovs.current_listing_url,\n    ovs.listing_id,\n    ovs.tier1_seller_customer_id AS seller_customer_id,\n    ovs.listing_state,\n\n    ovs.is_price_stale,\n    ovs.is_full_details_stale,\n    ovs.stale_reason,\n\n    ovs.price_observed_at,\n    ovs.tier1_observed_at,\n    ovs.tier1_age_hours,\n\n    -- One-per-dealer (fallback to VIN if dealer id missing)\n    ROW_NUMBER() OVER (\n      PARTITION BY COALESCE(ovs.tier1_seller_customer_id::text, ovs.vin)\n      ORDER BY\n        CASE WHEN ovs.is_full_details_stale THEN 0 ELSE 1 END,\n        COALESCE(ovs.price_observed_at, 'epoch'::timestamptz) ASC,\n        COALESCE(ovs.tier1_observed_at, 'epoch'::timestamptz) ASC\n    ) AS dealer_row_num\n\n  FROM ops.ops_vehicle_staleness ovs\n  WHERE\n    (ovs.is_price_stale OR ovs.is_full_details_stale)\n    AND COALESCE(ovs.listing_state, 'active') = 'active'\n    AND ovs.current_listing_url IS NOT NULL\n),\n\n-- Pool 1: one per dealer (existing logic)\ndealer_picks AS (\n  SELECT vin, current_listing_url, seller_customer_id, stale_reason,\n         is_price_stale, is_full_details_stale, price_observed_at,\n         tier1_observed_at, listing_id\n  FROM candidates\n  WHERE dealer_row_num = 1\n),\n\n-- Pool 2: force-grab vehicles > 36h stale that dealer_picks missed\nforce_stale AS (\n  SELECT vin, current_listing_url, seller_customer_id,\n         'force_stale_36h' AS stale_reason,\n         is_price_stale, is_full_details_stale, price_observed_at,\n         tier1_observed_at, listing_id\n  FROM candidates\n  WHERE tier1_age_hours > 36\n    AND dealer_row_num > 1\n),\n\n-- Pool 3: grab unmapped carousel hints, limited to the number of detail scrapes we're running\nunmapped AS (\n\tSELECT\n\t\tvin,\n\t\tcurrent_listing_url,\n\t\tseller_customer_id,\n\t\tstale_reason,\n\t\tis_price_stale,\n\t\tis_full_details_stale,\n\t\tprice_observed_at,\n\t\ttier1_observed_at,\n\t\tlisting_id\n\tFROM (\n\t\tSELECT \n\t\t\tlisting_id as vin,\n\t\t\tCONCAT('https://www.cars.com/vehicledetail/', listing_id, '/') as current_listing_url,\n\t\t\tnull as seller_customer_id,\n\t\t\t'unmapped_carousel' as stale_reason,\n\t\t\ttrue as is_price_stale,\n\t\t\ttrue as is_full_details_stale,\n\t\t\tobserved_at as price_observed_at,\n\t\t\tnull::timestamptz as tier1_observed_at,\n\t\t\tlisting_id,\n\t\t\tROW_NUMBER() OVER (PARTITION BY listing_id ORDER BY observed_at DESC) as listing_row\n\t\tFROM analytics.int_carousel_price_events_unmapped\n ) WHERE listing_row = 1\n   ORDER BY price_observed_at desc \n   LIMIT (SELECT (SELECT COUNT(*) FROM force_stale)+(SELECT COUNT(*) FROM dealer_picks))\n),\n\ncombined AS (\n  SELECT * FROM dealer_picks\n  UNION ALL\n  SELECT * FROM force_stale\n  UNION ALL\n  SELECT vin, current_listing_url, seller_customer_id, stale_reason, is_price_stale, is_full_details_stale, null, null, listing_id FROM unmapped\n)\nSELECT DISTINCT ON (vin) *\nFROM combined\nORDER BY vin,\n  CASE WHEN is_full_details_stale THEN 0 ELSE 1 END,\n  COALESCE(price_observed_at, 'epoch'::timestamptz) ASC;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2128,
        1136
      ],
      "id": "bbcb22dc-76e0-4258-b009-b7d4cf63a269",
      "name": "Get Batch to Process",
      "credentials": {
        "postgres": {
          "id": "l8Ecbn62FzXCDkF9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1008,
        1376
      ],
      "id": "a1eb499b-6143-4e9a-a17d-de5599d02ffb",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://cartracker-scraper:8000/scrape_detail",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "run_id",
              "value": "={{ $('Create Run Id').item.json.run_id }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"listing_id\": \"{{ $json.listing_id }}\",\n  \"vin\": \"{{ $json.vin }}\",\n  \"url\": \"{{ $json.current_listing_url}}\",\n  \"mode\": \"fetch\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -784,
        1376
      ],
      "id": "8dec758f-b5e3-438e-a3af-6ee445611a56",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "function uuidv4() {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, c => {\n    const r = Math.random() * 16 | 0;\n    const v = c === 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n  });\n}\n\nreturn [{ run_id: uuidv4() }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1680,
        1136
      ],
      "id": "333d97ca-20ed-4c13-90e4-c5f04fa8ca1d",
      "name": "Create Run Id"
    },
    {
      "parameters": {
        "jsCode": "const run_id = $('Create Run Id').first().json.run_id;\nconst artifacts = $input.first().json.artifacts;\n\nreturn artifacts.map(a => ({\n  json: {\n    ...a,\n    run_id\n  }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -560,
        1552
      ],
      "id": "cfcb9d8c-1297-408c-a63a-79443ec69e29",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH data AS (\n  SELECT *\n  FROM jsonb_to_recordset('{{ JSON.stringify($json.data).replaceAll(\"'\",\"''\") }}'::jsonb)\n    AS x(\n      source text,\n      artifact_type text,\n      search_key text,\n      search_scope text,\n      page_num int,\n      url text,\n      fetched_at timestamptz,\n      http_status int,\n      content_type text,\n      content_bytes int,\n      sha256 text,\n      filepath text,\n      error text,\n      run_id uuid\n    )\n)\nINSERT INTO raw_artifacts (\n  run_id,\n  source,\n  artifact_type,\n  search_key,\n  search_scope,\n  page_num,\n  url,\n  fetched_at,\n  http_status,\n  content_type,\n  content_bytes,\n  sha256,\n  filepath,\n  error\n)\nSELECT\n  d.run_id,\n  d.source,\n  d.artifact_type,\n  d.search_key,\n  d.search_scope,\n  d.page_num,\n  d.url,\n  d.fetched_at,\n  d.http_status,\n  d.content_type,\n  d.content_bytes,\n  d.sha256,\n  d.filepath,\n  d.error\nFROM data d;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -336,
        1088
      ],
      "id": "0185c73b-7b86-45a3-b8aa-6d91567501b2",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "l8Ecbn62FzXCDkF9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 250,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -784,
        1024
      ],
      "id": "b14a087a-59d6-444a-b8a9-c080f7efce28",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO runs (run_id, status, trigger)\nVALUES ('{{ $json.run_id }}'::uuid, 'running', 'detail scrape');",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1456,
        1136
      ],
      "id": "4bbc7faa-b4f0-42f9-8214-b3862103a3a6",
      "name": "Insert Run Row",
      "credentials": {
        "postgres": {
          "id": "l8Ecbn62FzXCDkF9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE runs\nSET status = 'success', finished_at = now()\nWHERE run_id = '{{ $('Create Run Id').item.json.run_id }}'::uuid;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -560,
        832
      ],
      "id": "3dd28ac4-b9f7-4261-868d-8138490f9739",
      "name": "Mark Run Done",
      "credentials": {
        "postgres": {
          "id": "l8Ecbn62FzXCDkF9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -560,
        1024
      ],
      "id": "a2f35491-2012-416b-a6ae-8d27a0ea32f0",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  COUNT(*) AS total,\n  COUNT(*) FILTER (WHERE http_status IS NULL OR http_status >= 400) AS errors,\n  ROUND(100.0 * COUNT(*) FILTER (WHERE http_status IS NULL OR http_status >= 400) / NULLIF(COUNT(*), 0), 1) AS error_pct\nFROM raw_artifacts\nWHERE run_id = '{{ $('Create Run Id').item.json.run_id }}'::uuid\n  AND artifact_type = 'detail_page';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -336,
        832
      ],
      "id": "c3600aad-c3ae-4c52-96f3-906b41cee02b",
      "name": "Check Error Rate",
      "credentials": {
        "postgres": {
          "id": "l8Ecbn62FzXCDkF9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "error-rate-check",
              "leftValue": "={{ $json.error_pct }}",
              "rightValue": 2.5,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -112,
        832
      ],
      "id": "0a3c3cbd-88c3-46da-b8d9-1c9e1f1a9d5c",
      "name": "Error Rate High?"
    },
    {
      "parameters": {
        "chatId": "774819707",
        "text": "=⚠️ <b>Detail Scrape Error Rate</b>\n\n<b>Error rate:</b> {{ $json.error_pct }}% ({{ $json.errors }}/{{ $json.total }} pages failed)\n<b>Run:</b> {{ $('Create Run Id').item.json.run_id }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        112,
        752
      ],
      "id": "96856eef-9bbc-4071-a6d6-3379f609f841",
      "name": "Send Error Rate Alert",
      "webhookId": "4a9b227a-7727-44d0-becc-c1e2dc80b6fd",
      "credentials": {
        "telegramApi": {
          "id": "qoqqtiFUa4Dq2Wqp",
          "name": "Cartracker Alerts"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "WX_1Ky-8veuMLlqX_iRXK",
          "mode": "list",
          "cachedResultUrl": "/workflow/WX_1Ky-8veuMLlqX_iRXK",
          "cachedResultName": "Parse Detail Pages"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        304,
        832
      ],
      "id": "29efe20b-ac77-42b6-8121-17d3eac18ead",
      "name": "Call 'Parse Detail Pages'"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $items(\"Get Batch to Process\").length }}",
                    "rightValue": 150,
                    "operator": {
                      "type": "number",
                      "operation": "gte"
                    },
                    "id": "c37e1a96-bdda-417f-8d4a-f4ae1c9c5dd2"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Continue"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b1f462d7-c5a6-4988-a5f1-228942a20b64",
                    "leftValue": "={{ $items(\"Get Batch to Process\").length }}",
                    "rightValue": 200,
                    "operator": {
                      "type": "number",
                      "operation": "lt"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "End"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -1904,
        1136
      ],
      "id": "a28c30ae-2158-4d2a-8036-dad10180d14f",
      "name": "Switch"
    },
    {
      "parameters": {
        "jsCode": "return $items(\"Get Batch to Process\");"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1232,
        1136
      ],
      "id": "60cf06d0-af57-4f80-857a-10a42f7c7888",
      "name": "Get Batch"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -2800,
        1264
      ],
      "id": "9b717d83-c95c-44c5-91a5-9538651d12ec",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "25293cc0-6965-4151-be35-c7993d59033e",
              "leftValue": "={{ $json.running_scrapes }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            },
            {
              "id": "d4e5f6a7-b8c9-4d0e-1f2a-b3c4d5e6f7a8",
              "leftValue": "={{ $json.unprocessed_srp_artifacts }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2352,
        1184
      ],
      "id": "784cd0e3-5bd4-4820-9f1d-74f58982409f",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  (SELECT COUNT(DISTINCT run_id)\n   FROM runs\n   WHERE trigger IN ('search scrape', 'detail scrape')\n     AND status = 'running') AS running_scrapes,\n  (SELECT COUNT(*)\n   FROM raw_artifacts ra\n   WHERE ra.artifact_type = 'results_page'\n     AND ra.fetched_at > now() - interval '45 minutes'\n     AND ra.http_status IS NOT NULL\n     AND NOT EXISTS (\n       SELECT 1 FROM artifact_processing ap\n       WHERE ap.artifact_id = ra.artifact_id\n         AND ap.status IN ('ok', 'skip', 'failed')\n         AND ap.processor LIKE 'cars_results_page__listings_%'\n     )\n  ) AS unprocessed_srp_artifacts;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2576,
        1264
      ],
      "id": "36105da5-0655-4d43-b334-a6de7c712c11",
      "name": "Execute a SQL query1",
      "credentials": {
        "postgres": {
          "id": "l8Ecbn62FzXCDkF9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -2128,
        1360
      ],
      "id": "b650a665-f81b-4d1b-963f-1fd2839549b0",
      "name": "Wait",
      "webhookId": "28e39f27-4c1e-42bd-8043-8e6608b2557a"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -1008,
        832
      ],
      "id": "5243cdfd-9488-4e71-b261-55cb8976d421",
      "name": "Store Total (Aggregate)"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE runs\nSET total_count = {{ $json.data.length }}\nWHERE run_id = '{{ $('Create Run Id').first().json.run_id }}'::uuid;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -784,
        832
      ],
      "id": "d15b24f6-5030-4a3d-ad77-3a974925e516",
      "name": "Store Total Count",
      "credentials": {
        "postgres": {
          "id": "l8Ecbn62FzXCDkF9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Fire a progress update only at 10% milestones.\n// $runIndex increments each time this node executes (0-based).\nconst total = $('Get Batch').all().length;\nconst stepSize = Math.max(1, Math.round(total * 0.1));\nconst iteration = $runIndex + 1; // 1-based\nconst runId = $('Create Run Id').first().json.run_id;\n\nif (iteration % stepSize === 0) {\n  return [{ json: { run_id: runId, progress_count: iteration } }];\n}\nreturn [];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -560,
        1328
      ],
      "id": "ab39563d-9f1a-496b-9272-e36245184884",
      "name": "Check Milestone"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE runs\nSET progress_count = {{ $json.progress_count }}\nWHERE run_id = '{{ $json.run_id }}'::uuid;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -336,
        1328
      ],
      "id": "ea3032ed-b8f0-4ba9-8885-1a7667e38515",
      "name": "Update Progress",
      "credentials": {
        "postgres": {
          "id": "l8Ecbn62FzXCDkF9",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {
    "Schedule Trigger": [
      {
        "json": {
          "timestamp": "2026-03-19T23:05:28.008-04:00",
          "Readable date": "March 19th 2026, 11:05:28 pm",
          "Readable time": "11:05:28 pm",
          "Day of week": "Thursday",
          "Year": "2026",
          "Month": "March",
          "Day of month": "19",
          "Hour": "23",
          "Minute": "05",
          "Second": "28",
          "Timezone": "America/New_York (UTC-04:00)"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Get Batch to Process": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check Milestone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Run Id": {
      "main": [
        [
          {
            "node": "Insert Run Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Mark Run Done",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Run Row": {
      "main": [
        [
          {
            "node": "Get Batch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Run Done": {
      "main": [
        [
          {
            "node": "Check Error Rate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Error Rate": {
      "main": [
        [
          {
            "node": "Error Rate High?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Rate High?": {
      "main": [
        [
          {
            "node": "Send Error Rate Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'Parse Detail Pages'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Error Rate Alert": {
      "main": [
        [
          {
            "node": "Call 'Parse Detail Pages'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Create Run Id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Batch": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          },
          {
            "node": "Store Total (Aggregate)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Execute a SQL query1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get Batch to Process",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Execute a SQL query1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Total (Aggregate)": {
      "main": [
        [
          {
            "node": "Store Total Count",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Milestone": {
      "main": [
        [
          {
            "node": "Update Progress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "rJfFKS2DGRAn_IPJR1xTc"
  },
  "versionId": "ed76a19b-9cef-4686-a368-59b751aaeb3e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6819133d7d7a8c3c6c728508316cdaac6420c5bbe2de9a1439bbb952efe61179"
  },
  "id": "z7KfENdOTYsM3rctgQ4Kv",
  "tags": []
}