n8n/workflows/Update n8n Runs Table.json
{
  "name": "Update n8n Runs Table",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "parent_workflow_name"
            },
            {
              "name": "parent_workflow_id",
              "type": "number"
            },
            {
              "name": "parent_workflow_timestamp"
            },
            {
              "name": "parent_workflow_status"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "b891e9cb-1673-4e2f-9aaf-8858ff5354fa",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.parent_workflow_status }}",
                    "rightValue": "started",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "ba6b8022-4cb1-4a01-9477-e0ee4ee371b9"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Workflow Started"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "2ac18e5c-660f-4b79-9d74-0659b112c154",
                    "leftValue": "={{ $json.parent_workflow_status }}",
                    "rightValue": "completed",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Workflow completed"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "5bce0460-fe1b-4c68-ad2f-c16a99725512",
                    "leftValue": "={{ $json.parent_workflow_status }}",
                    "rightValue": "failed",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Workflow Failed"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "a36efc2f-ba75-49bc-a296-bbf8bd13d062",
                    "leftValue": "={{ $json.parent_workflow_status }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Error - Unexpected Status"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "f7f099b9-bc47-4fe8-a812-08e77109972e",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO n8n_executions\n(\n  execution_id,\n  workflow_name,\n  started_at,\n  status\n)\nSELECT\n  '{{ $json.parent_workflow_id }}' as execution_id,\n  '{{ $json.parent_workflow_name }}' as workflow_name,\n  '{{ $json.parent_workflow_timestamp }}' as started_at,\n  'running' as status\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        560,
        -176
      ],
      "id": "135a943d-6634-453e-9a0e-dcf0ff5ecf6e",
      "name": "Add new Entry",
      "credentials": {
        "postgres": {
          "id": "l8Ecbn62FzXCDkF9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "errorMessage": "Unexpected Value passed for Workflow Status"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        576,
        144
      ],
      "id": "a9fa9c17-1b7a-4530-87d2-a5a62dd44688",
      "name": "Stop and Error"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE n8n_executions\nSET status = '{{ $json.parent_workflow_status }}',\n    finished_at = '{{ $json.parent_workflow_timestamp }}'\nWHERE execution_id = '{{ $json.parent_workflow_id }}'\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        560,
        -16
      ],
      "id": "678a5866-fcdf-430c-8c66-08443e91387e",
      "name": "Mark Entry Done",
      "credentials": {
        "postgres": {
          "id": "l8Ecbn62FzXCDkF9",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "parent_workflow_name": "Detail Scrape",
          "parent_workflow_id": 123456789,
          "parent_workflow_timestamp": "2026-03-29T11:15:47.000",
          "parent_workflow_status": "completed"
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Add new Entry",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark Entry Done",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark Entry Done",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "saveDataSuccessExecution": "none",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "fd62d3db-faf7-4b1b-82b9-33e8a0c047f0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6819133d7d7a8c3c6c728508316cdaac6420c5bbe2de9a1439bbb952efe61179"
  },
  "id": "QaFnwxOQopzO-wVjL64dl",
  "tags": []
}